<div class="dashboard-chart">

  <div class="dashboard-chart__header">
    <div class="uppercase t-small t-grey t-medium">статистика по задачам</div>

        <div class="dashboard-chart__filter">
          <a href="" class="btn btn-grey btn-small" data-set-date='["2020-07-08", "2020-07-14"]'>Предыдущая</a>
          <a href="" class="btn btn-grey btn-small  active" data-set-date='["2020-07-15", "2020-07-21"]'>Текущая неделя 13-17.04 </a>
          <a href="" class="btn btn-grey btn-small" data-set-date='["2020-07-22", "2020-07-28"]'>Следующая</a>
        </div>

        <div class="js-flatpickr-range-week flatpickr-wrapper " data-def-date='["2020-07-15", "2020-07-21"]' data-start-week="3" >
          <input type="date" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
      
          
          <a class="dropdown-calendar icon icon-white" data-toggle>
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
            </svg>        
          </a>
      
      </div>
  </div>

  <div class="dashboard-chart__body">
    <div class="dashboard-chart__legend">
      <div class="dashboard-chart__legend-item">

        <span class="dashboard-chart__legend-item__color" style="background-color: #DB3B96;"></span>
        <span class="dashboard-chart__legend-item__text">Внеплановые</span>
      </div>
      <div class="dashboard-chart__legend-item">
        <span class="dashboard-chart__legend-item__color" style="background-color: #FFCB13;"></span>
        <span class="dashboard-chart__legend-item__text">Регулярные</span>
      </div>
      <div class="dashboard-chart__legend-item">
        <span class="dashboard-chart__legend-item__color" style="background-color: #2C8DF2;"></span>
        <span class="dashboard-chart__legend-item__text">Основные задачи</span>
      </div>
      <div class="dashboard-chart__legend-item">
        <span class="dashboard-chart__legend-item__color" style="background-color: #B388DD;"></span>
        <span class="dashboard-chart__legend-item__text">Из программ</span>
      </div>

    </div>
    <canvas class="js-bar-stacked" id="chartStats" width="400" height="400"
    data-line-chart="7.6" 
    data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
    data-datasets='[ { "label": "Внеплановые", "backgroundColor": "#DB3B96", "data": [4,2,null,1,null,null,null] }, { "label": "Регулярные", "backgroundColor": "#FFCB13", "data": [2,2,2,2,2,3,2] }, { "label": "Основные задачи", "backgroundColor": "#2C8DF2", "data": [2,4,2,4,6,2,6] }, { "label": "Из программ", "backgroundColor": "#B388DD", "data": [null,null,4,1,null,3,null] } ]'></canvas>
  </div>

</div>