<div class="efficiency-header">

  <div class="efficiency-header__item">
      <div class="dropdown-select__name">
        Показать за
      </div>
      <select name="" id="" class="js-dropdown-select">
        <option value="">Все время</option>

        <option value="">1 день</option>
        <option value="">2 дня</option>
        <option value="">Неделя</option>
        <option value="">Месяц</option>

      </select>

      
    <div class="js-flatpickr-range-week flatpickr-wrapper ">
        <input type="text" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
    
        
        <a class="dropdown-calendar icon icon-white" data-toggle>
          <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
          </svg>        
        </a>
    
    </div>

  </div>

  <div class="efficiency-header__item">

    <span class="efficiency-period js-prev-period">
      <span class="icon icon-white">
        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.55469 1.50195L1.55469 5.50129L5.55469 9.50057" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
      </span> 
      Пред.период
    </span>
    <span class="efficiency-period js-next-period">
      
      След.период
      <span class="icon icon-white">
        <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.46484 9.50195L5.46484 5.50262L1.46484 1.50334" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </span> 
    </span>

  </div>

  <div class="efficiency-header__item">

    <div class="labels-input">

      <label>
        <input type="checkbox">
        <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.917969" y1="1.00195" x2="15.918" y2="1.00195" stroke="#3984EA"/>
          </svg>
          Факт
      </label>

      <label>
        <input type="checkbox">
        <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.292969" y1="1.00195" x2="15.293" y2="1.00195" stroke="#3984EA" stroke-dasharray="2 3"/>
          </svg>
          
          План
      </label>

    </div>

  </div>
  

</div>