
<!-- MODALL show chart full -->
<div class="modal fade efficiency-chart__modal" id="modalShowChart" tabindex="-1" role="dialog" aria-labelledby="modalmodalShowChartTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title efficiency-chart__modal-title" id="modalmodalShowChartTitle">Стоимость отгруженной и/или доставленной клиенту продукции (ЕУ)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.26398 6.70898L12.4539 2.51909C12.6527 2.32059 12.7646 2.05123 12.7648 1.77026C12.7651 1.48929 12.6537 1.21972 12.4552 1.02087C12.2567 0.822021 11.9873 0.710168 11.7064 0.70992C11.4254 0.709672 11.1558 0.821049 10.957 1.01955L6.76709 5.20944L2.5772 1.01955C2.37834 0.820698 2.10864 0.708984 1.82743 0.708984C1.54621 0.708984 1.27651 0.820698 1.07766 1.01955C0.878804 1.2184 0.76709 1.4881 0.76709 1.76932C0.76709 2.05054 0.878804 2.32024 1.07766 2.51909L5.26755 6.70898L1.07766 10.8989C0.878804 11.0977 0.76709 11.3674 0.76709 11.6486C0.76709 11.9299 0.878804 12.1996 1.07766 12.3984C1.27651 12.5973 1.54621 12.709 1.82743 12.709C2.10864 12.709 2.37834 12.5973 2.5772 12.3984L6.76709 8.20853L10.957 12.3984C11.1558 12.5973 11.4255 12.709 11.7068 12.709C11.988 12.709 12.2577 12.5973 12.4565 12.3984C12.6554 12.1996 12.7671 11.9299 12.7671 11.6486C12.7671 11.3674 12.6554 11.0977 12.4565 10.8989L8.26398 6.70898Z" fill="#2B3644" fill-opacity="0.8"/>
            </svg>
            </span>
        </button>
      </div>
      <div class="modal-body">
       
        
        <div class="efficiency-header">

          <div class="efficiency-header__item">
              <div class="dropdown-select__name">
                Показать за
              </div>
              <select name="" id="" class="js-dropdown-select">
                <option value="">Все время</option>
        
                <option value="">1 день</option>
                <option value="">2 дня</option>
                <option value="">Неделя</option>
                <option value="">Месяц</option>
        
              </select>
        
              
            <div class="js-flatpickr flatpickr-wrapper ">
                <input type="text" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
            
                
                <a class="dropdown-calendar icon icon-white" data-toggle>
                  <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                  </svg>        
                </a>
            
            </div>
        
          </div>

          
          <div class="efficiency-header__item">
            <div class="dropdown-select__name">
              Показать за
            </div>
            <select name="" id="" class="js-dropdown-select niceselect-autowidth">
              <option value="">2019</option>
      
              <option value="">2018</option>
              <option value="">2017</option>
              <option value="">2016</option>
              <option value="">2015</option>
      
            </select>
      
            
        
      
        </div>
        
          <div class="efficiency-header__item">
        
            <span class="efficiency-period js-prev-period">
              <span class="icon icon-white">
                <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.55469 1.50195L1.55469 5.50129L5.55469 9.50057" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>          
              </span> 
              Пред.период
            </span>
            <span class="efficiency-period js-next-period">
              
              След.период
              <span class="icon icon-white">
                <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.46484 9.50195L5.46484 5.50262L1.46484 1.50334" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>          
              </span> 
            </span>
        
          </div>
        
          <div class="efficiency-header__item">
        
            <div class="labels-input">
        
              <label>
                <input type="checkbox">
                <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0.917969" y1="1.00195" x2="15.918" y2="1.00195" stroke="#3984EA"/>
                  </svg>
                  Факт
              </label>
        
              <label>
                <input type="checkbox">
                <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line x1="0.292969" y1="1.00195" x2="15.293" y2="1.00195" stroke="#3984EA" stroke-dasharray="2 3"/>
                  </svg>
                  
                  План
              </label>
        
            </div>
        
          </div>
          
        
        </div>

        <div class="efficiency-chart__modal-item">
          <div class="efficiency-chart__status efficiency-chart__status-red">
            -25%
          </div>
          <canvas class="js-line-modal" id="chartStatsModal" width="400" height="400"
          data-line-chart="7.6" 
          data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
          data-datasets='[ { 
            "label": "Факт", 
            "backgroundColor": "rgba(0,0,0,0)", 
            "borderColor": "#3984EA", 
            "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
            "borderWidth": "2",
            "borderWidth": "2", 
            "pointBorderWidth": "0", 
            "pointHoverRadius": "4", 
            "pointHoverBorderColor": "#3984EA", 
            "pointHoverBackgroundColor": "#3984EA", 
            "pointBackgroundColor": "rgba(0,0,0,0)",
            "pointBorderColor": "rgba(0,0,0,0)",
            "pointRadius": "0" }, 
            { 
              "label": "План", 
            "backgroundColor": "rgba(0,0,0,0)", 
            "borderColor": "#3984EA", 
            "data": [0.45,0.15,0.86,0.28,0.42,0.335,0.5532,0.831,0.175,0.905,0.36,0.14], 
          "borderWidth": "2", 
          "pointBorderWidth": "0", 
          "pointHoverRadius": "4", 
          "pointHoverBorderColor": "#3984EA", 
          "pointHoverBackgroundColor": "#3984EA", 
          "pointBackgroundColor": "rgba(0,0,0,0)",
          "pointBorderColor": "rgba(0,0,0,0)",
          "borderDash": [5, 5]
         } ]'
          ></canvas>
        </div>

  
        
      </div>
      <div class="modal-footer">
        <p>

          <b>Двойная статистика.</b>  Сумма остатков мебели на складе - это общая сумма всех остатков мебели, которые хранятся на складе в оптовых ценах. Остатки мебели для клиентов - это общая сумма мебели на складе, которую нужно отгрузить клиентам. Остатки мебели для клиентов - это общая сумма мебели на складе, которую нужно отгрузить клиентам.
          
        </p>
        
        
        
      </div>
    </div>
  </div>
</div>