<div class="user-info-line__wrapper">
  <div class="user-info-line__item user-info-line__item-big">{{item.nameType}}</div>
  <div class="user-info-line__item">{{item.userName}}</div>
  <div class="user-info-line__item user-info-line__item-small">{{item.userType}}</div>
</div>