

.title-top-line
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-bottom: 20px
    +r(768)
        flex-direction: column
    .subordinates-switch
        display: flex
        justify-content: flex-end
        align-items: center
        p
            margin-bottom: 0
            color: #5C677D
            font-size: 12px
        .switch
            margin-bottom: 0
            margin-left: 23px
    .btn-prev-view
        min-width: 40px
        min-height: 40px
        display: flex
        justify-content: center
        align-items: center
        background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
        box-shadow: -4.69208px -2.34604px 18.7683px rgba(255, 255, 255, 0.7), 4.69208px 2.34604px 18.7683px rgba(136, 165, 191, 0.38)
        cursor: pointer
        border-radius: 50%
        +r(768)
            margin-bottom: 10px


.worker-wrap
    width: 100%
    .worker-top
        display: flex
        justify-content: flex-start
        margin-bottom: 13px
        +r(1024)
            display: none
        &__item
            font-size: 12px
            color: #061058
            &:nth-of-type(1)
                flex: 0 0 46%       
            &:nth-of-type(2)
                flex: 0 0 10%  
            &:nth-of-type(3)
                flex: 0 0 25%
            &:nth-of-type(4)
                flex: 0 0 auto             
    .worker-list
        +r(1024)
            display: flex
            flex-wrap: wrap
        &__item
            box-shadow: 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38), -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7)
            display: flex
            justify-content: flex-start
            align-items: center
            margin-bottom: 12px
            background: #fff
            border-radius: 12px
            padding: 22px 28px
            +r(1024)
                flex-direction: column
                flex: 0 0 50%
                margin-bottom: 15px
            +r(1024)
                flex: 0 0 100%
            &:hover
                background: #F8F9FC
                .worker-list-nav
                    transform: opacity 0.3s
                    opacity: 1
            &.hide
                display: none
            .info
                display: flex
                justify-content: flex-start
                align-items: flex-start
                flex: 0 0 30%
                margin-right: 20px
                +r(1024)
                    margin-bottom: 15px
                +r(768)
                    flex-direction: column
                    align-items: center
                    margin-right: 0
                    text-align: center
                .img
                    position: relative
                    min-width: 52px
                    max-width: 52px
                    height: 52px
                    border-radius: 50%
                    margin-right: 20px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        border-radius: 50%
                    .phone
                        position: absolute
                        bottom: 0
                        right: -3px
                        background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
                        box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
                        width: 20px
                        height: 20px
                        border-radius: 50%
                        display: flex
                        justify-content: center
                        align-items: center
                        img
                            width: 12px
                            height: 12px
                .detail
                    .department
                        text-transform: uppercase
                        letter-spacing: 1.5px
                        color: #33415C
                        font-weight: 600
                        margin-bottom: 6px
                        font-size: 12px
                    .flex-wrap
                        display: flex
                        justify-content: flex-start
                        align-items: flex-start
                        flex-direction: column
                        margin-bottom: 8px
                        +r(768)
                            align-items: center
                        .name
                            position: relative
                            font-size: 14px
                            color: #171725
                            font-weight: 600
                            letter-spacing: 0.1px
                            padding-right: 8px
                            margin-right: 8px
                            
                            &::after
                               /* content: ''
                                position: absolute
                                top: 50%
                                right: 0
                                width: 3px
                                height: 3px
                                border-radius: 50%
                                background: #023E7D*/
                        .position
                            font-size: 13px
                            color: #171725
                            letter-spacing: 0.1px
                    .text
                        font-size: 13px
                        color: #696974
                        letter-spacing: 0.1px
            .worker-list-nav
                display: flex
                margin-bottom: 0
                opacity: 0
                transform: opacity 0.3s
                +r(1024)
                    opacity: 1
                    margin-bottom: 10px
                &__item
                    margin-right: 20px
                    svg
                        path
                            fill: #0466C8
                    &:hover
                        svg
                            path
                                fill: #023E7D
                    &.user                        
                        svg
                            path
                                fill: transparent
                                stroke: #0466C8
                                   
                        &:hover
                            svg
                                path
                                    fill: transparent
                                    stroke: #023E7D
            .status-list
                display: flex
                margin-bottom: 0
                position: relative
                padding-left: 45px
                padding-right: 45px
                margin-right: 40px
                &::after,
                &::before
                    content: ''
                    position: absolute
                    top: -20px
                    bottom: 0
                    width: 1px
                    height: 70px
                    background: #D2D4DB
                    opacity: 0.3
                &::after
                    right: 0
                &::before
                    left: 0
                +r(1024)
                    margin-bottom: 15px
                &__item
                    display: none
                .red
                    background: transparent
                &.formed-approved
                    .green
                        display: block
                &.not-approved
                    .red
                        display: block
                &.formed-unapproved
                    .orange
                        display: block
            .week-list
                display: flex
                justify-content: flex-start
                align-items: flex-start
                letter-spacing: 0.1px
                flex: 0 0 27%
                position: relative
                margin-right: 32px
                &::after
                    content: ''
                    position: absolute
                    right: 0
                    top: 0px
                    bottom: 0
                    width: 1px
                    height: 70px
                    background: #D2D4DB
                    opacity: 0.3
                &__item
                    text-align: center
                    margin-right: 15px
                    .day
                        font-size: 11px
                        color: #7D8597
                    .num
                        font-size: 14px
                        font-weight: 600
                        color: #002855
                    .percent
                        font-size: 12px
                        color: #BDBDBD
                        &.red
                            background: transparent
                            color: #EB5757
                        &.green
                            color: #33A8A4
            .img-graf
                width: 15%
                height: 65px
                canvas
                    height: 100% !important
                                        
