.dashboard-tasks
  &__timepick
    padding-left: 10px
    input
      box-sizing: border-box
      border-radius: 4px
      padding: 7px 15px
      display: block
      color: rgba(43,54,68,.8)
      border: 1px solid #c0cfe3 !important
      background: url(../img/icon/line-group.svg)
      background-repeat: no-repeat
      background-position: 90% center
      
      max-width: 80px
  &__group
    display: flex
    flex-wrap: wrap
    margin-bottom: 15px
    &-center
      justify-content: center
      align-items: center
  &__label
    font-size: 12px
    text-transform: uppercase
    color: #92A3BA
    +rb-m
    width: 100%
    margin-bottom: 7px
    &-line
      width: auto
      margin-bottom: 0
  &__input
    border: 1px solid #C0CFE4
    border-radius: 4px
    width: 100%
    font-size: 14px
    color: rgba(#2B3644, .8)
    padding: 8px 10px
  &__modal
    .modal-dialog
      min-width: 684px
      max-width: 690px
      +r(800)
        min-width: 100px
    &-title
      text-align: center
      color: #2B3644
      opacity: 0.8
      font-size: 14px
      +rb-b
      margin: 0 auto
    .modal-footer
      border-top: 0
      display: flex
      justify-content: center
      padding-top: 0
      padding-bottom: 35px
      .btn-primary
        color: #fff
        background: #004E9C
    .modal-header
      border-bottom: 0 !important
      padding-top: 41px
      border-radius: 0 !important
    .close
      position: absolute
      top: 40px
      right: 28px
      padding: 0
      margin: 0
      background: transparent
  &__body
    margin-bottom: 10px
    display: flex
    flex-wrap: wrap
    > div
      width: 100%
  &__header
    display: flex
    flex-wrap: wrap
    margin-bottom: 12px
    padding-right: 30px
    justify-content: space-between
    align-items: center
  &__item
    background: #FFFFFF
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    border-radius: 12px
    margin-bottom: 12px
    padding: 26px 34px 36px 22px
    display: flex
    flex-wrap: wrap
    position: relative
    overflow: hidden
    &:last-of-type
      margin-bottom: 0
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 7px !important
      height: 100%
    &-disabled
      opacity: 0.5
      order: 100000
    &-complete
      &::before
        background: $green
    &-overdue
      &::before
        background: $red
    &.bg-green
      background: linear-gradient(357.92deg, rgba(#0DB076,0.2)  6.35%, rgba(#38EF7D, 0.2)  166.22%)
  &__side
    flex: 1 0 100%
    width: 100%
    display: flex
    flex-wrap: wrap
    max-width: 307px
    margin-right: 17px
  &__title
    font-size: 14px
    +rb-sb
    color: $black
    margin-bottom: 6px
    &-side
      padding-left: 16px
      flex: 1
  &__text
    font-size: 13px
    color: #696974
  &__type
    margin-top: 18px
    font-size: 13px
    color: #FC5A5A
    background: rgba(#FC5A5A, 0.1)
    padding: 3px 9px
    border-radius: 5px
    display: inline-flex
    align-items: center
    svg
      fill: #FC5A5A
      margin-right: 6px
      align-items: center
    &.disabled
      background: #EFF4FF
      color: #8099D0
  &__time
    color: $blue-d
    font-size: 12px
    +rb-sb
    margin-left: 0px
    position: relative
    top: 2px
    width: 100%
    text-align: right
    &-wrapper
      margin-left: auto
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      align-items: flex-end
      flex: 1
      flex-direction: column

  &__status
    margin-left: 0px
  &__state
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    &-text
      overflow: hidden
      padding: 2px 6px
      border-radius: 4px
      font-size: 12px
      +rb-m
      text-align: center
      width: 120px
      span
        position: relative
        z-index: 1
    &-unscheduled
      .dashboard-tasks__state-text
        background: rgba($violet, 0.1)
        color: $violet
    &-main
      .dashboard-tasks__state-text
        position: relative
        background:  $greenl-rad
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        &::before
          content: ''
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          background: rgba($green-l, 0.1)
    &-program
      .dashboard-tasks__state-text
        background: rgba($blue, 0.1)
        color: $blue
    &-regular
      .dashboard-tasks__state-text
        background: rgba($orange-l, 0.1)
        color: $orange-l


.dashboard-notif
  margin-top: 45px
  &__header
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 20px
    +r(414)
      position: relative
    .dropdown-select__wrapper
      margin-left: auto
      margin-right: 12px
      +r(414)
        display: flex
        flex-wrap: wrap
        flex-direction: column
        align-items: flex-start
        margin-top: 10px
        margin-left: 0
        .dropdown-select__name
          margin-bottom: 6px
    .flatpickr-wrapper
      +r(414)
        position: absolute
        right: 0
        top: 0
    .t-grey
      +r(414)
        width: 100%
        padding-right: 40px
  &__item
    display: flex
    flex-wrap: wrap
    background: #ffffff
    border-bottom: 1px solid #CADCFE
    padding: 25px 20px
    box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
    &:first-of-type
      border-top-right-radius: 5px
      border-top-left-radius: 5px
  &__icon
    background: #DDEBFF
    border-radius: 6px
    width: 28px
    height: 28px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 10px
  &__info
    flex: 1
    max-width: 314px
    max-width: 350px
    +r(991)
      flex: 1 0 calc(100% - 40px)
      max-width: calc(100% - 40px)
      width: calc(100% - 40px)
    &-title
      font-size: 13px
      line-height: 15px
      color: rgba(43, 54, 68, 0.8)
    &-text
      font-size: 13px
      line-height: 15px
      color: #5D6C80
      margin-top: 7px
  &__time
    font-size: 13px
    line-height: 15px
    text-align: center

    color: #92A3BA
    margin-left: 5%
    min-width: 40px
    display: flex
    align-items: center
  &__status
    display: flex
    flex-wrap: wrap
    flex-direction: column
    margin-left: auto
    justify-content: center
    min-width: 85px
    &-item
      border-radius: 20px
      font-size: 10px
      line-height: 140%
      padding: 2px 9px
      &-wrapper
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-bottom: 6px
        &:last-of-type
          margin-bottom: 0
      &-red
        color: #ED2454
        background: rgba(237, 36, 84, 0.2)
      &-green
        background: rgba(12, 201, 53, 0.2)
        color: #0CC935
        text-align: center
  &__eye
    margin-left: auto
    min-width: 32px
    display: flex
    align-items: center
    display: none
  &__footer
    background: #ffffff
    padding: 28px 20px
    box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
  &__pagina
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 0 auto
    justify-content: center
    &-item
      display: flex
      align-items: center
      justify-content: center
      
      margin-left: 6px
      margin-right: 6px
      &:first-of-type
        margin-right: 18px
      &:last-of-type
        margin-left: 18px
    &-link
      font-size: 10px
      line-height: 12px
      letter-spacing: 0.5em
      color: #5D6C80
      display: flex
      justify-content: center
      &:hover
        text-decoration: none
      &.active
        color: #004E9C



.dashboard-planing
  +r(767)
    margin-top: 30px
  &__header
    margin-bottom: 11px
    width: 100%
    display: flex
    align-items: baseline
    min-height: 36px
    .header-more-link
      font-weight: 600
      font-size: 12px
      line-height: 20px
      text-align: right
      color: #33415C
      border-bottom: 1px dashed  #33415C
      margin-left: auto
      line-height: 1.4
    
  &__body
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    background: #fff
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    border-radius: 12px
    padding: 12px 26px
    padding-bottom: 28px
    &-b-gap
      padding-bottom: 0
  &__item
    display: flex
    flex-wrap: wrap
    align-items: center
    &-side
      + .dashboard-planing__item-progress
        margin-left: 16px
    &-time
      +rb-b
      font-size: 18px
      color: #002855
      span
        color: #7D8597
        font-size: 12px
        +rb
    &-date
      text-transform: uppercase
      color: #33415C
      +rb-sb
      font-size: 11px
      align-items: center
      display: flex
      &__text
        margin: 0 4px
        position: relative
        top: 1px
      svg
        width: 12px
        height: 14px
        fill: #0353A4
    &-progress
      height: 100%
      position: relative
      &__text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 15px
        color: #0353A4
        span
          font-size: 10px
          margin-left: 2px
      canvas
        position: relative
        top: -4px
        height: 62px
      + .dashboard-planing__item-side
        margin-left: 16px
        .dashboard-planing__item-date
          text-align: right
          justify-content: flex-end

  &__dates
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    flex: 1 0 100%
    max-width: 100%
    padding-top: 16px
    &-body
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      flex: 1
      overflow: hidden
  &__label
    font-size: 11px
    line-height: 13px
    text-align: center
    letter-spacing: 0.1px
    color: #7D8597
    height: 15px
    display: flex
    align-items: flex-end
    margin-bottom: 3px
    + .dashboard-planing__label
      margin-bottom: 0
      height: 21px
  &__date
    padding-bottom: 17px
    padding-left: 9px
    padding-right: 9px
    padding-top: 3px
    &-start
      padding-left: 0
    &.is-current
      border-radius: 5px 5px 0px 0px
      background: rgba(#979DAC, .1)
      position: relative
      &::before
        content: ''
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0L8.39711 6.75H0.602886L4.5 0Z' fill='%230466C8'/%3E%3C/svg%3E%0A")
        width: 9px
        height: 9px
        position: absolute
        bottom: -2px
        left: 50%
        transform: translateX(-50%)
    &-day
      font-size: 11px
      line-height: 13px
      text-align: center
      letter-spacing: 0.1px
      color: #7D8597
      padding-bottom: 3px
    &-item
      font-size: 14px
      line-height: 17px
      text-align: center
      letter-spacing: 0.1px
      color: #002855
      +rb-sb
      padding-bottom: 7px
    &-status
      font-size: 12px
      line-height: 15px
      text-align: center
      letter-spacing: 0.1px
      color: #BDBDBD
      &__over
        color: #EB5757
      &__ok
        color: #219653


.dashboard
  &__info
    &-text
      font-size: 13px
      padding: 5px 16px
      position: relative
      border-radius: 5px
      overflow: hidden
      +rb-m
      span
        position: relative
        z-index: 5
      &.red
        color: #FC5A5A
        background: rgba(#FC5A5A, 0.1)
      &.green
        background:   #33A8A4
        
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        &::before
          content: ''
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          background: #EBF6F6


.dashboard-chart
  margin-top: 40px
  &__body
    margin-bottom: 40px
    canvas
      height: 100%
      max-height: 555px
  &__legend
    display: flex
    flex-wrap: wrap
    padding-left: 9px
    &-item
      display: flex
      flex-wrap: wrap
      align-items: center
      margin-right: 24px
      margin-bottom: 13px
      &:last-of-type
        margin-right: 0
      &__color
        border-radius: 3px
        width: 18px
        height: 18px
        margin-right: 11px
      &__text
        font-size: 12px
        line-height: 14px

        color: rgba(43, 54, 68, 0.8)
  &__filter
    flex: 1
    display: flex
    flex-wrap: wrap
    +r(1260)
      justify-content: flex-start
      margin-top: 25px
      width: 100%
      flex: 1 0 100%
      max-width: 100% 
      flex-wrap: wrap
    .btn
      margin: 0 5px
      +r(1260)
        margin-left: 0
        margin-right: 20px
        &:last-of-type
          margin-right: 0
      +r(960)
        margin-bottom: 8px
  &__header
    margin-bottom: 20px
    display: flex
    flex-wrap: wrap
    align-items: center
    +r(1260)
      position: relative
    +r(414)
      position: relative
    .t-grey
      +r(414)
        width: 100%
        padding-right: 40px
    .flatpickr-wrapper
      +r(1260)
        position: absolute
        top: 0
        right: 0
      +r(414)
        position: absolute
        right: 0
        top: 0
    .t-medium
      width: 100%
      flex: 1 0 100%
      max-width: 100%
      margin-bottom: 15px
    .dropdown-select__wrapper
      margin-left: auto
      margin-right: 12px
      +r(414)
        display: flex
        flex-wrap: wrap
        flex-direction: column
        align-items: flex-start
        margin-top: 10px
        margin-left: 0
        .dropdown-select__name
          margin-bottom: 6px
  &__body
    background: #FFFFFF
    box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
    border-radius: 5px
    padding: 15px


.notiff-item
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  width: 100%
  margin-bottom: 14px
  &:last-of-type
    margin-bottom: 0
  &__side
    font-size: 13px
    color: #171725
    flex: 1
    a
      color: #0466C8
      +rb-sb
  &__time
    display: flex
    justify-content: flex-end
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.1px
    color: #696974
.notiff-wrapper
  margin-top: 21px