.full-page-slider
  *
    box-sizing: border-box
  height: 100vh
  .swiper-wrapper
    flex-direction: column
  .swiper-slide
    > div
      overflow-y: auto
      height: calc(100vh - 145px) !important


.hidden-o
  overflow: hidden !important
  
.wrapper__inner-side-1
  position: relative
.btn-go-to
  min-width: 40px
  min-height: 40px
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  background: -o-radial-gradient(-124.11% -101.79%,315.18% 315.18%,#b9cce2 11.1%,#fff 85.21%),#e3edf7
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%,#b9cce2 11.1%,#fff 85.21%),#e3edf7
  -webkit-box-shadow: -4.69208px -2.34604px 18.7683px rgba(255,255,255,.7), 4.69208px 2.34604px 18.7683px rgba(136,165,191,.38)
  box-shadow: -4.69208px -2.34604px 18.7683px rgba(255,255,255,.7), 4.69208px 2.34604px 18.7683px rgba(136,165,191,.38)
  cursor: pointer
  border-radius: 50%
  position: fixed
  left: 50%
  bottom: 142px
  z-index: 10
  transform: translateX(-50%)