.header
  padding-bottom: 37px
  .nav-hamburg
    display: none
    +r(1024)
      display: block
      cursor: pointer
      position: absolute
      right: 20px
      top: 20px
      z-index: 200

.header-top-page
  display: flex
  align-items: center
  flex-wrap: wrap
  &__buttons
    justify-content: flex-end
    display: flex
    align-items: center
    margin-left: auto
    a
      &.btn-blue
        margin-right: 20px
      &.btn-rounded
        margin-left: 12px
        &:first-of-type
          margin-right: 0
  .calendar-select__wrapper
    flex: 1
    margin-left: 12px
  .btn.btn-blue
    height: 36px