<div class="dashboard-planing">

  <div class="dashboard-planing__header">
    <div class="header-small">Затраты времени</div>
  </div>

  <div class="dashboard-planing__body dashboard-planing__body-b-gap ">
    
      <!-- BEGIN .dashboard-planing__item -->
      <div class="dashboard-planing__item">

        <!-- BEGIN .dashboard-planing__item-side -->
        <div class="dashboard-planing__item-side">

          <span class="dashboard-planing__item-date"> {{mixins.icon('mdi_calendar-today')}} <span class="dashboard-planing__item-date__text">сегодня</span> </span>
          <span class="dashboard-planing__item-time"> 5 ч <span class="t-grey t-small">из 8 ч</span> </span>
        </div>
        <!-- END .dashboard-planing__item-side -->

        <!-- BEGIN .dashboard-planing__item-progress  -->
        <div class="dashboard-planing__item-progress">
          <span class="dashboard-planing__item-progress__text">
            62<span>%</span>
          </span>
          <canvas class="js-progress__chart" data-val="62"></canvas>
        </div>
        <!-- END .dashboard-planing__item-progress -->

      </div>
      <!-- END .dashboard-planing__item -->
      <div class="dashboard-planing__info">
        <!-- .green or .red -->
        <span class="dashboard__info-text red">
          
          <span>Вы отстаете от плана</span>
          
        </span>
      </div>
       <!-- BEGIN .dashboard-planing__item -->
       <div class="dashboard-planing__item">

        <!-- BEGIN .dashboard-planing__item-progress  -->
        <div class="dashboard-planing__item-progress">
          <span class="dashboard-planing__item-progress__text">
            35<span>%</span>
          </span>
          <canvas class="js-progress__chart"  data-val="35"></canvas>
        </div>
        <!-- END .dashboard-planing__item-progress -->

        <!-- BEGIN .dashboard-planing__item-side -->
        <div class="dashboard-planing__item-side">

          <span class="dashboard-planing__item-date"> <span class="dashboard-planing__item-date__text">НЕДЕЛЯ</span>  {{mixins.icon('mdi_calendar-week')}}</span>
          <span class="dashboard-planing__item-time"> 12 ч <span class="t-grey t-small">из 35 ч</span> </span>
        </div>
        <!-- END .dashboard-planing__item-side -->

      </div>
      <!-- END .dashboard-planing__item -->

      <!-- begin dashboard-planing__dates -->

      <div class="dashboard-planing__dates">

        <!-- dashboard-planing__date -->
        <div class="dashboard-planing__date dashboard-planing__date-start">

          <div class="dashboard-planing__date-day">
            &nbsp;
          </div>
          <div class="dashboard-planing__label">
            дата
          </div>
          <div class="dashboard-planing__label">
            план
          </div>
  
        </div>

        <!-- begin dashboard-planing__dates-body -->
        <div class="dashboard-planing__dates-body">
     

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          пн
        </div>
        <div class="dashboard-planing__date-item">
          28
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__ok">
          100%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          вт
        </div>
        <div class="dashboard-planing__date-item">
          28
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__no">
          88%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          ср
        </div>
        <div class="dashboard-planing__date-item">
          29
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__no">
          60%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date is-current">

        <div class="dashboard-planing__date-day">
          чт
        </div>
        <div class="dashboard-planing__date-item">
          30
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__no">
          62%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          пт
        </div>
        <div class="dashboard-planing__date-item">
          30
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__over">
          152%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          сб
        </div>
        <div class="dashboard-planing__date-item">
          30
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__over">
          152%
        </div>

      </div>

      <!-- dashboard-planing__date -->
      <div class="dashboard-planing__date">

        <div class="dashboard-planing__date-day">
          вс
        </div>
        <div class="dashboard-planing__date-item">
          31
        </div>
        <div class="dashboard-planing__date-status dashboard-planing__date-status__over ">
          100%
        </div>

      </div>
      <!--  -->


           
    </div>
    <!-- end dashboard-planing__dates-body -->

    </div>

      <!-- end dashboard-planing__dates -->

  </div>



</div>