<div class="dashboard-tasks">
  <div class="dashboard-tasks__header">
    <div class="header-mid">Pадачи на сегодня, <span class="sub-header">24 июля 2020</span> <span class="btn-gradient js-show-add-task-popup">{{mixins.icon('carbon_add')}}</span>  </div>
    <div class=" t-small t-blue">Общее время: <span class="t-bold">12 ч 30 м</span></div>
  </div>

  <div class="dashboard-tasks__body">

    {% for item in dashboardTasks %}
      {% include "partials/dashboard/tasks/_task.html" %}
    {% endfor %}


  </div>

  <!-- <a href="" class="btn btn-transparent js-show-add-task-popup">+ Добавить внеплановую</a> -->

</div>