<!-- begin .dashboard-tasks__item -->
<div class="
dashboard-tasks__item  
{% if item.disabled %} dashboard-tasks__item-{{item.disabled}} {% endif %} 
{% if item.complete %} dashboard-tasks__item-complete {% endif %} 
{% if item.overdue %} dashboard-tasks__item-overdue {% endif %} 

">


    <div class="dashboard-tasks__side">
      <div class="dashboard-tasks__status">
        {% if item.complete %} 
        <input class="js-dashboard-tasks__status-toggle" type="checkbox" name=""  checked />
        {% else %}
        <input class="js-dashboard-tasks__status-toggle" type="checkbox" name=""  />
        {% endif %}
     
      </div>
      <!-- START .dashboard-tasks__title-side -->
      <div class="dashboard-tasks__title-side">

        <div class="dashboard-tasks__title">
          {{item.title}} 
        </div>
    

        <div class="dashboard-tasks__text">{{item.text}}</div>

      </div>
      <!-- END .dashboard-tasks__title-side -->
    
    
     
    </div>


    {% if item.status %} 

    <div class="dashboard-tasks__state dashboard-tasks__state-{{item.statustype}}">
      <span class="dashboard-tasks__state-text"> <span>{{item.status}}</span> </span>
      
    </div>

    {% endif %}
        
    <div class="dashboard-tasks__time-wrapper">

      <div class="dashboard-tasks__time">
        {{item.time}}
      </div>
      {% if item.disabledtype %}<span class="dashboard-tasks__type"> {{mixins.icon('time-forward')}}  {{item.type}}</span>{% endif %}

    </div>

</div>
<!-- end .dashboard-tasks__item -->