.wrapper
  padding: 34px 38px
  padding-left: 93px
  +r(768)
    padding-left: 60px
    padding-right: 5px
a.edit
  font-size: 12px
  display: inline-flex
  align-items: center
a.close
  font-size: 12px
  display: inline-flex
  align-items: center