+font('Inter', 'Inter-Regular')
+font('Intermedium', 'Inter-Medium')
+font('Intersemibold', 'Inter-SemiBold')
+font('Interbold', 'Inter-Bold')
  

=rb
  font-family: 'Inter', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=rb-m
  font-family: 'Intermedium', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=rb-sb
  font-family: 'Intersemibold', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font


=rb-b
  font-family: 'Interbold', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

a
  color: inherit
  text-decoration: none


.uppercase
  text-transform: uppercase

.text-normalw
  +rb

.t
  &-small
    font-size: 12px
  &-small-b
    font-size: 14px
    line-height: 140%
  &-big
    font-size: 30px  

.t
  &-grey
    color: #92A3BA
  &-dark-l
    color: rgba(43, 54, 68, 0.8)
  &-blue
    color: $blue-d

.t
  &-medium
    +rb-m
  &-bold
    +rb-b

.t
  &-s
    &-medium
      font-size: 18px

.header-mid
  color: $darkblue
  +rb-b
  font-size: 20px
  display: flex
  align-items: center
  .btn-gradient
    margin-left: 13px
  .sub-header
    margin-left: 6px
    position: relative
    top: 1px
    
.main-big-title
  font-size: 20px
  +rb-b
  color: $darkblue
  margin-bottom: 10px

.header-small
  font-size: 16px
  color: $darkblue
  +rb-b

.sub-header
  font-size: 16px
  +rb-sb
  color: $darkblue