
// body
//   +rb

.container
  // max-width: 1260px
  &-b
    max-width: 1275px
    padding-left: 0
    padding-right: 0
  &-big
    max-width: 1300px
    margin: 0 auto

.table
  thead
    th
      border-bottom: 0
      border-top: 0

.text-nouppercase 
  text-transform: none

.edit
  cursor: pointer

.add-btn
  cursor: pointer

.structure-list
  
  &__new
    &-item
      display: flex
      flex-wrap: wrap
      position: relative
      padding-left: 26px
      &::before
        content: ''
        position: absolute
        width: 14px
        height: 14px
        top: 11px
        left: 0
        border-radius: 50%
        background: #00A1FF
        border: 2px solid #fff
        z-index: 1
      &:not(.structure-list__new-item-hasinner)
        
        &::after
          content: ''
          position: absolute
          width: 1px
          height: 100%
          left: 7px
          top: 25px
          background: #00A1FF
        
      &:last-of-type
        &:not(.structure-list__new-item-hasinner)
          &::after
            display: none
      &-hasinner
        &::after
          content: ''
          position: absolute
          left: 7px
          top: 25px
          background-repeat: no-repeat !important
          width: 20px !important
          height: 44px !important
          display: block !important
          background: transparent !important
          
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='44' viewBox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L1 35.9636C0.999968 43 3.6 43 20 43' stroke='%230087D6'/%3E%3C/svg%3E%0A") !important
          background-position: left bottom
          
      span
        overflow: hidden
        position: relative
        display: flex
        width: 100% 
        background: rgba(255, 255, 255, 0.5)
        box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
        border-radius: 8px 8px 8px 0px
        margin-bottom: 16px
        padding-left: 40px
        padding-right: 15px
        padding-top: 7px
        padding-bottom: 9px
        color: #001233
        font-size: 13px
        +rb-sb
        line-height: 1
        height: 34px
        align-items: center

    &-inner
      
      width: 100%
      margin-left: auto
      &--red
        > li
          >
            span
              background: linear-gradient(251.35deg, #ec3528 0%,#DE1306 100%)
              box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
              color: #fff
      &--blue
        > li
          >
            span
              background: linear-gradient(251.35deg, #00A1FF 0%, #0081CC 100%)
              box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
              color: #fff
      &--green
        > li
          >
            span
              background: linear-gradient(251.35deg, #01a00e 0%, #289b32 100%)
              box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
              color: #fff
      &__item
        position: relative
        padding-left: 26px
        &:not(.structure-list__new-item-hasinner)
          &::before
            content: ''
            position: absolute
            width: 14px
            height: 14px
            top: 11px
            left: 0
            border-radius: 50%
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='3.5' stroke='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='8' y1='-7.06294e-07' x2='-1.60592' y2='3.2426' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300A1FF'/%3E%3Cstop offset='1' stop-color='%230081CC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
            background-color: #fff
            background-position: center center
            background-size: contain
            background-repeat: no-repeat
            border: 2px solid #fff
            z-index: 1
          &::after
            content: ''
            position: absolute
            width: 1px
            height: 110%
            left: 7px
            top: 26px
            background: #00A1FF
        &:last-of-type
          &:not(.structure-list__new-item-hasinner)
            &::after
              display: none
            
        &-hasinner
          &::after
            background-repeat: no-repeat !important
            width: 20px !important
            height: 44px !important
            display: block !important
            background: transparent !important
            
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='44' viewBox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L1 35.9636C0.999968 43 3.6 43 20 43' stroke='%230087D6'/%3E%3C/svg%3E%0A") !important
            background-position: left bottom
        span
          overflow: hidden
          position: relative
          display: flex
          width: 100% 
          box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
          border-radius: 0px 8px
          margin-bottom: 16px
          padding-left: 40px
          padding-right: 15px
          padding-top: 7px
          padding-bottom: 9px
          font-size: 13px
          +rb-sb
  &--red
    >
      span
        &::before
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 1px
          background: #F44336
    &-line
      &::before
        content: ''
        position: absolute
        width: 14px
        height: 14px
        top: 11px
        left: 0
        border-radius: 50%
        background: #F44336
        border: 2px solid #fff
        z-index: 1
      &:not(.structure-list__new-item-hasinner)
        
        &::after
          content: ''
          position: absolute
          width: 1px
          height: 100%
          left: 7px
          top: 25px
          background: #F44336
        .structure-list__new-item-hasinner
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='44' viewBox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L1 35.9636C0.999968 43 3.6 43 20 43' stroke='%23F44336'/%3E%3C/svg%3E%0A") !important
          background-position: left bottom
  &--orange
    >
      span
        &::before
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 1px
          background: #FBC02D