


<div class="wrapper__inner-side-2">
  <div class="container">
    <div class="row">
     
        <div class="title-top-line">
            <h2 class="title-page">Мои сотрудники</h2>
            <button class="btn-prev-view js-go-to-1" data-toggle="tooltip" data-placement="bottom" title="Перейти к Рабочему столу">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.50065 8.33333H3.66732C1.82637 8.33333 0.333984 9.82572 0.333984 11.6667V13.3333C0.333984 15.1743 1.82637 16.6667 3.66732 16.6667H4.50065C6.3416 16.6667 7.83399 15.1743 7.83399 13.3333V11.6667C7.83399 9.82572 6.3416 8.33333 4.50065 8.33333ZM2.00065 11.6667C2.00065 10.7462 2.74684 10 3.66732 10H4.50065C5.42113 10 6.16732 10.7462 6.16732 11.6667V13.3333C6.16732 14.2538 5.42113 15 4.50065 15H3.66732C2.74684 15 2.00065 14.2538 2.00065 13.3333V11.6667Z" fill="#0466C8"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.16732 2.91667C6.16732 1.30584 4.86148 0 3.25065 0C1.63982 0 0.333984 1.30584 0.333984 2.91667V3.75C0.333984 5.36083 1.63982 6.66667 3.25065 6.66667C4.86148 6.66667 6.16732 5.36083 6.16732 3.75V2.91667ZM2.00065 2.91667C2.00065 2.22631 2.5603 1.66667 3.25065 1.66667C3.94101 1.66667 4.50065 2.22631 4.50065 2.91667V3.75C4.50065 4.44036 3.94101 5 3.25065 5C2.5603 5 2.00065 4.44036 2.00065 3.75V2.91667Z" fill="#0466C8"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6673 7.5H12.834C10.993 7.5 9.50065 8.99239 9.50065 10.8333V13.3333C9.50065 15.1743 10.993 16.6667 12.834 16.6667H13.6673C15.5083 16.6667 17.0007 15.1743 17.0007 13.3333V10.8333C17.0007 8.99239 15.5083 7.5 13.6673 7.5ZM11.1673 10.8333C11.1673 9.91286 11.9135 9.16667 12.834 9.16667H13.6673C14.5878 9.16667 15.334 9.91286 15.334 10.8333V13.3333C15.334 14.2538 14.5878 15 13.6673 15H12.834C11.9135 15 11.1673 14.2538 11.1673 13.3333V10.8333Z" fill="#0466C8"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.084 0H10.7507C9.13982 0 7.83399 1.30584 7.83399 2.91667C7.83399 4.5275 9.13982 5.83333 10.7507 5.83333H14.084C15.6948 5.83333 17.0007 4.5275 17.0007 2.91667C17.0007 1.30584 15.6948 0 14.084 0ZM9.50065 2.91667C9.50065 2.22631 10.0603 1.66667 10.7507 1.66667H14.084C14.7743 1.66667 15.334 2.22631 15.334 2.91667C15.334 3.60702 14.7743 4.16667 14.084 4.16667H10.7507C10.0603 4.16667 9.50065 3.60702 9.50065 2.91667Z" fill="#0466C8"/>
                </svg>  
                                      
            </button>
            <div class="subordinates-switch">
                <p class="title">Показывать только прямых подчиненных</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="worker-wrap">
            <div class="worker-top">
                <div class="worker-top__item">Сотрудник</div>
                <div class="worker-top__item">Статус по планам</div>
                <div class="worker-top__item">Загрузка на неделю</div>
                <div class="worker-top__item">График эффективности</div>
            </div>
            <div class="worker-list">
                <div class="worker-list__item">
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/1.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">реклама</div>
                            <div class="flex-wrap">
                                <div class="name">Шевченко Дмитрий</div>
                                <div class="position">PR-менеджер</div>
                            </div>
                            <div class="text">Сохраненные и учтенные денежные и материальные активы</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list formed-unapproved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                        <canvas class="chartGreen" width="400" height="400"
                        data-line-chart="7.6" 
                        data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
                        data-datasets='[ { 
                          "label": "Факт", 
                          "backgroundColor": "rgba(0,0,0,0)", 
                          "borderColor": "#EB5757", 
                          "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
                          "borderWidth": "1",
                          "borderWidth": "1", 
                          "pointBorderWidth": "0", 
                          "pointHoverRadius": "0", 
                          "pointHoverBorderColor": "#EB5757", 
                          "pointHoverBackgroundColor": "#EB5757", 
                          "pointBackgroundColor": "rgba(0,0,0,0)",
                          "pointBorderColor": "rgba(0,0,0,0)",
                          "pointRadius": "0" } ]'
                        ></canvas>
                    </div>
                    
                </div>

                <!--2-->
                <div class="worker-list__item direct"> 
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/2.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">SMM</div>
                            <div class="flex-wrap">
                                <div class="name">Алина Серебрянникова</div>
                                <div class="position">SMM-Менеджер</div>
                            </div>
                            <div class="text">Продвигать компанию в соцсетях и обеспечивать узнаваемость бренда</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list formed  not-approved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">сб</div>
                            <div class="num">1</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вс</div>
                            <div class="num">2</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                        <canvas class="chartGreen" width="400" height="400"
                        data-line-chart="7.6" 
                        data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
                        data-datasets='[ { 
                          "label": "Факт", 
                          "backgroundColor": "rgba(0,0,0,0)", 
                          "borderColor": "#52C41A", 
                          "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
                          "borderWidth": "1",
                          "borderWidth": "1", 
                          "pointBorderWidth": "0", 
                          "pointHoverRadius": "0", 
                          "pointHoverBorderColor": "#52C41A", 
                          "pointHoverBackgroundColor": "#52C41A", 
                          "pointBackgroundColor": "rgba(0,0,0,0)",
                          "pointBorderColor": "rgba(0,0,0,0)",
                          "pointRadius": "0" } ]'
                        ></canvas>
                    </div>
                   
                </div>

                <!--3-->
                <div class="worker-list__item">
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/3.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">реклама</div>
                            <div class="flex-wrap">
                                <div class="name">Ирина Карпова</div>
                                <div class="position">PR-менеджер</div>
                            </div>
                            <div class="text">Сохраненные и учтенные денежныеи материальные активы</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list formed formed-approved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">сб</div>
                            <div class="num">1</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вс</div>
                            <div class="num">2</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                        <canvas class="chartGreen" width="400" height="400"
                        data-line-chart="7.6" 
                        data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
                        data-datasets='[ { 
                          "label": "Факт", 
                          "backgroundColor": "rgba(0,0,0,0)", 
                          "borderColor": "#EB5757", 
                          "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
                          "borderWidth": "1",
                          "borderWidth": "1", 
                          "pointBorderWidth": "0", 
                          "pointHoverRadius": "0", 
                          "pointHoverBorderColor": "#EB5757", 
                          "pointHoverBackgroundColor": "#EB5757", 
                          "pointBackgroundColor": "rgba(0,0,0,0)",
                          "pointBorderColor": "rgba(0,0,0,0)",
                          "pointRadius": "0" } ]'
                        ></canvas>
                    </div>
                    <!--     {% include "partials/dashboard/user-chart/_index.html" %}-->
                </div>

                <!--4-->
                <div class="worker-list__item direct">
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/4.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">Юридический отдел</div>
                            <div class="flex-wrap">
                                <div class="name">Мария Сороченко</div>
                                <div class="position">Юристконсульт</div>
                            </div>
                            <div class="text">Безпоасность компании в правовом поле и согласованность всех процедур</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list not-approved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                        <canvas class="chartGreen" width="400" height="400"
                        data-line-chart="7.6" 
                        data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
                        data-datasets='[ { 
                          "label": "Факт", 
                          "backgroundColor": "rgba(0,0,0,0)", 
                          "borderColor": "#52C41A", 
                          "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
                          "borderWidth": "1",
                          "borderWidth": "1", 
                          "pointBorderWidth": "0", 
                          "pointHoverRadius": "0", 
                          "pointHoverBorderColor": "#52C41A", 
                          "pointHoverBackgroundColor": "#52C41A", 
                          "pointBackgroundColor": "rgba(0,0,0,0)",
                          "pointBorderColor": "rgba(0,0,0,0)",
                          "pointRadius": "0" } ]'
                        ></canvas>
                    </div>
                    <!--     {% include "partials/dashboard/user-chart/_index.html" %}-->
                </div>

                <!--5-->
                <div class="worker-list__item">
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/5.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">продажи</div>
                            <div class="flex-wrap">
                                <div class="name">Ефим Минченко</div>
                                <div class="position">Head of Sales</div>
                            </div>
                            <div class="text">Обеспечивать великолепные результаты продаж каждый месяц</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list formed-approved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">сб</div>
                            <div class="num">1</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вс</div>
                            <div class="num">2</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                        <canvas class="chartGreen" width="400" height="400"
                        data-line-chart="7.6" 
                        data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
                        data-datasets='[ { 
                          "label": "Факт", 
                          "backgroundColor": "rgba(0,0,0,0)", 
                          "borderColor": "#EB5757", 
                          "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
                          "borderWidth": "1",
                          "borderWidth": "1", 
                          "pointBorderWidth": "0", 
                          "pointHoverRadius": "0", 
                          "pointHoverBorderColor": "#EB5757", 
                          "pointHoverBackgroundColor": "#EB5757", 
                          "pointBackgroundColor": "rgba(0,0,0,0)",
                          "pointBorderColor": "rgba(0,0,0,0)",
                          "pointRadius": "0" } ]'
                        ></canvas>
                    </div>
                    <!--     {% include "partials/dashboard/user-chart/_index.html" %}-->
                </div>

                <!--6-->
                <div class="worker-list__item  direct">
                    <div class="info">
                        <div class="img">
                            <img src="img/worker/6.png" alt="">
                            <a href="tel:+380000000" class="phone"><img src="img/icon/phone-blue.svg" alt=""></a>
                        </div>
                        <div class="detail">
                            <div class="department">бухгалтерия</div>
                            <div class="flex-wrap">
                                <div class="name">Николай Зотов</div>
                                <div class="position">Бухгалтер</div>
                            </div>
                            <div class="text">Идеальное схождение дебита и кредита по всем операциям</div>
                        </div>                       
                    </div>
                    <ul class="worker-list-nav">
                        <li class="worker-list-nav__item user">
                            <a href="#" >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 21V19C20 16.7909 18.2091 15 16 15H8C5.79086 15 4 16.7909 4 19V21" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#023E7D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1H15.4142L21 6.58579V21C21 22.1046 20.1046 23 19 23H5C3.89543 23 3 22.1046 3 21V3C3 1.89543 3.89543 1 5 1ZM13 3H5V21H19V9H15C13.8954 9 13 8.10457 13 7V3ZM15 3.41421V7H18.5858L15 3.41421ZM8 17V15H14V17H8ZM8 11V13H16V11H8Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 7.10457 2.89543 8 4 8C5.10457 8 6 7.10457 6 6C6 4.89543 5.10457 4 4 4C2.89543 4 2 4.89543 2 6ZM8 5H22V7H8V5ZM22 11H8V13H22V11ZM8 19H22V17H8V19ZM2 18C2 19.1046 2.89543 20 4 20C5.10457 20 6 19.1046 6 18C6 16.8954 5.10457 16 4 16C2.89543 16 2 16.8954 2 18ZM4 14C2.89543 14 2 13.1046 2 12C2 10.8954 2.89543 10 4 10C5.10457 10 6 10.8954 6 12C6 13.1046 5.10457 14 4 14Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                        <li class="worker-list-nav__item">
                            <a href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 3.5H5L5 18.5H21V20.5H5H3V18.5V3.5ZM8 16.5H10V10.5H8V16.5ZM14 16.5H12V6.5H14V16.5ZM16 16.5H18V9.5H16V16.5Z" fill="#0466C8"/>
                                </svg>                                    
                            </a>
                        </li>
                    </ul>
                    <div class="status-list not-approved">
                        <div class="status-list__item orange" data-toggle="tooltip" data-placement="top" title="План сформирован и неутвержден"><img src="img/icon/file-orange.svg" alt=""></div>
                        <div class="status-list__item green" data-toggle="tooltip" data-placement="top" title="План сформирован и утвержден"><img src="img/icon/file-green.svg" alt=""></div>
                        <div class="status-list__item red" data-toggle="tooltip" data-placement="top" title="План не утвержен"><img src="img/icon/file-red.svg" alt=""></div>
                    </div>
                    <ul class="week-list">
                        <li class="week-list__item">
                            <div class="day">пн</div>
                            <div class="num">27</div>
                            <div class="percent red"><span>100</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">вт</div>
                            <div class="num">28</div>
                            <div class="percent green"><span>88</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">ср</div>
                            <div class="num">29</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">чт</div>
                            <div class="num">30</div>
                            <div class="percent"><span>152</span>%</div>
                        </li>
                        <li class="week-list__item">
                            <div class="day">пт</div>
                            <div class="num">31</div>
                            <div class="percent"><span>100</span>%</div>
                        </li>
                    </ul>
                    <div class="img-graf">
                    
                          <canvas class="chartGreen" width="400" height="400"
    data-line-chart="7.6" 
    data-labels='["05.02", "06.02", "07.02", "08.02", "09.02", "10.02", "11.02", "07.02", "08.02", "09.02", "10.02", "11.02"]'
    data-datasets='[ { 
      "label": "Факт", 
      "backgroundColor": "rgba(0,0,0,0)", 
      "borderColor": "#52C41A", 
      "data": [0.25,0.5,0.6,0.8,0.2,0.35,0.532,0.31,0.75,0.05,0.6,0.4], 
      "borderWidth": "1",
      "borderWidth": "1", 
      "pointBorderWidth": "0", 
      "pointHoverRadius": "0", 
      "pointHoverBorderColor": "#52C41A", 
      "pointHoverBackgroundColor": "#52C41A", 
      "pointBackgroundColor": "rgba(0,0,0,0)",
      "pointBorderColor": "rgba(0,0,0,0)",
      "pointRadius": "0" } ]'
    ></canvas>
                    </div>
                    <!--     {% include "partials/dashboard/user-chart/_index.html" %}-->
                </div>


            </div>
        </div>
    
    </div>
  </div>
</div>






