---
title: Dashboard
mainNav: [
  {
    name: 'Дэшборд',
    link: '/dashboard.html',
    isActive: true
  },
  {
    name: 'моё планирование',
    link: '/planing.html'
  },
  {
    name: 'мои сотрудники',
    link: '/my-staff.html'
  },
  {
    name: 'обязанности',
    link: '/responsibility.html'
  },
  {
    name: 'Мой профиль',
    link: '/my-profile.html'
  }
]
dashboardTasks: [
  {
    title: 'Задача 1 для выполнения, короткое название',
    text: 'Продукт задачи, длинное описание продукта задачи, что должно получится в результате выполнения задачи. Продукт задачи, длинное описание продукта задачи, что должно получится',

    time: '4 ч 30 м',
    statustype: 'unscheduled',
    status: 'Внеплановая',
    overdue: true
  },
  {
    title: 'Задача 2 для выполнения, короткое название',
    text: 'Продукт задачи, длинное описание продукта задачи, что должно получится в результате выполнения задачи. ',

    time: '4 ч 30 м',
    statustype: 'main',
    status: 'Основная'
  },
  {
    title: 'Регулярная задача для выполнения, длинное название',
    text: 'Продукт задачи, длинное описание продукта задачи, что должно получится в результате выполнения задачи. Продукт задачи.',
    type: '27.07.2020',
    time: '4 ч 30 м',
    disabledtype: true,
    statustype: 'program',
    status: 'Из программ'
  },
  {
    title: 'Регулярная задача для выполнения, длинное название',
    text: 'Продукт задачи, длинное описание продукта задачи, что должно получится в результате выполнения задачи. Продукт задачи.',
    type: '27.07.2020',
    time: '4 ч 30 м',
    disabledtype: true,
    statustype: 'regular',
    status: 'Регулярная'
  },
  {
    title: 'Задача 1 для выполнения, короткое название',
    text: 'Продукт задачи, длинное описание продукта задачи, что должно получится в результате выполнения задачи. Продукт задачи, длинное описание продукта задачи, что должно получится',

    time: '4 ч 30 м',
    statustype: 'unscheduled',
    status: 'Внеплановая',
    disabled: 'disabled',
    complete: true
  },
]
dashboardNotif: [
  {
    icon: 'list',
    title: '<a href="">Анна Николаева</a> добавил(а) <a href="">новую обязанность:</a>',
    text: '“Осуществить звонок заказчику для предварительного согласования даты доставки заказа”',
    time: '7 мин',
    status: true,
    statusred: 'Не утвержден',
    statusgreen: 'Новое'

  } 
  ,{
    icon: 'check',
    title: '<a href="">Михаил Антоненко</a> утвердил(а) <a href="">ваш план</a>',
    time: '1 ч',
    status: true,
    statusgreen: 'Новое',
    

  }
  ,{
    icon: '',
    title: '<a href="">Михаил Антоненко</a> создал(а) <a href="">план на 13-17.04 </a>',
    time: '2 ч',
    status: true,
    statusred: 'Не утвержден',
    statusgreen: 'Новое',

  }
  ,{
    icon: 'check',
    title: '<a href="">Михаил Антоненко</a> утвердил(а) <a href="">ваш план</a>',
    time: '7 д',
  }
  ,{
    icon: 'list',
    title: '<a href="">Анна Николаева</a> добавил(а) <a href="">новый показатель работы</a>',
    text: '“Стоимость отгруженной и/или доставленной клиенту продукции (ЕУ)”',
    time: '7 мин'

  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

{% include "partials/_left-menu.html" %}

<div class="wrapper__inner">
  <div class="js-full-page swiper-container full-page-slider">

    <!-- begin swiper-wrapper -->
    <div class="swiper-wrapper">
      

      <!-- begin swiper-slide -->
      <div class="swiper-slide">

        <div class="wrapper__inner-side-1">
  
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              {% include "partials/dashboard/tasks/_index.html" %}
              
            </div>
            <div class="col-12 col-md-6">
              {% include "partials/dashboard/planing/_index.html" %}
              {% include "partials/dashboard/notification/_index2.html" %}
            </div>
          </div>
        </div>

        <button class="btn-go-to btn-prev-view js-go-to-2" data-toggle="tooltip" data-placement="bottom" title="Перейти к Cnfnbcnbrt">
          <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.89297 5.67496C10.3992 4.96768 10.6713 4.11972 10.6713 3.24996C10.6713 2.3802 10.3992 1.53224 9.89297 0.824963C10.3667 0.501592 10.9277 0.330102 11.5013 0.333296C12.2749 0.333296 13.0167 0.640587 13.5637 1.18757C14.1107 1.73455 14.418 2.47641 14.418 3.24996C14.418 4.02351 14.1107 4.76538 13.5637 5.31236C13.0167 5.85934 12.2749 6.16663 11.5013 6.16663C10.9277 6.16982 10.3667 5.99833 9.89297 5.67496ZM3.58464 3.24996C3.58464 2.6731 3.75569 2.10919 4.07618 1.62955C4.39667 1.14991 4.85219 0.77607 5.38514 0.555314C5.91809 0.334558 6.50454 0.276799 7.07032 0.389339C7.63609 0.501879 8.15579 0.779665 8.5637 1.18757C8.9716 1.59547 9.24939 2.11517 9.36193 2.68095C9.47447 3.24673 9.41671 3.83317 9.19595 4.36612C8.9752 4.89907 8.60136 5.3546 8.12172 5.67508C7.64207 5.99557 7.07816 6.16663 6.5013 6.16663C5.72775 6.16663 4.98589 5.85934 4.43891 5.31236C3.89193 4.76538 3.58464 4.02351 3.58464 3.24996ZM5.2513 3.24996C5.2513 3.49719 5.32461 3.73886 5.46197 3.94442C5.59932 4.14999 5.79454 4.3102 6.02295 4.40481C6.25136 4.49942 6.50269 4.52418 6.74517 4.47594C6.98764 4.42771 7.21037 4.30866 7.38519 4.13385C7.56 3.95903 7.67905 3.7363 7.72728 3.49383C7.77552 3.25135 7.75076 3.00002 7.65615 2.77161C7.56154 2.5432 7.40133 2.34798 7.19577 2.21063C6.9902 2.07327 6.74853 1.99996 6.5013 1.99996C6.16978 1.99996 5.85184 2.13166 5.61742 2.36608C5.383 2.6005 5.2513 2.91844 5.2513 3.24996ZM12.3346 11.1666V12.8333L0.667969 12.8333L0.667969 11.1666C0.667969 11.1666 0.667969 7.8333 6.5013 7.8333C12.3346 7.8333 12.3346 11.1666 12.3346 11.1666ZM10.668 11.1666C10.5513 10.5166 9.55964 9.49996 6.5013 9.49996C3.44297 9.49996 2.39297 10.5916 2.33464 11.1666L10.668 11.1666ZM12.293 7.8333C12.8037 8.23057 13.2213 8.73484 13.5165 9.31069C13.8116 9.88654 13.9771 10.52 14.0013 11.1666V12.8333L17.3346 12.8333V11.1666C17.3346 11.1666 17.3346 8.14163 12.2846 7.8333H12.293Z" fill="#0466C8"/>
            </svg>
            
                                
      </button>

      </div>
    </div>
    <!-- end swiper-slide -->

    
    <!-- begin swiper-slide -->
    <div class="swiper-slide">
      {% include "dashboard-2-users.html" %}
    </div>
    <!-- end swiper-slide -->

      

    </div>
    <!-- end swiper-wrapper -->

  </div>


</div>



<!-- MODALL ADD TASK -->
<div class="modal fade dashboard-tasks__modal" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="modalAddTaskTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title dashboard-tasks__modal-title" id="modalAddTaskTitle">Добавить внеплановую задачу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.26398 6.70898L12.4539 2.51909C12.6527 2.32059 12.7646 2.05123 12.7648 1.77026C12.7651 1.48929 12.6537 1.21972 12.4552 1.02087C12.2567 0.822021 11.9873 0.710168 11.7064 0.70992C11.4254 0.709672 11.1558 0.821049 10.957 1.01955L6.76709 5.20944L2.5772 1.01955C2.37834 0.820698 2.10864 0.708984 1.82743 0.708984C1.54621 0.708984 1.27651 0.820698 1.07766 1.01955C0.878804 1.2184 0.76709 1.4881 0.76709 1.76932C0.76709 2.05054 0.878804 2.32024 1.07766 2.51909L5.26755 6.70898L1.07766 10.8989C0.878804 11.0977 0.76709 11.3674 0.76709 11.6486C0.76709 11.9299 0.878804 12.1996 1.07766 12.3984C1.27651 12.5973 1.54621 12.709 1.82743 12.709C2.10864 12.709 2.37834 12.5973 2.5772 12.3984L6.76709 8.20853L10.957 12.3984C11.1558 12.5973 11.4255 12.709 11.7068 12.709C11.988 12.709 12.2577 12.5973 12.4565 12.3984C12.6554 12.1996 12.7671 11.9299 12.7671 11.6486C12.7671 11.3674 12.6554 11.0977 12.4565 10.8989L8.26398 6.70898Z" fill="#2B3644" fill-opacity="0.8"/>
            </svg>
            </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="dashboard-tasks__group">
          <div class="dashboard-tasks__label">внеплановая задача:</div>
          <input type="text" class="dashboard-tasks__input" />
        </div>
        <div class="dashboard-tasks__group">
          <div class="dashboard-tasks__label">Продукт:</div>
          <input type="text" class="dashboard-tasks__input" />
        </div>
        <div class="dashboard-tasks__group dashboard-tasks__group-center">
          <div class="dashboard-tasks__label dashboard-tasks__label-line">
            фактическое время:
          </div>
          <div class="dashboard-tasks__timepick">
            <input type="text" class="js-datepicker flatpickr-input" data-default-time="00:00">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-transparent" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
