---
title: Анализ эффективности - Показатели в разрезе функции
userInfo: [
  {
    nameType: 'Анализ эффективности',
    userName: 'Антон Яременко',
    userType: 'Рекламный менеджер'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}


{% include "partials/_left-menu.html" %}

<div class="wrapper__inner">
  <div class="container">
    
    <div class="row">

 

      <div class="col-12">

        {% for item in userInfo %}
          {% include "partials/efficiency/_user-info-lined.html" %}
        {% endfor %}

      </div>
      <div class="col-12">
        {% include "partials/efficiency/_header.html" %}
      </div>

      <div class="col-12">
        <div class="efficiency-chart__clear-header">
          <div class="efficiency-chart__clear-header__item">
            Количество растущих показателей: <span>0</span>
          </div>
          <div class="efficiency-chart__clear-header__item">
            Количество падающих показателей: <span>0</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">

        <div class="efficiency-chart efficiency-chart__clear">

          

          <div class="efficiency-chart__clear-body">

            <div class="efficiency-chart__clear-search">
              <div class="">Добавить показатель</div>
              <select class="js-select2-search" data-placeholder="Введите название показателя">
                <option></option>
                <option value="1">sdasd</option>
                <option value="2">sadcxzvd fg</option>
                <option value="3">3422 sdgf 45 sdfgd gh 43</option>
                <option value="4">df thy12edfgb </option>
                <option value="5">5terdgfsd f vvbfg hw3e4 56edvg</option>
                <option value="6">sdf 4 42 3</option>
              </select>
            </div>

          </div>
          
          
        </div>


      </div>

    </div>

  </div>
</div>

{% endblock %}
