---
title: Анализ эффективности - Показатели в разрезе функции
userInfo: [
  {
    nameType: 'Анализ эффективности',
    userName: 'Антон Яременко',
    userType: 'Рекламный менеджер'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}


{% include "partials/_left-menu.html" %}

<div class="wrapper__inner">
  <div class="container">
    
    <div class="row js-sortable-blocks-wrapper">

 

      <div class="col-12">

        {% for item in userInfo %}
          {% include "partials/efficiency/_user-info-lined.html" %}
        {% endfor %}

      </div>
      <div class="col-12">
        {% include "partials/efficiency/_header.html" %}
      </div>

      <div class="col-12">
        <div class="efficiency-chart__clear-header">
          <div class="efficiency-chart__clear-header__item">
            Количество растущих показателей: <span>0</span>
          </div>
          <div class="efficiency-chart__clear-header__item">
            Количество падающих показателей: <span class="green">4</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12 js-sortable-blocks">
        <div class="efficiency-chart">
          <div class="efficiency-chart__header">
            <div class="efficiency-chart__header-sort">
              <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.304688" y="0.271484" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                <rect x="0.304688" y="7.85059" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                </svg>
            </div>
            <div class="efficiency-chart__title">
              Стоимость отгруженной и/или доставленной клиенту 
              продукции (ЕУ)
            </div>
            <div class="efficiency-chart__status efficiency-chart__status-red">-112%</div>
            <span class="icon js-tooltip" data-toggle="tooltip" data-placement="top" title="подсказка олололо">
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="7" cy="7.87305" r="6.5" stroke="#92A3BA"/>
              <path d="M6.60585 8.7382C6.43707 8.53131 6.35268 8.28086 6.35268 7.98686C6.35268 7.81809 6.38807 7.66564 6.45885 7.52953C6.53507 7.38798 6.6249 7.27364 6.72835 7.18653C6.83179 7.09942 6.93524 7.02048 7.03868 6.9497C7.14213 6.87892 7.22924 6.80814 7.30002 6.73736C7.37624 6.66114 7.41435 6.58764 7.41435 6.51686C7.41435 6.30453 7.25374 6.19836 6.93252 6.19836C6.60585 6.19836 6.32002 6.33992 6.07502 6.62303L5.29102 5.7247C5.50879 5.47425 5.77557 5.2837 6.09135 5.15303C6.41257 5.02236 6.74468 4.95703 7.08768 4.95703C7.62124 4.95703 8.0459 5.07681 8.36168 5.31636C8.67746 5.55592 8.83535 5.8717 8.83535 6.2637C8.83535 6.48148 8.79179 6.67475 8.70468 6.84353C8.61757 7.01231 8.5114 7.15114 8.38618 7.26003C8.2664 7.36348 8.1439 7.45875 8.01868 7.54586C7.89346 7.63298 7.78729 7.72553 7.70018 7.82353C7.61307 7.92153 7.56952 8.02498 7.56952 8.13386C7.56952 8.26998 7.61035 8.37886 7.69202 8.46053L6.60585 8.7382ZM7.64302 10.3552C7.49057 10.5076 7.3109 10.5839 7.10402 10.5839C6.89713 10.5839 6.71746 10.5076 6.56502 10.3552C6.41257 10.2028 6.33635 10.0231 6.33635 9.8162C6.33635 9.60931 6.41257 9.42964 6.56502 9.2772C6.71746 9.12475 6.89713 9.04853 7.10402 9.04853C7.3109 9.04853 7.49057 9.12475 7.64302 9.2772C7.79546 9.42964 7.87168 9.60931 7.87168 9.8162C7.87168 10.0231 7.79546 10.2028 7.64302 10.3552Z" fill="#92A3BA"/>
              </svg>              
            </span>
          </div>
          <div class="efficiency-chart__body">
            <div class="efficiency-chart__item">
              {% include "partials/efficiency/_chart.html" %}
            </div>
            <div class="efficiency-chart__icons">
              <a href="" class="icon icon-white js-show-chart-full-popup"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.06054 1.5907L4.63062 1.5907C4.96577 1.5907 5.23777 1.3187 5.23777 0.983553C5.23777 0.648407 4.96577 0.376404 4.63062 0.376404L0.987733 0.376404L0.987733 4.01929C0.987733 4.35444 1.25974 4.62644 1.59488 4.62644C1.93003 4.62644 2.20203 4.35444 2.20203 4.01929L2.20203 2.44921L7.23711 7.48429C7.4739 7.72138 7.85883 7.72138 8.09562 7.48429C8.33271 7.2472 8.33271 6.86287 8.09562 6.62578L3.06054 1.5907Z" fill="#3984EA"/>
                <path d="M16.9389 16.1627L15.3688 16.1627C15.0337 16.1627 14.7617 16.4347 14.7617 16.7698C14.7617 17.105 15.0337 17.377 15.3688 17.377L19.0117 17.377L19.0117 13.7341C19.0117 13.3989 18.7397 13.1269 18.4046 13.1269C18.0694 13.1269 17.7974 13.3989 17.7974 13.7341L17.7974 15.3041L12.7623 10.2691C12.6439 10.1504 12.4885 10.0912 12.3331 10.0912C12.1777 10.0912 12.0222 10.1504 11.9038 10.2691C11.6667 10.5062 11.6667 10.8905 11.9038 11.1276L16.9389 16.1627Z" fill="#3984EA"/>
                <path d="M7.66637 10.0912C7.51094 10.0912 7.35551 10.1504 7.23711 10.2691L2.20203 15.3041L2.20203 13.7341C2.20203 13.3989 1.93003 13.1269 1.59488 13.1269C1.25974 13.1269 0.987733 13.3989 0.987733 13.7341L0.987732 17.377L4.63062 17.377C4.96577 17.377 5.23777 17.105 5.23777 16.7698C5.23777 16.4347 4.96577 16.1627 4.63062 16.1627L3.06054 16.1627L8.09562 11.1276C8.33271 10.8905 8.33271 10.5062 8.09562 10.2691C7.97723 10.1504 7.8218 10.0912 7.66637 10.0912Z" fill="#3984EA"/>
                <path d="M12.7623 7.48429L17.7974 2.44921L17.7974 4.01929C17.7974 4.35444 18.0694 4.62644 18.4046 4.62644C18.7397 4.62644 19.0117 4.35444 19.0117 4.01929L19.0117 0.376404L15.3688 0.376404C15.0337 0.376404 14.7617 0.648407 14.7617 0.983553C14.7617 1.3187 15.0337 1.5907 15.3688 1.5907L16.9389 1.5907L11.9038 6.62578C11.6667 6.86287 11.6667 7.2472 11.9038 7.48429C12.1406 7.72138 12.5256 7.72138 12.7623 7.48429Z" fill="#3984EA"/>
                </svg>
                </a>
              <a href="" class="icon icon-white">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.59915 7.23017L6.11398 2.71533V13.9263C6.11398 14.1185 6.19033 14.3029 6.32624 14.4388C6.46215 14.5747 6.64647 14.651 6.83868 14.651C7.03088 14.651 7.21521 14.5747 7.35111 14.4388C7.48702 14.3029 7.56337 14.1185 7.56337 13.9263V2.71533L12.0782 7.23017C12.1459 7.29733 12.2262 7.35047 12.3145 7.38653C12.4028 7.4226 12.4974 7.44088 12.5927 7.44033C12.7841 7.44048 12.9678 7.36493 13.1036 7.23017C13.171 7.16286 13.2245 7.08294 13.2609 6.99496C13.2974 6.90698 13.3162 6.81268 13.3162 6.71744C13.3162 6.62221 13.2974 6.52791 13.2609 6.43993C13.2245 6.35195 13.171 6.27203 13.1036 6.20472L7.35321 0.450662L7.24088 0.360075L7.20102 0.331087L7.12855 0.294853C7.10509 0.28546 7.08084 0.278185 7.05608 0.273112L6.97999 0.265865C6.88669 0.247316 6.79066 0.247316 6.69736 0.265865L6.63576 0.283982C6.611 0.289055 6.58675 0.296331 6.56329 0.305723L6.49082 0.341957L6.43647 0.370946L6.32414 0.461532L0.573704 6.20472C0.437722 6.34071 0.361328 6.52514 0.361328 6.71744C0.361328 6.90975 0.437722 7.09418 0.573704 7.23017C0.709686 7.36615 0.894117 7.44254 1.08642 7.44254C1.27873 7.44254 1.46316 7.36615 1.59915 7.23017Z" fill="#3984EA"/>
                  <path d="M12.5922 16.2344H1.08407C0.891868 16.2344 0.70754 16.3107 0.571634 16.4466C0.435727 16.5825 0.359375 16.7669 0.359375 16.9591C0.359375 17.1513 0.435727 17.3356 0.571634 17.4715C0.70754 17.6074 0.891868 17.6838 1.08407 17.6838H12.5922C12.7844 17.6838 12.9687 17.6074 13.1046 17.4715C13.2405 17.3356 13.3169 17.1513 13.3169 16.9591C13.3169 16.7669 13.2405 16.5825 13.1046 16.4466C12.9687 16.3107 12.7844 16.2344 12.5922 16.2344Z" fill="#3984EA"/>
                  </svg>
                  
              </a>
              <a href="" class="icon icon-white">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.94268 9.26897C8.78174 9.26897 9.58086 8.98928 10.2002 8.50981C10.6796 8.70959 11.1791 8.80948 11.7385 8.80948C13.936 8.80948 15.734 7.01148 15.734 4.81392C15.734 2.61636 13.936 0.818359 11.7385 0.818359C10.7396 0.818359 9.82059 1.19794 9.12137 1.79727C8.74179 1.69738 8.36221 1.63745 7.94268 1.63745C5.84501 1.63745 4.12692 3.35554 4.12692 5.45321C4.12692 7.57086 5.84501 9.26897 7.94268 9.26897ZM11.7385 2.03701C13.2768 2.03701 14.5354 3.29561 14.5354 4.8339C14.5354 6.37219 13.2768 7.63079 11.7385 7.63079C10.2002 7.63079 8.94157 6.37219 8.94157 4.8339C8.94157 3.29561 10.2002 2.03701 11.7385 2.03701ZM7.94268 2.83612C8.04257 2.83612 8.16243 2.83612 8.26232 2.8561C7.9227 3.43545 7.7429 4.1147 7.7429 4.8339C7.7429 6.01259 8.26232 7.07141 9.08141 7.81059C8.74179 7.97041 8.34223 8.0703 7.94268 8.0703C6.50428 8.0703 5.32558 6.89161 5.32558 5.45321C5.32558 4.01481 6.50428 2.83612 7.94268 2.83612ZM14.1358 9.62857H9.34112C8.66188 9.62857 8.00261 9.76841 7.40328 10.0281H5.82503C3.20794 10.0281 1.07031 12.1857 1.07031 14.8028V16.441C1.07031 17.7595 2.14911 18.8184 3.44767 18.8184H16.5331C17.8517 18.8184 18.9305 17.7396 18.9305 16.421V14.4232C18.9305 11.7862 16.7729 9.62857 14.1358 9.62857ZM3.44767 17.6197C2.7884 17.6197 2.26898 17.0803 2.26898 16.441V14.8028C2.26898 12.865 3.82725 11.2867 5.7651 11.2468C5.00594 12.0858 4.54645 13.2046 4.54645 14.4232V16.421C4.54645 16.8605 4.66632 17.2601 4.8661 17.6197H3.44767ZM17.7318 16.421C17.7318 17.0803 17.1924 17.6197 16.5331 17.6197H6.94379C6.28452 17.6197 5.74512 17.0803 5.74512 16.421V14.4232C5.74512 12.4454 7.36332 10.8272 9.34112 10.8272H14.1358C16.1136 10.8272 17.7318 12.4454 17.7318 14.4232V16.421Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.5"/>
                  </svg>
                  
              </a>

              <a href="" class="icon icon-white icon-delete">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.57938 2.61609H5.39937C5.49838 2.61609 5.57938 2.53509 5.57938 2.43609V2.61609H12.4194V2.43609C12.4194 2.53509 12.5004 2.61609 12.5994 2.61609H12.4194V4.23609H14.0394V2.43609C14.0394 1.64184 13.3936 0.996094 12.5994 0.996094H5.39937C4.60512 0.996094 3.95938 1.64184 3.95938 2.43609V4.23609H5.57938V2.61609ZM16.9194 4.23609H1.07938C0.681125 4.23609 0.359375 4.55784 0.359375 4.95609V5.67609C0.359375 5.77509 0.440375 5.85609 0.539375 5.85609H1.89837L2.45413 17.6236C2.49013 18.3908 3.12463 18.9961 3.89188 18.9961H14.1069C14.8764 18.9961 15.5086 18.3931 15.5446 17.6236L16.1004 5.85609H17.4594C17.5584 5.85609 17.6394 5.77509 17.6394 5.67609V4.95609C17.6394 4.55784 17.3176 4.23609 16.9194 4.23609ZM13.9336 17.3761H4.06513L3.52063 5.85609H14.4781L13.9336 17.3761Z" fill="#3984EA"/>
                  <line x1="7.10938" y1="9.67578" x2="10.6094" y2="9.67578" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="7.10938" y1="13.6758" x2="10.6094" y2="13.6758" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
              </a>
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-md-6 col-12 js-sortable-blocks">
        <div class="efficiency-chart">
          <div class="efficiency-chart__header">
            <div class="efficiency-chart__header-sort">
              <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.304688" y="0.271484" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                <rect x="0.304688" y="7.85059" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                </svg>
            </div>
            <div class="efficiency-chart__title">
              Стоимость отгруженной и/или доставленной клиенту 
              продукции (ЕУ)
            </div>
            <div class="efficiency-chart__status efficiency-chart__status-green">11%</div>
            <span class="icon js-tooltip" data-toggle="tooltip" data-placement="top" title="подсказка олололо">
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="7" cy="7.87305" r="6.5" stroke="#92A3BA"/>
              <path d="M6.60585 8.7382C6.43707 8.53131 6.35268 8.28086 6.35268 7.98686C6.35268 7.81809 6.38807 7.66564 6.45885 7.52953C6.53507 7.38798 6.6249 7.27364 6.72835 7.18653C6.83179 7.09942 6.93524 7.02048 7.03868 6.9497C7.14213 6.87892 7.22924 6.80814 7.30002 6.73736C7.37624 6.66114 7.41435 6.58764 7.41435 6.51686C7.41435 6.30453 7.25374 6.19836 6.93252 6.19836C6.60585 6.19836 6.32002 6.33992 6.07502 6.62303L5.29102 5.7247C5.50879 5.47425 5.77557 5.2837 6.09135 5.15303C6.41257 5.02236 6.74468 4.95703 7.08768 4.95703C7.62124 4.95703 8.0459 5.07681 8.36168 5.31636C8.67746 5.55592 8.83535 5.8717 8.83535 6.2637C8.83535 6.48148 8.79179 6.67475 8.70468 6.84353C8.61757 7.01231 8.5114 7.15114 8.38618 7.26003C8.2664 7.36348 8.1439 7.45875 8.01868 7.54586C7.89346 7.63298 7.78729 7.72553 7.70018 7.82353C7.61307 7.92153 7.56952 8.02498 7.56952 8.13386C7.56952 8.26998 7.61035 8.37886 7.69202 8.46053L6.60585 8.7382ZM7.64302 10.3552C7.49057 10.5076 7.3109 10.5839 7.10402 10.5839C6.89713 10.5839 6.71746 10.5076 6.56502 10.3552C6.41257 10.2028 6.33635 10.0231 6.33635 9.8162C6.33635 9.60931 6.41257 9.42964 6.56502 9.2772C6.71746 9.12475 6.89713 9.04853 7.10402 9.04853C7.3109 9.04853 7.49057 9.12475 7.64302 9.2772C7.79546 9.42964 7.87168 9.60931 7.87168 9.8162C7.87168 10.0231 7.79546 10.2028 7.64302 10.3552Z" fill="#92A3BA"/>
              </svg>              
            </span>
          </div>
          <div class="efficiency-chart__body">
            <div class="efficiency-chart__item">
              {% include "partials/efficiency/_chart.html" %}
            </div>
            <div class="efficiency-chart__icons">
              <a href="" class="icon icon-white js-show-chart-full-popup"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.06054 1.5907L4.63062 1.5907C4.96577 1.5907 5.23777 1.3187 5.23777 0.983553C5.23777 0.648407 4.96577 0.376404 4.63062 0.376404L0.987733 0.376404L0.987733 4.01929C0.987733 4.35444 1.25974 4.62644 1.59488 4.62644C1.93003 4.62644 2.20203 4.35444 2.20203 4.01929L2.20203 2.44921L7.23711 7.48429C7.4739 7.72138 7.85883 7.72138 8.09562 7.48429C8.33271 7.2472 8.33271 6.86287 8.09562 6.62578L3.06054 1.5907Z" fill="#3984EA"/>
                <path d="M16.9389 16.1627L15.3688 16.1627C15.0337 16.1627 14.7617 16.4347 14.7617 16.7698C14.7617 17.105 15.0337 17.377 15.3688 17.377L19.0117 17.377L19.0117 13.7341C19.0117 13.3989 18.7397 13.1269 18.4046 13.1269C18.0694 13.1269 17.7974 13.3989 17.7974 13.7341L17.7974 15.3041L12.7623 10.2691C12.6439 10.1504 12.4885 10.0912 12.3331 10.0912C12.1777 10.0912 12.0222 10.1504 11.9038 10.2691C11.6667 10.5062 11.6667 10.8905 11.9038 11.1276L16.9389 16.1627Z" fill="#3984EA"/>
                <path d="M7.66637 10.0912C7.51094 10.0912 7.35551 10.1504 7.23711 10.2691L2.20203 15.3041L2.20203 13.7341C2.20203 13.3989 1.93003 13.1269 1.59488 13.1269C1.25974 13.1269 0.987733 13.3989 0.987733 13.7341L0.987732 17.377L4.63062 17.377C4.96577 17.377 5.23777 17.105 5.23777 16.7698C5.23777 16.4347 4.96577 16.1627 4.63062 16.1627L3.06054 16.1627L8.09562 11.1276C8.33271 10.8905 8.33271 10.5062 8.09562 10.2691C7.97723 10.1504 7.8218 10.0912 7.66637 10.0912Z" fill="#3984EA"/>
                <path d="M12.7623 7.48429L17.7974 2.44921L17.7974 4.01929C17.7974 4.35444 18.0694 4.62644 18.4046 4.62644C18.7397 4.62644 19.0117 4.35444 19.0117 4.01929L19.0117 0.376404L15.3688 0.376404C15.0337 0.376404 14.7617 0.648407 14.7617 0.983553C14.7617 1.3187 15.0337 1.5907 15.3688 1.5907L16.9389 1.5907L11.9038 6.62578C11.6667 6.86287 11.6667 7.2472 11.9038 7.48429C12.1406 7.72138 12.5256 7.72138 12.7623 7.48429Z" fill="#3984EA"/>
                </svg>
                </a>
              <a href="" class="icon icon-white">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.59915 7.23017L6.11398 2.71533V13.9263C6.11398 14.1185 6.19033 14.3029 6.32624 14.4388C6.46215 14.5747 6.64647 14.651 6.83868 14.651C7.03088 14.651 7.21521 14.5747 7.35111 14.4388C7.48702 14.3029 7.56337 14.1185 7.56337 13.9263V2.71533L12.0782 7.23017C12.1459 7.29733 12.2262 7.35047 12.3145 7.38653C12.4028 7.4226 12.4974 7.44088 12.5927 7.44033C12.7841 7.44048 12.9678 7.36493 13.1036 7.23017C13.171 7.16286 13.2245 7.08294 13.2609 6.99496C13.2974 6.90698 13.3162 6.81268 13.3162 6.71744C13.3162 6.62221 13.2974 6.52791 13.2609 6.43993C13.2245 6.35195 13.171 6.27203 13.1036 6.20472L7.35321 0.450662L7.24088 0.360075L7.20102 0.331087L7.12855 0.294853C7.10509 0.28546 7.08084 0.278185 7.05608 0.273112L6.97999 0.265865C6.88669 0.247316 6.79066 0.247316 6.69736 0.265865L6.63576 0.283982C6.611 0.289055 6.58675 0.296331 6.56329 0.305723L6.49082 0.341957L6.43647 0.370946L6.32414 0.461532L0.573704 6.20472C0.437722 6.34071 0.361328 6.52514 0.361328 6.71744C0.361328 6.90975 0.437722 7.09418 0.573704 7.23017C0.709686 7.36615 0.894117 7.44254 1.08642 7.44254C1.27873 7.44254 1.46316 7.36615 1.59915 7.23017Z" fill="#3984EA"/>
                  <path d="M12.5922 16.2344H1.08407C0.891868 16.2344 0.70754 16.3107 0.571634 16.4466C0.435727 16.5825 0.359375 16.7669 0.359375 16.9591C0.359375 17.1513 0.435727 17.3356 0.571634 17.4715C0.70754 17.6074 0.891868 17.6838 1.08407 17.6838H12.5922C12.7844 17.6838 12.9687 17.6074 13.1046 17.4715C13.2405 17.3356 13.3169 17.1513 13.3169 16.9591C13.3169 16.7669 13.2405 16.5825 13.1046 16.4466C12.9687 16.3107 12.7844 16.2344 12.5922 16.2344Z" fill="#3984EA"/>
                  </svg>
                  
              </a>
              <a href="" class="icon icon-white">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.94268 9.26897C8.78174 9.26897 9.58086 8.98928 10.2002 8.50981C10.6796 8.70959 11.1791 8.80948 11.7385 8.80948C13.936 8.80948 15.734 7.01148 15.734 4.81392C15.734 2.61636 13.936 0.818359 11.7385 0.818359C10.7396 0.818359 9.82059 1.19794 9.12137 1.79727C8.74179 1.69738 8.36221 1.63745 7.94268 1.63745C5.84501 1.63745 4.12692 3.35554 4.12692 5.45321C4.12692 7.57086 5.84501 9.26897 7.94268 9.26897ZM11.7385 2.03701C13.2768 2.03701 14.5354 3.29561 14.5354 4.8339C14.5354 6.37219 13.2768 7.63079 11.7385 7.63079C10.2002 7.63079 8.94157 6.37219 8.94157 4.8339C8.94157 3.29561 10.2002 2.03701 11.7385 2.03701ZM7.94268 2.83612C8.04257 2.83612 8.16243 2.83612 8.26232 2.8561C7.9227 3.43545 7.7429 4.1147 7.7429 4.8339C7.7429 6.01259 8.26232 7.07141 9.08141 7.81059C8.74179 7.97041 8.34223 8.0703 7.94268 8.0703C6.50428 8.0703 5.32558 6.89161 5.32558 5.45321C5.32558 4.01481 6.50428 2.83612 7.94268 2.83612ZM14.1358 9.62857H9.34112C8.66188 9.62857 8.00261 9.76841 7.40328 10.0281H5.82503C3.20794 10.0281 1.07031 12.1857 1.07031 14.8028V16.441C1.07031 17.7595 2.14911 18.8184 3.44767 18.8184H16.5331C17.8517 18.8184 18.9305 17.7396 18.9305 16.421V14.4232C18.9305 11.7862 16.7729 9.62857 14.1358 9.62857ZM3.44767 17.6197C2.7884 17.6197 2.26898 17.0803 2.26898 16.441V14.8028C2.26898 12.865 3.82725 11.2867 5.7651 11.2468C5.00594 12.0858 4.54645 13.2046 4.54645 14.4232V16.421C4.54645 16.8605 4.66632 17.2601 4.8661 17.6197H3.44767ZM17.7318 16.421C17.7318 17.0803 17.1924 17.6197 16.5331 17.6197H6.94379C6.28452 17.6197 5.74512 17.0803 5.74512 16.421V14.4232C5.74512 12.4454 7.36332 10.8272 9.34112 10.8272H14.1358C16.1136 10.8272 17.7318 12.4454 17.7318 14.4232V16.421Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.5"/>
                  </svg>
                  
              </a>

              <a href="" class="icon icon-white icon-delete">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.57938 2.61609H5.39937C5.49838 2.61609 5.57938 2.53509 5.57938 2.43609V2.61609H12.4194V2.43609C12.4194 2.53509 12.5004 2.61609 12.5994 2.61609H12.4194V4.23609H14.0394V2.43609C14.0394 1.64184 13.3936 0.996094 12.5994 0.996094H5.39937C4.60512 0.996094 3.95938 1.64184 3.95938 2.43609V4.23609H5.57938V2.61609ZM16.9194 4.23609H1.07938C0.681125 4.23609 0.359375 4.55784 0.359375 4.95609V5.67609C0.359375 5.77509 0.440375 5.85609 0.539375 5.85609H1.89837L2.45413 17.6236C2.49013 18.3908 3.12463 18.9961 3.89188 18.9961H14.1069C14.8764 18.9961 15.5086 18.3931 15.5446 17.6236L16.1004 5.85609H17.4594C17.5584 5.85609 17.6394 5.77509 17.6394 5.67609V4.95609C17.6394 4.55784 17.3176 4.23609 16.9194 4.23609ZM13.9336 17.3761H4.06513L3.52063 5.85609H14.4781L13.9336 17.3761Z" fill="#3984EA"/>
                  <line x1="7.10938" y1="9.67578" x2="10.6094" y2="9.67578" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="7.10938" y1="13.6758" x2="10.6094" y2="13.6758" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
              </a>
            </div>
          </div>
        </div>
      </div>


      
      <div class="col-md-6 col-12 js-sortable-blocks">
        <div class="efficiency-chart">
          <div class="efficiency-chart__header">
            <div class="efficiency-chart__header-sort">
              <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.304688" y="0.271484" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                <rect x="0.304688" y="7.85059" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                </svg>
            </div>
            <div class="efficiency-chart__title">
              Стоимость отгруженной и/или доставленной клиенту 
              продукции (ЕУ)
            </div>
            <div class="efficiency-chart__status efficiency-chart__status-green">501%</div>
            <span class="icon js-tooltip" data-toggle="tooltip" data-placement="top" title="подсказка олололо">
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="7" cy="7.87305" r="6.5" stroke="#92A3BA"/>
              <path d="M6.60585 8.7382C6.43707 8.53131 6.35268 8.28086 6.35268 7.98686C6.35268 7.81809 6.38807 7.66564 6.45885 7.52953C6.53507 7.38798 6.6249 7.27364 6.72835 7.18653C6.83179 7.09942 6.93524 7.02048 7.03868 6.9497C7.14213 6.87892 7.22924 6.80814 7.30002 6.73736C7.37624 6.66114 7.41435 6.58764 7.41435 6.51686C7.41435 6.30453 7.25374 6.19836 6.93252 6.19836C6.60585 6.19836 6.32002 6.33992 6.07502 6.62303L5.29102 5.7247C5.50879 5.47425 5.77557 5.2837 6.09135 5.15303C6.41257 5.02236 6.74468 4.95703 7.08768 4.95703C7.62124 4.95703 8.0459 5.07681 8.36168 5.31636C8.67746 5.55592 8.83535 5.8717 8.83535 6.2637C8.83535 6.48148 8.79179 6.67475 8.70468 6.84353C8.61757 7.01231 8.5114 7.15114 8.38618 7.26003C8.2664 7.36348 8.1439 7.45875 8.01868 7.54586C7.89346 7.63298 7.78729 7.72553 7.70018 7.82353C7.61307 7.92153 7.56952 8.02498 7.56952 8.13386C7.56952 8.26998 7.61035 8.37886 7.69202 8.46053L6.60585 8.7382ZM7.64302 10.3552C7.49057 10.5076 7.3109 10.5839 7.10402 10.5839C6.89713 10.5839 6.71746 10.5076 6.56502 10.3552C6.41257 10.2028 6.33635 10.0231 6.33635 9.8162C6.33635 9.60931 6.41257 9.42964 6.56502 9.2772C6.71746 9.12475 6.89713 9.04853 7.10402 9.04853C7.3109 9.04853 7.49057 9.12475 7.64302 9.2772C7.79546 9.42964 7.87168 9.60931 7.87168 9.8162C7.87168 10.0231 7.79546 10.2028 7.64302 10.3552Z" fill="#92A3BA"/>
              </svg>              
            </span>
          </div>
          <div class="efficiency-chart__body">
            <div class="efficiency-chart__item">
              {% include "partials/efficiency/_chart.html" %}
            </div>
            <div class="efficiency-chart__icons">
              <a href="" class="icon icon-white js-show-chart-full-popup"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.06054 1.5907L4.63062 1.5907C4.96577 1.5907 5.23777 1.3187 5.23777 0.983553C5.23777 0.648407 4.96577 0.376404 4.63062 0.376404L0.987733 0.376404L0.987733 4.01929C0.987733 4.35444 1.25974 4.62644 1.59488 4.62644C1.93003 4.62644 2.20203 4.35444 2.20203 4.01929L2.20203 2.44921L7.23711 7.48429C7.4739 7.72138 7.85883 7.72138 8.09562 7.48429C8.33271 7.2472 8.33271 6.86287 8.09562 6.62578L3.06054 1.5907Z" fill="#3984EA"/>
                <path d="M16.9389 16.1627L15.3688 16.1627C15.0337 16.1627 14.7617 16.4347 14.7617 16.7698C14.7617 17.105 15.0337 17.377 15.3688 17.377L19.0117 17.377L19.0117 13.7341C19.0117 13.3989 18.7397 13.1269 18.4046 13.1269C18.0694 13.1269 17.7974 13.3989 17.7974 13.7341L17.7974 15.3041L12.7623 10.2691C12.6439 10.1504 12.4885 10.0912 12.3331 10.0912C12.1777 10.0912 12.0222 10.1504 11.9038 10.2691C11.6667 10.5062 11.6667 10.8905 11.9038 11.1276L16.9389 16.1627Z" fill="#3984EA"/>
                <path d="M7.66637 10.0912C7.51094 10.0912 7.35551 10.1504 7.23711 10.2691L2.20203 15.3041L2.20203 13.7341C2.20203 13.3989 1.93003 13.1269 1.59488 13.1269C1.25974 13.1269 0.987733 13.3989 0.987733 13.7341L0.987732 17.377L4.63062 17.377C4.96577 17.377 5.23777 17.105 5.23777 16.7698C5.23777 16.4347 4.96577 16.1627 4.63062 16.1627L3.06054 16.1627L8.09562 11.1276C8.33271 10.8905 8.33271 10.5062 8.09562 10.2691C7.97723 10.1504 7.8218 10.0912 7.66637 10.0912Z" fill="#3984EA"/>
                <path d="M12.7623 7.48429L17.7974 2.44921L17.7974 4.01929C17.7974 4.35444 18.0694 4.62644 18.4046 4.62644C18.7397 4.62644 19.0117 4.35444 19.0117 4.01929L19.0117 0.376404L15.3688 0.376404C15.0337 0.376404 14.7617 0.648407 14.7617 0.983553C14.7617 1.3187 15.0337 1.5907 15.3688 1.5907L16.9389 1.5907L11.9038 6.62578C11.6667 6.86287 11.6667 7.2472 11.9038 7.48429C12.1406 7.72138 12.5256 7.72138 12.7623 7.48429Z" fill="#3984EA"/>
                </svg>
                </a>
              <a href="" class="icon icon-white">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.59915 7.23017L6.11398 2.71533V13.9263C6.11398 14.1185 6.19033 14.3029 6.32624 14.4388C6.46215 14.5747 6.64647 14.651 6.83868 14.651C7.03088 14.651 7.21521 14.5747 7.35111 14.4388C7.48702 14.3029 7.56337 14.1185 7.56337 13.9263V2.71533L12.0782 7.23017C12.1459 7.29733 12.2262 7.35047 12.3145 7.38653C12.4028 7.4226 12.4974 7.44088 12.5927 7.44033C12.7841 7.44048 12.9678 7.36493 13.1036 7.23017C13.171 7.16286 13.2245 7.08294 13.2609 6.99496C13.2974 6.90698 13.3162 6.81268 13.3162 6.71744C13.3162 6.62221 13.2974 6.52791 13.2609 6.43993C13.2245 6.35195 13.171 6.27203 13.1036 6.20472L7.35321 0.450662L7.24088 0.360075L7.20102 0.331087L7.12855 0.294853C7.10509 0.28546 7.08084 0.278185 7.05608 0.273112L6.97999 0.265865C6.88669 0.247316 6.79066 0.247316 6.69736 0.265865L6.63576 0.283982C6.611 0.289055 6.58675 0.296331 6.56329 0.305723L6.49082 0.341957L6.43647 0.370946L6.32414 0.461532L0.573704 6.20472C0.437722 6.34071 0.361328 6.52514 0.361328 6.71744C0.361328 6.90975 0.437722 7.09418 0.573704 7.23017C0.709686 7.36615 0.894117 7.44254 1.08642 7.44254C1.27873 7.44254 1.46316 7.36615 1.59915 7.23017Z" fill="#3984EA"/>
                  <path d="M12.5922 16.2344H1.08407C0.891868 16.2344 0.70754 16.3107 0.571634 16.4466C0.435727 16.5825 0.359375 16.7669 0.359375 16.9591C0.359375 17.1513 0.435727 17.3356 0.571634 17.4715C0.70754 17.6074 0.891868 17.6838 1.08407 17.6838H12.5922C12.7844 17.6838 12.9687 17.6074 13.1046 17.4715C13.2405 17.3356 13.3169 17.1513 13.3169 16.9591C13.3169 16.7669 13.2405 16.5825 13.1046 16.4466C12.9687 16.3107 12.7844 16.2344 12.5922 16.2344Z" fill="#3984EA"/>
                  </svg>
                  
              </a>
              <a href="" class="icon icon-white">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.94268 9.26897C8.78174 9.26897 9.58086 8.98928 10.2002 8.50981C10.6796 8.70959 11.1791 8.80948 11.7385 8.80948C13.936 8.80948 15.734 7.01148 15.734 4.81392C15.734 2.61636 13.936 0.818359 11.7385 0.818359C10.7396 0.818359 9.82059 1.19794 9.12137 1.79727C8.74179 1.69738 8.36221 1.63745 7.94268 1.63745C5.84501 1.63745 4.12692 3.35554 4.12692 5.45321C4.12692 7.57086 5.84501 9.26897 7.94268 9.26897ZM11.7385 2.03701C13.2768 2.03701 14.5354 3.29561 14.5354 4.8339C14.5354 6.37219 13.2768 7.63079 11.7385 7.63079C10.2002 7.63079 8.94157 6.37219 8.94157 4.8339C8.94157 3.29561 10.2002 2.03701 11.7385 2.03701ZM7.94268 2.83612C8.04257 2.83612 8.16243 2.83612 8.26232 2.8561C7.9227 3.43545 7.7429 4.1147 7.7429 4.8339C7.7429 6.01259 8.26232 7.07141 9.08141 7.81059C8.74179 7.97041 8.34223 8.0703 7.94268 8.0703C6.50428 8.0703 5.32558 6.89161 5.32558 5.45321C5.32558 4.01481 6.50428 2.83612 7.94268 2.83612ZM14.1358 9.62857H9.34112C8.66188 9.62857 8.00261 9.76841 7.40328 10.0281H5.82503C3.20794 10.0281 1.07031 12.1857 1.07031 14.8028V16.441C1.07031 17.7595 2.14911 18.8184 3.44767 18.8184H16.5331C17.8517 18.8184 18.9305 17.7396 18.9305 16.421V14.4232C18.9305 11.7862 16.7729 9.62857 14.1358 9.62857ZM3.44767 17.6197C2.7884 17.6197 2.26898 17.0803 2.26898 16.441V14.8028C2.26898 12.865 3.82725 11.2867 5.7651 11.2468C5.00594 12.0858 4.54645 13.2046 4.54645 14.4232V16.421C4.54645 16.8605 4.66632 17.2601 4.8661 17.6197H3.44767ZM17.7318 16.421C17.7318 17.0803 17.1924 17.6197 16.5331 17.6197H6.94379C6.28452 17.6197 5.74512 17.0803 5.74512 16.421V14.4232C5.74512 12.4454 7.36332 10.8272 9.34112 10.8272H14.1358C16.1136 10.8272 17.7318 12.4454 17.7318 14.4232V16.421Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.5"/>
                  </svg>
                  
              </a>

              <a href="" class="icon icon-white icon-delete">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.57938 2.61609H5.39937C5.49838 2.61609 5.57938 2.53509 5.57938 2.43609V2.61609H12.4194V2.43609C12.4194 2.53509 12.5004 2.61609 12.5994 2.61609H12.4194V4.23609H14.0394V2.43609C14.0394 1.64184 13.3936 0.996094 12.5994 0.996094H5.39937C4.60512 0.996094 3.95938 1.64184 3.95938 2.43609V4.23609H5.57938V2.61609ZM16.9194 4.23609H1.07938C0.681125 4.23609 0.359375 4.55784 0.359375 4.95609V5.67609C0.359375 5.77509 0.440375 5.85609 0.539375 5.85609H1.89837L2.45413 17.6236C2.49013 18.3908 3.12463 18.9961 3.89188 18.9961H14.1069C14.8764 18.9961 15.5086 18.3931 15.5446 17.6236L16.1004 5.85609H17.4594C17.5584 5.85609 17.6394 5.77509 17.6394 5.67609V4.95609C17.6394 4.55784 17.3176 4.23609 16.9194 4.23609ZM13.9336 17.3761H4.06513L3.52063 5.85609H14.4781L13.9336 17.3761Z" fill="#3984EA"/>
                  <line x1="7.10938" y1="9.67578" x2="10.6094" y2="9.67578" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="7.10938" y1="13.6758" x2="10.6094" y2="13.6758" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
              </a>
            </div>
          </div>
        </div>
      </div>


      
      <div class="col-md-6 col-12 js-sortable-blocks">
        <div class="efficiency-chart">
          <div class="efficiency-chart__header">
            <div class="efficiency-chart__header-sort">
              <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.304688" y="0.271484" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                <rect x="0.304688" y="7.85059" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                </svg>
            </div>
            <div class="efficiency-chart__infochart">
              <div class="efficiency-chart__infochart-item">
                  <span><svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.808594" y1="1.08008" x2="19.0518" y2="1.08008" stroke="#5CEA39"/>
                    </svg>
                    </span>
                    Количество растущих главных статистик отделов 16-18 (ГСД)

              </div>
              <div class="efficiency-chart__infochart-item">
                  <span><svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.808594" y1="1.11914" x2="19.0518" y2="1.11914" stroke="#219653"/>
                    </svg>
                    </span>
                    Количество растущих второстепенных статистик отделов 16-18 (ГСД)
              </div>
            </div>
            
          </div>
          <div class="efficiency-chart__body">
            <div class="efficiency-chart__item">
              {% include "partials/efficiency/_chart1.html" %}
            </div>
            <div class="efficiency-chart__icons">
              <a href="" class="icon icon-white js-show-chart-full-popup"><svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.06054 1.5907L4.63062 1.5907C4.96577 1.5907 5.23777 1.3187 5.23777 0.983553C5.23777 0.648407 4.96577 0.376404 4.63062 0.376404L0.987733 0.376404L0.987733 4.01929C0.987733 4.35444 1.25974 4.62644 1.59488 4.62644C1.93003 4.62644 2.20203 4.35444 2.20203 4.01929L2.20203 2.44921L7.23711 7.48429C7.4739 7.72138 7.85883 7.72138 8.09562 7.48429C8.33271 7.2472 8.33271 6.86287 8.09562 6.62578L3.06054 1.5907Z" fill="#3984EA"/>
                <path d="M16.9389 16.1627L15.3688 16.1627C15.0337 16.1627 14.7617 16.4347 14.7617 16.7698C14.7617 17.105 15.0337 17.377 15.3688 17.377L19.0117 17.377L19.0117 13.7341C19.0117 13.3989 18.7397 13.1269 18.4046 13.1269C18.0694 13.1269 17.7974 13.3989 17.7974 13.7341L17.7974 15.3041L12.7623 10.2691C12.6439 10.1504 12.4885 10.0912 12.3331 10.0912C12.1777 10.0912 12.0222 10.1504 11.9038 10.2691C11.6667 10.5062 11.6667 10.8905 11.9038 11.1276L16.9389 16.1627Z" fill="#3984EA"/>
                <path d="M7.66637 10.0912C7.51094 10.0912 7.35551 10.1504 7.23711 10.2691L2.20203 15.3041L2.20203 13.7341C2.20203 13.3989 1.93003 13.1269 1.59488 13.1269C1.25974 13.1269 0.987733 13.3989 0.987733 13.7341L0.987732 17.377L4.63062 17.377C4.96577 17.377 5.23777 17.105 5.23777 16.7698C5.23777 16.4347 4.96577 16.1627 4.63062 16.1627L3.06054 16.1627L8.09562 11.1276C8.33271 10.8905 8.33271 10.5062 8.09562 10.2691C7.97723 10.1504 7.8218 10.0912 7.66637 10.0912Z" fill="#3984EA"/>
                <path d="M12.7623 7.48429L17.7974 2.44921L17.7974 4.01929C17.7974 4.35444 18.0694 4.62644 18.4046 4.62644C18.7397 4.62644 19.0117 4.35444 19.0117 4.01929L19.0117 0.376404L15.3688 0.376404C15.0337 0.376404 14.7617 0.648407 14.7617 0.983553C14.7617 1.3187 15.0337 1.5907 15.3688 1.5907L16.9389 1.5907L11.9038 6.62578C11.6667 6.86287 11.6667 7.2472 11.9038 7.48429C12.1406 7.72138 12.5256 7.72138 12.7623 7.48429Z" fill="#3984EA"/>
                </svg>
                </a>
              <a href="" class="icon icon-white">
                <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.59915 7.23017L6.11398 2.71533V13.9263C6.11398 14.1185 6.19033 14.3029 6.32624 14.4388C6.46215 14.5747 6.64647 14.651 6.83868 14.651C7.03088 14.651 7.21521 14.5747 7.35111 14.4388C7.48702 14.3029 7.56337 14.1185 7.56337 13.9263V2.71533L12.0782 7.23017C12.1459 7.29733 12.2262 7.35047 12.3145 7.38653C12.4028 7.4226 12.4974 7.44088 12.5927 7.44033C12.7841 7.44048 12.9678 7.36493 13.1036 7.23017C13.171 7.16286 13.2245 7.08294 13.2609 6.99496C13.2974 6.90698 13.3162 6.81268 13.3162 6.71744C13.3162 6.62221 13.2974 6.52791 13.2609 6.43993C13.2245 6.35195 13.171 6.27203 13.1036 6.20472L7.35321 0.450662L7.24088 0.360075L7.20102 0.331087L7.12855 0.294853C7.10509 0.28546 7.08084 0.278185 7.05608 0.273112L6.97999 0.265865C6.88669 0.247316 6.79066 0.247316 6.69736 0.265865L6.63576 0.283982C6.611 0.289055 6.58675 0.296331 6.56329 0.305723L6.49082 0.341957L6.43647 0.370946L6.32414 0.461532L0.573704 6.20472C0.437722 6.34071 0.361328 6.52514 0.361328 6.71744C0.361328 6.90975 0.437722 7.09418 0.573704 7.23017C0.709686 7.36615 0.894117 7.44254 1.08642 7.44254C1.27873 7.44254 1.46316 7.36615 1.59915 7.23017Z" fill="#3984EA"/>
                  <path d="M12.5922 16.2344H1.08407C0.891868 16.2344 0.70754 16.3107 0.571634 16.4466C0.435727 16.5825 0.359375 16.7669 0.359375 16.9591C0.359375 17.1513 0.435727 17.3356 0.571634 17.4715C0.70754 17.6074 0.891868 17.6838 1.08407 17.6838H12.5922C12.7844 17.6838 12.9687 17.6074 13.1046 17.4715C13.2405 17.3356 13.3169 17.1513 13.3169 16.9591C13.3169 16.7669 13.2405 16.5825 13.1046 16.4466C12.9687 16.3107 12.7844 16.2344 12.5922 16.2344Z" fill="#3984EA"/>
                  </svg>
                  
              </a>
              <a href="" class="icon icon-white">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.94268 9.26897C8.78174 9.26897 9.58086 8.98928 10.2002 8.50981C10.6796 8.70959 11.1791 8.80948 11.7385 8.80948C13.936 8.80948 15.734 7.01148 15.734 4.81392C15.734 2.61636 13.936 0.818359 11.7385 0.818359C10.7396 0.818359 9.82059 1.19794 9.12137 1.79727C8.74179 1.69738 8.36221 1.63745 7.94268 1.63745C5.84501 1.63745 4.12692 3.35554 4.12692 5.45321C4.12692 7.57086 5.84501 9.26897 7.94268 9.26897ZM11.7385 2.03701C13.2768 2.03701 14.5354 3.29561 14.5354 4.8339C14.5354 6.37219 13.2768 7.63079 11.7385 7.63079C10.2002 7.63079 8.94157 6.37219 8.94157 4.8339C8.94157 3.29561 10.2002 2.03701 11.7385 2.03701ZM7.94268 2.83612C8.04257 2.83612 8.16243 2.83612 8.26232 2.8561C7.9227 3.43545 7.7429 4.1147 7.7429 4.8339C7.7429 6.01259 8.26232 7.07141 9.08141 7.81059C8.74179 7.97041 8.34223 8.0703 7.94268 8.0703C6.50428 8.0703 5.32558 6.89161 5.32558 5.45321C5.32558 4.01481 6.50428 2.83612 7.94268 2.83612ZM14.1358 9.62857H9.34112C8.66188 9.62857 8.00261 9.76841 7.40328 10.0281H5.82503C3.20794 10.0281 1.07031 12.1857 1.07031 14.8028V16.441C1.07031 17.7595 2.14911 18.8184 3.44767 18.8184H16.5331C17.8517 18.8184 18.9305 17.7396 18.9305 16.421V14.4232C18.9305 11.7862 16.7729 9.62857 14.1358 9.62857ZM3.44767 17.6197C2.7884 17.6197 2.26898 17.0803 2.26898 16.441V14.8028C2.26898 12.865 3.82725 11.2867 5.7651 11.2468C5.00594 12.0858 4.54645 13.2046 4.54645 14.4232V16.421C4.54645 16.8605 4.66632 17.2601 4.8661 17.6197H3.44767ZM17.7318 16.421C17.7318 17.0803 17.1924 17.6197 16.5331 17.6197H6.94379C6.28452 17.6197 5.74512 17.0803 5.74512 16.421V14.4232C5.74512 12.4454 7.36332 10.8272 9.34112 10.8272H14.1358C16.1136 10.8272 17.7318 12.4454 17.7318 14.4232V16.421Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.5"/>
                  </svg>
                  
              </a>

              <a href="" class="icon icon-white icon-delete">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.57938 2.61609H5.39937C5.49838 2.61609 5.57938 2.53509 5.57938 2.43609V2.61609H12.4194V2.43609C12.4194 2.53509 12.5004 2.61609 12.5994 2.61609H12.4194V4.23609H14.0394V2.43609C14.0394 1.64184 13.3936 0.996094 12.5994 0.996094H5.39937C4.60512 0.996094 3.95938 1.64184 3.95938 2.43609V4.23609H5.57938V2.61609ZM16.9194 4.23609H1.07938C0.681125 4.23609 0.359375 4.55784 0.359375 4.95609V5.67609C0.359375 5.77509 0.440375 5.85609 0.539375 5.85609H1.89837L2.45413 17.6236C2.49013 18.3908 3.12463 18.9961 3.89188 18.9961H14.1069C14.8764 18.9961 15.5086 18.3931 15.5446 17.6236L16.1004 5.85609H17.4594C17.5584 5.85609 17.6394 5.77509 17.6394 5.67609V4.95609C17.6394 4.55784 17.3176 4.23609 16.9194 4.23609ZM13.9336 17.3761H4.06513L3.52063 5.85609H14.4781L13.9336 17.3761Z" fill="#3984EA"/>
                  <line x1="7.10938" y1="9.67578" x2="10.6094" y2="9.67578" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <line x1="7.10938" y1="13.6758" x2="10.6094" y2="13.6758" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

{% include "partials/efficiency/_modal-chart.html" %}

{% endblock %}
