---
title: My Profile
mainNav: [
  {
    name: 'Дэшборд',
    link: '/dashboard.html'
  },
  {
    name: 'моё планирование',
    link: '/planing.html'
  },
  {
    name: 'мои сотрудники',
    link: '/my-staff.html'
  },
  {
    name: 'обязанности',
    link: '/responsibility.html'
  },
  {
    name: 'Мой профиль',
    link: '/my-profile.html',
    isActive: true
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

{% include "partials/_left-menu.html" %}

<div class="wrapper__inner">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="my-profile__wrapper">

          <div class="my-profile__header">
            <div class="uppercase t-small t-grey t-medium">основные данные</div>
            <a href="" class="edit">
              <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.49865 3.26367H2.66637C2.22442 3.26367 1.80057 3.43927 1.48807 3.75183C1.17556 4.06439 1 4.48831 1 4.93034V16.597C1 17.039 1.17556 17.463 1.48807 17.7755C1.80057 18.0881 2.22442 18.2637 2.66637 18.2637H14.3309C14.7729 18.2637 15.1967 18.0881 15.5092 17.7755C15.8217 17.463 15.9973 17.039 15.9973 16.597V10.7637" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.7484 2.01386C15.0799 1.68234 15.5294 1.49609 15.9982 1.49609C16.467 1.49609 16.9165 1.68234 17.248 2.01386C17.5794 2.34538 17.7657 2.79502 17.7657 3.26386C17.7657 3.7327 17.5794 4.18234 17.248 4.51386L9.33274 12.4305L6 13.2639L6.83318 9.93053L14.7484 2.01386Z" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>          
                <span>Редактировать</span>      
            </a>
          </div>
          

          <div class="my-profile__body">

            <div class="my-profile__body-head">
              <div class="my-profile__body-photo">
                <img src="https://via.placeholder.com/150 " alt="">
              </div>
              <div class="upload-btn-wrapper">
                <button class="btn-transparent btn">Загрузить фото</button>
                <input type="file" name="myfile" />
              </div>
            </div>

            <div class="my-profile__body-item">

              <table class="table-clear">
                <tbody>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">Имя</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">Дмитрий</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">Фамилия</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">Шевченко</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">отчество</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">Николаевич</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">Дата рожения</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">21.09.1990</span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="my-profile__body-item">
              <table class="table-clear">
                <tbody>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">номер телефона</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l"> <a href="">+380 63 451 22 31</a> </span>
                      <span class="icons">
                        <span class="icon icon-soc">
                          <a href=""><svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.905 0.155394L0.583751 5.80069C0.583751 5.80069 -0.046059 6.0338 0.00269078 6.46373C0.0527531 6.89443 0.566688 7.09146 0.566688 7.09146L3.91861 8.30986C3.91861 8.30986 4.93036 11.8937 5.12948 12.5756C5.3286 13.2557 5.48835 13.2717 5.48835 13.2717C5.67379 13.3587 5.84235 13.2201 5.84235 13.2201L8.00797 11.0878L11.3831 13.8832C12.2961 14.3133 12.6283 13.4172 12.6283 13.4172L15 0.496556C15 -0.36408 13.905 0.155394 13.905 0.155394ZM11.5466 12.378L7.93578 9.38833L6.81529 10.4912L7.06166 8.14472L11.8748 3.5L5.31398 7.46603L2.40381 6.40837L13.5069 1.70274L11.5466 12.378Z" fill="#92A3BA"/>
                            </svg>
                            </a>
                        </span>
                        <span class="icon icon-soc">
                          <a href=""><svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.93719 0.875H10.0628C13.4056 0.875 16.125 3.59375 16.125 6.93594V9.75156C16.125 13.0938 13.4056 15.8125 10.0628 15.8125H7.13257L5.35627 17.4212L6.93719 0.875ZM6.93719 0.875C3.59443 0.875 0.875 3.59375 0.875 6.93594M6.93719 0.875L0.875 6.93594M0.875 6.93594V9.75156M0.875 6.93594V9.75156M0.875 9.75156C0.875 12.2119 2.36932 14.4256 4.625 15.3562M0.875 9.75156L4.625 15.3562M4.625 15.3562V17.0972C4.625 17.2704 4.72696 17.4271 4.8854 17.4971C4.94238 17.5225 5.00277 17.5347 5.0625 17.5347C5.16867 17.5347 5.2741 17.4959 5.3561 17.4214L4.625 15.3562ZM10.0628 14.9375C12.9232 14.9375 15.25 12.6109 15.25 9.75156V6.93594C15.25 4.07656 12.9232 1.75 10.0628 1.75H6.93719C4.07713 1.75 1.75 4.07657 1.75 6.93594V9.75156C1.75 11.9458 3.14006 13.9117 5.20824 14.6431C5.38341 14.7046 5.5 14.8701 5.5 15.0553V16.1106L6.67005 15.0509L10.0628 14.9375ZM10.0628 14.9375H6.96375M10.0628 14.9375H6.96375M6.96375 14.9375C6.8553 14.9375 6.75069 14.9777 6.67015 15.0508L6.96375 14.9375Z" fill="#92A3BA" stroke="#92A3BA" stroke-width="0.25"/>
                            <path d="M12.6985 10.3851L12.6986 10.3851C12.9012 10.5168 12.9587 10.7874 12.8277 10.9905L12.8275 10.9908L12.1469 12.0389L12.1468 12.039C11.8234 12.536 11.2812 12.8068 10.7289 12.8068C10.4161 12.8068 10.0998 12.7198 9.81849 12.5388C9.74029 12.4989 9.16299 12.1955 8.4473 11.7465C7.70407 11.2802 6.80313 10.6517 6.15751 9.99404C4.88056 8.69344 4.09071 7.28392 4.05601 7.22179L4.05576 7.22134C4.04464 7.20125 4.03498 7.18026 4.02698 7.15808C4.02696 7.15801 4.02693 7.15794 4.0269 7.15786L4.02632 7.15625C3.96234 6.98036 3.82799 6.611 3.81841 6.19044C3.80871 5.76418 3.92734 5.27832 4.37625 4.88806L4.37626 4.88805L5.3197 4.06805L5.31989 4.06789C5.50201 3.91023 5.77836 3.92868 5.93698 4.11133C5.937 4.11135 5.93702 4.11137 5.93703 4.11139L7.43948 5.83977L7.43954 5.83984C7.82368 6.2824 7.77751 6.95444 7.33528 7.33892L7.33527 7.33892L7.17232 7.48059C7.43658 8.20849 7.77912 8.65088 8.14641 8.94408C8.50105 9.22719 8.88599 9.37746 9.27056 9.50703L9.30802 9.44947L9.30819 9.44921L9.41295 9.5174C9.54951 9.30646 9.76014 9.16177 10.0051 9.11021L12.6985 10.3851ZM12.6985 10.3851L10.778 9.13761L12.6985 10.3851ZM4.16514 7.16084C4.15701 7.14615 4.15014 7.13115 4.14451 7.11552C4.01733 6.76584 3.63076 5.70177 4.45826 4.9824L4.16514 7.16084ZM4.16514 7.16084C4.19795 7.21959 4.98139 8.61771 6.2467 9.90646L4.16514 7.16084ZM11.4128 11.5621L11.4128 11.5622C11.1703 11.9357 10.6665 12.0463 10.2626 11.7858L10.2629 11.7853L10.2525 11.78C10.2427 11.7748 9.6705 11.4769 8.95172 11.0282C8.23105 10.5783 7.37157 9.98217 6.78184 9.3814L6.78184 9.38139C5.68908 8.26825 4.95628 7.03196 4.83727 6.82553C4.71904 6.49119 4.67587 6.23469 4.69653 6.03223C4.71677 5.83376 4.79895 5.68014 4.95025 5.54863C4.95026 5.54863 4.95026 5.54862 4.95027 5.54862L5.56373 5.0156L6.77924 6.41378L6.77928 6.41384C6.84943 6.49444 6.84113 6.60918 6.76155 6.67839L6.37816 7.01147L6.37812 7.01151C6.24757 7.12503 6.19573 7.30477 6.24692 7.47041C6.58031 8.55377 7.07476 9.21169 7.6125 9.63718C8.14543 10.0589 8.7129 10.2452 9.17508 10.3969L9.18032 10.3986L9.18053 10.3987L9.31489 10.443C9.31503 10.4431 9.31518 10.4431 9.31532 10.4432C9.50496 10.5069 9.71229 10.4336 9.82061 10.2667C9.82061 10.2667 9.82061 10.2667 9.82061 10.2667L10.0422 9.92547L10.0423 9.92523C10.0698 9.88267 10.1113 9.85439 10.1601 9.84407L10.1604 9.84399C10.2083 9.83371 10.2576 9.84281 10.3014 9.87125L10.3014 9.8713L11.8554 10.8804L11.4128 11.5621Z" fill="#92A3BA" stroke="#92A3BA" stroke-width="0.25"/>
                            <path d="M9.88992 7.64247L9.88992 7.64246C9.77045 7.21836 9.43216 6.87944 9.00823 6.7588L9.88992 7.64247ZM9.88992 7.64247C9.94423 7.83516 10.1197 7.96138 10.3109 7.96138C10.3502 7.96138 10.3898 7.95612 10.429 7.94535L10.429 7.94535M9.88992 7.64247L10.429 7.94535M10.429 7.94535L10.4298 7.94511M10.429 7.94535L10.4298 7.94511M10.4298 7.94511C10.6621 7.87951 10.7977 7.63807 10.7321 7.40529M10.4298 7.94511L10.7321 7.40529M9.24804 5.91745C9.01506 5.85055 8.7732 5.98601 8.70719 6.21844L9.21367 6.03763L9.24787 5.9174C9.24793 5.91741 9.24798 5.91743 9.24804 5.91745ZM9.24804 5.91745C9.96221 6.12061 10.5307 6.69045 10.7321 7.40529M9.24804 5.91745L10.7321 7.40529M8.70717 6.2185C8.64115 6.45079 8.77588 6.69271 9.00821 6.75879L8.70717 6.2185Z" fill="#92A3BA" stroke="#92A3BA" stroke-width="0.25"/>
                            <path d="M11.7097 8.01335L11.7097 8.01335C11.6705 8.02412 11.6309 8.02938 11.5916 8.02938C11.4004 8.02938 11.2254 7.90351 11.1707 7.71104L11.1707 7.71082C10.8721 6.65285 10.0294 5.80773 8.9721 5.50711L8.9721 5.50711C8.73974 5.44103 8.60499 5.19907 8.67106 4.96675C8.73694 4.73507 8.9785 4.5984 9.21163 4.66546M11.7097 8.01335L9.17723 4.78563M11.7097 8.01335L11.7105 8.01312C11.9433 7.9475 12.0785 7.7056 12.0128 7.47325M11.7097 8.01335L11.8925 7.50719M9.21163 4.66546C9.2117 4.66547 9.21177 4.66549 9.21184 4.66551L9.17723 4.78563M9.21163 4.66546C9.21157 4.66544 9.21151 4.66542 9.21145 4.6654L9.17723 4.78563M9.21163 4.66546C10.5595 5.04925 11.6323 6.12436 12.0128 7.47325M9.17723 4.78563C10.4835 5.1575 11.5238 6.2 11.8925 7.50719M12.0128 7.47325C12.0128 7.47324 12.0128 7.47322 12.0128 7.47321L11.8925 7.50719M12.0128 7.47325L11.8925 7.50719" fill="#92A3BA" stroke="#92A3BA" stroke-width="0.25"/>
                            <path d="M13.1629 8.14839L13.162 8.14863C13.1228 8.1594 13.0832 8.16466 13.0439 8.16466C12.8527 8.16466 12.6773 8.03846 12.623 7.84578C12.1091 6.0241 10.6583 4.5699 8.83782 4.05208L13.1629 8.14839ZM13.1629 8.14839C13.3951 8.08278 13.5308 7.84098 13.4651 7.60849M13.1629 8.14839L13.4651 7.60849M9.07764 3.21041C8.84457 3.14349 8.60269 3.27907 8.53675 3.51184L9.04326 3.3306L9.07749 3.21037C9.07754 3.21039 9.07759 3.2104 9.07764 3.21041ZM9.07764 3.21041C11.1886 3.81139 12.8693 5.49587 13.4651 7.60849M9.07764 3.21041L13.3448 7.64247L13.4651 7.60854C13.4651 7.60852 13.4651 7.60851 13.4651 7.60849" fill="#92A3BA" stroke="#92A3BA" stroke-width="0.25"/>
                            </svg>
                            
                            </a>
                        </span>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">email</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l"> <a href="">dm.shev@ukr.net</a> </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">Telegram</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">@dm.shev</span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="my-profile__body-item">
              <table class="table-clear">
                <tbody>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">логин</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l">dm.shev@ukr.net</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="t-small t-grey uppercase t-medium">пароль</span>
                    </td>
                    <td>
                      <span class="t-small-b t-dark-l d-flex">
                        <span class="js-password-user password-user"> <span class="js-s-password" style="display: none">sadSWFxs34dS@</span> <span class="js-h-password">************</span></span>
                        <span class="js-show-pass"><svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 7.69697C1 7.69697 4.34848 1 10.2083 1C16.0682 1 19.4167 7.69697 19.4167 7.69697C19.4167 7.69697 16.0682 14.3939 10.2083 14.3939C4.34848 14.3939 1 7.69697 1 7.69697Z" stroke="#92A3BA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M10.2081 10.2083C11.5951 10.2083 12.7195 9.0839 12.7195 7.69691C12.7195 6.30992 11.5951 5.18555 10.2081 5.18555C8.82115 5.18555 7.69678 6.30992 7.69678 7.69691C7.69678 9.0839 8.82115 10.2083 10.2081 10.2083Z" stroke="#92A3BA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>


{% endblock %}
