---
title: My Staff
mainNav: [
  {
    name: 'Дэшборд',
    link: '/dashboard.html'
  },
  {
    name: 'моё планирование',
    link: '/planing.html'
  },
  {
    name: 'мои сотрудники',
    link: '/my-staff.html',
    isActive: true
  },
  {
    name: 'обязанности',
    link: '/responsibility.html'
  },
  {
    name: 'Мой профиль',
    link: '/my-profile.html'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

{% include "partials/_left-menu.html" %}

<div class="wrapper__inner">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="my-staff__wrapper">

          <div class="my-staff__header">
            Показывать только прямых подчиненных
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="my-staff__body">

            <div class="my-staff__item">

              <div class="my-staff__item-side">
                <div class="my-staff__item-info">
                  <div class="my-staff__item-logo">
                    <img src="https://via.placeholder.com/150 " alt="">
                  </div>
                  <div class="my-staff__item-info-side">
                    <div class="my-staff__item-type">Создание контента</div>
                    <div class="my-staff__item-name">Лариса Филатова</div>
                    <div class="my-staff__item-position">SMM-менеджер</div>
                    <div class="my-staff__item-descr">Способствующие формированию имиджа мероприятия</div>
                  </div>
                </div>
                <div class="my-staff__item-info">
                  <div class="my-staff__plane-title">План на след. неделю (13-17.04)</div>
                  <div class="my-staff__plane-status">Загружено: <span class="green">35ч / 35ч</span> <span class="dashboard-notif__status-item dashboard-notif__status-item-red">
                    не утвержден
                  </span> </div>
                  <div class="my-staff__plane-icons">
                    <a href="" class="icon icon-white">
                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8469 8.61991L11.8459 8.62082C11.7327 8.73055 11.6138 8.83445 11.4898 8.93217C11.268 8.85176 11.0431 8.78049 10.8159 8.71844C11.2494 8.43305 11.6255 8.06824 11.9212 7.64101C12.3755 6.98456 12.6187 6.211 12.6177 5.41829L12.6177 5.4177C12.6152 4.35584 12.1758 3.34216 11.4022 2.59761C10.6292 1.85366 9.58543 1.43838 8.50054 1.43719H8.49999C7.68943 1.43719 6.89564 1.66875 6.21894 2.10453C5.54205 2.54044 5.01167 3.16191 4.69783 3.89252C4.38389 4.62335 4.30166 5.42863 4.46243 6.20563C4.62318 6.98249 5.01895 7.69331 5.5966 8.24924C5.77835 8.42416 5.97555 8.58129 6.18526 8.71924C5.95717 8.78162 5.73239 8.85304 5.51144 8.93321C5.50623 8.92912 5.50103 8.92503 5.49583 8.92093C4.65153 8.25359 4.07701 7.32786 3.86533 6.30362C3.65369 5.27964 3.81673 4.21594 4.32865 3.29267C4.84083 2.36894 5.672 1.64082 6.68421 1.23659C7.69668 0.83226 8.82442 0.778489 9.87406 1.085C10.9235 1.39146 11.8261 2.03784 12.431 2.90955C13.0356 3.78082 13.3064 4.82446 13.2005 5.86316C13.0946 6.90201 12.6178 7.87668 11.8469 8.61991ZM7.00874 9.55288C8.10334 9.33918 9.22541 9.36455 10.2948 9.61749C9.73029 9.84001 9.12562 9.9548 8.51464 9.95505C8.50975 9.95504 8.50487 9.95503 8.49999 9.95503L8.4999 9.95504C7.88095 9.95515 7.27352 9.83864 6.70998 9.61732C6.80892 9.59393 6.90853 9.57244 7.00874 9.55288ZM11.1317 10.4595C11.0854 10.441 11.0388 10.423 10.9921 10.4055C11.2095 10.3038 11.4198 10.1889 11.6217 10.0616C11.752 10.1188 11.8808 10.1798 12.008 10.2444C13.5402 11.0229 14.7418 12.2855 15.4135 13.8146L15.4136 13.8148C15.803 14.7006 16.0023 15.6524 16 16.6132L16 16.6151C16 16.6484 15.9933 16.6818 15.9796 16.7137C15.9659 16.7456 15.9453 16.7758 15.918 16.8021C15.8906 16.8285 15.8572 16.8503 15.819 16.8655C15.7808 16.8807 15.7393 16.8887 15.697 16.8887H15.6964C15.61 16.8887 15.5307 16.8554 15.4751 16.8018C15.4201 16.7488 15.3928 16.681 15.3928 16.6144C15.3928 15.7373 15.2134 14.8692 14.8655 14.0598C14.5176 13.2506 14.0082 12.5165 13.3673 11.899C12.7264 11.2816 11.9666 10.7927 11.1317 10.4595ZM2.6898 12.0601C3.42 11.2001 4.34252 10.5188 5.38105 10.0622L6.01014 10.4046C5.96266 10.4224 5.91536 10.4407 5.86824 10.4595C5.03333 10.7927 4.27354 11.2816 3.63269 11.899C2.9918 12.5165 2.48238 13.2506 2.13447 14.0598C1.78654 14.8692 1.6072 15.7373 1.6072 16.6144C1.6072 16.681 1.57991 16.7488 1.52491 16.8018C1.46928 16.8554 1.39 16.8887 1.3036 16.8887C1.2172 16.8887 1.13792 16.8554 1.08229 16.8018C1.02729 16.7488 1 16.681 1 16.6144C1.00097 14.9566 1.59652 13.3476 2.6898 12.0601Z" fill="#3984EA" stroke="#3984EA"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.19846 9.28878C3.11967 9.29246 3.04238 9.31162 2.971 9.34517M3.19846 9.28878L3.20312 9.38867L3.19844 9.28878C3.19845 9.28878 3.19846 9.28878 3.19846 9.28878ZM3.19846 9.28878C3.21637 9.28794 3.23431 9.2879 3.25222 9.28867H11.7494H11.75V9.38867C11.8163 9.38773 11.882 9.39998 11.9435 9.42468C12.005 9.44939 12.061 9.48607 12.1082 9.53259C12.1553 9.57911 12.1928 9.63455 12.2184 9.69568C12.244 9.75681 12.2571 9.82241 12.2571 9.88867C12.2571 9.95493 12.244 10.0205 12.2184 10.0817C12.1928 10.1428 12.1553 10.1982 12.1082 10.2448C12.061 10.2913 12.005 10.328 11.9435 10.3527C11.882 10.3774 11.8163 10.3896 11.75 10.3887L2.971 9.34517M2.971 9.34517C2.89961 9.37873 2.83554 9.42601 2.78243 9.48433C2.72933 9.54265 2.68823 9.61086 2.66148 9.68506C2.63474 9.75926 2.62288 9.83801 2.62657 9.9168C2.63027 9.99559 2.64944 10.0729 2.68301 10.1443C2.71658 10.2156 2.76387 10.2797 2.8222 10.3328C2.88053 10.3859 2.94875 10.427 3.02296 10.4537C3.0964 10.4801 3.17428 10.492 3.25225 10.4887H11.7494L2.971 9.34517ZM3.19846 11.7888C3.11967 11.7925 3.04238 11.8116 2.971 11.8452M3.19846 11.7888L3.20312 11.8887L3.19844 11.7888C3.19845 11.7888 3.19846 11.7888 3.19846 11.7888ZM3.19846 11.7888C3.21637 11.7879 3.23431 11.7879 3.25222 11.7887H11.7494H11.75V11.8887C11.8163 11.8877 11.882 11.9 11.9435 11.9247C12.005 11.9494 12.061 11.9861 12.1082 12.0326C12.1553 12.0791 12.1928 12.1346 12.2184 12.1957C12.244 12.2568 12.2571 12.3224 12.2571 12.3887C12.2571 12.4549 12.244 12.5205 12.2184 12.5817C12.1928 12.6428 12.1553 12.6982 12.1082 12.7448C12.061 12.7913 12.005 12.828 11.9435 12.8527C11.882 12.8774 11.8163 12.8896 11.75 12.8887L2.971 11.8452M2.971 11.8452C2.89961 11.8787 2.83554 11.926 2.78243 11.9843C2.72933 12.0426 2.68823 12.1109 2.66148 12.1851C2.63474 12.2593 2.62288 12.338 2.62657 12.4168C2.63027 12.4956 2.64944 12.5729 2.68301 12.6443C2.71658 12.7156 2.76387 12.7797 2.8222 12.8328C2.88053 12.8859 2.94875 12.927 3.02296 12.9537C3.0964 12.9801 3.17428 12.992 3.25225 12.9887H11.7494L2.971 11.8452ZM3.19846 14.2888C3.11967 14.2925 3.04238 14.3116 2.971 14.3452M3.19846 14.2888L3.20312 14.3887M3.19846 14.2888C3.19846 14.2888 3.19845 14.2888 3.19844 14.2888L3.20312 14.3887M3.19846 14.2888C3.21637 14.2879 3.23431 14.2879 3.25222 14.2887H11.7494H11.75V14.3887C11.8163 14.3877 11.882 14.4 11.9435 14.4247C12.005 14.4494 12.061 14.4861 12.1082 14.5326C12.1553 14.5791 12.1928 14.6346 12.2184 14.6957C12.244 14.7568 12.2571 14.8224 12.2571 14.8887C12.2571 14.9549 12.244 15.0205 12.2184 15.0817C12.1928 15.1428 12.1553 15.1982 12.1082 15.2448C12.061 15.2913 12.005 15.328 11.9435 15.3527C11.882 15.3774 11.8163 15.3896 11.75 15.3887L2.971 14.3452M2.971 14.3452C2.89961 14.3787 2.83554 14.426 2.78243 14.4843C2.72933 14.5426 2.68823 14.6109 2.66148 14.6851C2.63474 14.7593 2.62288 14.838 2.62657 14.9168C2.63027 14.9956 2.64944 15.0729 2.68301 15.1443C2.71658 15.2156 2.76387 15.2797 2.8222 15.3328C2.88053 15.3859 2.94875 15.427 3.02296 15.4537C3.0964 15.4801 3.17428 15.492 3.25225 15.4887H11.7494L2.971 14.3452ZM3.20312 14.3887C3.13745 14.3917 3.07303 14.4077 3.01354 14.4357C2.95404 14.4636 2.90063 14.5031 2.85637 14.5517C2.81211 14.6003 2.77785 14.6571 2.75556 14.719C2.73327 14.7808 2.72338 14.8464 2.72646 14.9121C2.72954 14.9778 2.74552 15.0422 2.7735 15.1017C2.80148 15.1612 2.8409 15.2146 2.88952 15.2588C2.93814 15.3031 2.99499 15.3373 3.05684 15.3596C3.1187 15.3819 3.18433 15.3918 3.25 15.3887V14.3887C3.23438 14.3879 3.21874 14.3879 3.20312 14.3887ZM14.6 4.88867L14.6 4.88787C14.5987 4.72936 14.5348 4.57779 14.4221 4.46627C14.4221 4.46618 14.422 4.46609 14.4219 4.466L10.4227 0.466797C10.4226 0.466715 10.4225 0.466634 10.4224 0.466552C10.3109 0.353897 10.1593 0.289946 10.0008 0.288675V0.288672H10H2C1.12242 0.288672 0.4 1.01109 0.4 1.88867V16.8887C0.4 17.7663 1.12242 18.4887 2 18.4887H13C13.8776 18.4887 14.6 17.7663 14.6 16.8887L14.6 4.88867ZM2 1.48867H9.4V4.88867C9.40002 5.0478 9.46323 5.2004 9.57575 5.31292C9.68827 5.42544 9.84087 5.48866 9.99999 5.48867H13.4V16.8887C13.4 17.1191 13.2304 17.2887 13 17.2887H2C1.76958 17.2887 1.6 17.1191 1.6 16.8887V1.88867C1.6 1.65825 1.76958 1.48867 2 1.48867ZM10.6 4.28867V2.33322L12.5555 4.28867H10.6Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.2"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.65346 0.484342C0.937576 0.484342 0.296875 1.09896 0.296875 1.78569C0.296875 2.4719 0.937576 3.04997 1.65346 3.04997C2.36907 3.04997 2.97181 2.4719 2.97181 1.78569C2.97181 1.09896 2.36907 0.484342 1.65346 0.484342ZM6.47494 0.59282C5.79682 0.59282 5.23184 1.13492 5.23184 1.78569C5.23184 2.43567 5.79682 2.94149 6.47494 2.94149H17.8894C18.5672 2.94149 19.1321 2.43567 19.1321 1.78569C19.1321 1.13492 18.5672 0.59282 17.8894 0.59282H6.47494ZM1.65346 6.7359C0.937576 6.7359 0.296875 7.31476 0.296875 8.00096C0.296875 8.68716 0.937576 9.26563 1.65346 9.26563C2.36907 9.26563 2.97181 8.68716 2.97181 8.00096C2.97181 7.31476 2.36907 6.7359 1.65346 6.7359ZM6.47494 6.80848C5.79682 6.80848 5.23184 7.35045 5.23184 8.00096C5.23184 8.6512 5.79682 9.19344 6.47494 9.19344H17.889C18.5668 9.19344 19.1325 8.6512 19.1325 8.00096C19.1325 7.35045 18.5668 6.80848 17.889 6.80848H6.47494ZM1.65346 12.9516C0.937576 12.9516 0.296875 13.5295 0.296875 14.2162C0.296875 14.903 0.937576 15.5176 1.65346 15.5176C2.36907 15.5176 2.97181 14.903 2.97181 14.2162C2.97181 13.5295 2.36907 12.9516 1.65346 12.9516ZM6.47494 13.0237C5.79682 13.0237 5.23184 13.5657 5.23184 14.2162C5.23184 14.867 5.79682 15.4087 6.47494 15.4087H17.889C18.5668 15.4087 19.1325 14.867 19.1325 14.2162C19.1325 13.5657 18.5668 13.0237 17.889 13.0237H6.47494Z" fill="#3984EA"/>
                        </svg>

                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="19" fill="black">
                        <rect fill="white" width="19" height="19"/>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z"/>
                        </mask>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z" fill="#3984EA"/>
                        </svg>
                        
                    </a>
                  </div>
                </div>
              </div>

              <div class="my-staff__item-side">
                <div class="dashboard-planing">
                
                  <div class="dashboard-planing__body ">
                      <div class="dashboard-planing__item">
                
                      
                      <div class="dashboard-planing__item-head">
                
                        <div class="dashboard-planing__item-icon">
                          <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M18 5.93217C17.9982 5.88789 17.989 5.84422 17.9726 5.80304C17.9538 5.75949 17.9273 5.71972 17.8943 5.68565L12.3261 0.113478C12.292 0.0804942 12.2522 0.0539762 12.2087 0.0352174C12.1607 0.0133139 12.1088 0.00133488 12.0561 0H0.391304C0.287524 0 0.187994 0.0412266 0.11461 0.11461C0.0412267 0.187994 0 0.287524 0 0.391304V22.3043C0 22.4081 0.0412267 22.5077 0.11461 22.581C0.187994 22.6544 0.287524 22.6957 0.391304 22.6957H17.6087C17.7125 22.6957 17.812 22.6544 17.8854 22.581C17.9588 22.5077 18 22.4081 18 22.3043V5.98304V5.94391V5.93217ZM12.4396 1.33435L16.6578 5.55261H12.4396V1.33435ZM0.782609 21.913V0.782609H11.657V5.94391C11.657 6.04769 11.6982 6.14722 11.7716 6.22061C11.845 6.29399 11.9445 6.33522 12.0483 6.33522H17.2174V21.913H0.782609Z" fill="#92A3BA"/>
                          <path d="M6.09674 6.78159L4.56283 8.3155L3.99544 7.74811C3.92058 7.684 3.82429 7.6505 3.72581 7.65431C3.62733 7.65811 3.53391 7.69894 3.46422 7.76863C3.39453 7.83831 3.35371 7.93173 3.3499 8.03022C3.3461 8.1287 3.37959 8.22499 3.4437 8.29985L4.30457 9.14506C4.37789 9.21794 4.47706 9.25885 4.58044 9.25885C4.68382 9.25885 4.78299 9.21794 4.85631 9.14506L6.6524 7.33724C6.7165 7.26238 6.75 7.16609 6.7462 7.06761C6.74239 6.96913 6.70157 6.87571 6.63188 6.80602C6.56219 6.73633 6.46877 6.6955 6.37029 6.6917C6.2718 6.68789 6.17551 6.72139 6.10066 6.7855L6.09674 6.78159Z" fill="#92A3BA"/>
                          <path d="M13.8835 8.0293H7.38789C7.28411 8.0293 7.18458 8.07052 7.11119 8.14391C7.03781 8.21729 6.99658 8.31682 6.99658 8.4206C6.99658 8.52438 7.03781 8.62391 7.11119 8.69729C7.18458 8.77068 7.28411 8.81191 7.38789 8.81191H13.8835C13.9873 8.81191 14.0868 8.77068 14.1602 8.69729C14.2336 8.62391 14.2748 8.52438 14.2748 8.4206C14.2748 8.31682 14.2336 8.21729 14.1602 8.14391C14.0868 8.07052 13.9873 8.0293 13.8835 8.0293Z" fill="#92A3BA"/>
                          <path d="M6.09674 10.8985L4.56283 12.4324L3.99544 11.865C3.92058 11.8009 3.82429 11.7674 3.72581 11.7712C3.62733 11.775 3.53391 11.8158 3.46422 11.8855C3.39453 11.9552 3.35371 12.0486 3.3499 12.1471C3.3461 12.2456 3.37959 12.3419 3.4437 12.4168L4.30457 13.262C4.37789 13.3349 4.47706 13.3758 4.58044 13.3758C4.68382 13.3758 4.78299 13.3349 4.85631 13.262L6.6524 11.4502C6.69336 11.4152 6.72663 11.372 6.75012 11.3234C6.7736 11.2749 6.7868 11.222 6.78888 11.1681C6.79096 11.1142 6.78188 11.0605 6.76221 11.0103C6.74254 10.9601 6.7127 10.9145 6.67456 10.8763C6.63643 10.8382 6.59082 10.8084 6.54061 10.7887C6.4904 10.769 6.43666 10.7599 6.38277 10.762C6.32888 10.7641 6.276 10.7773 6.22745 10.8008C6.1789 10.8243 6.13574 10.8575 6.10066 10.8985H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 12.1309H7.38789C7.28411 12.1309 7.18458 12.1721 7.11119 12.2455C7.03781 12.3189 6.99658 12.4184 6.99658 12.5222C6.99658 12.6259 7.03781 12.7255 7.11119 12.7989C7.18458 12.8722 7.28411 12.9135 7.38789 12.9135H13.8835C13.9873 12.9135 14.0868 12.8722 14.1602 12.7989C14.2336 12.7255 14.2748 12.6259 14.2748 12.5222C14.2748 12.4184 14.2336 12.3189 14.1602 12.2455C14.0868 12.1721 13.9873 12.1309 13.8835 12.1309Z" fill="#92A3BA"/>
                          <path d="M6.09674 15.014L4.56283 16.5479L3.99544 15.9805C3.92058 15.9164 3.82429 15.8829 3.72581 15.8867C3.62733 15.8905 3.53391 15.9314 3.46422 16.0011C3.39453 16.0707 3.35371 16.1642 3.3499 16.2626C3.3461 16.3611 3.37959 16.4574 3.4437 16.5323L4.30457 17.3736C4.37789 17.4465 4.47706 17.4874 4.58044 17.4874C4.68382 17.4874 4.78299 17.4465 4.85631 17.3736L6.6524 15.5658C6.7165 15.4909 6.75 15.3946 6.7462 15.2961C6.74239 15.1976 6.70157 15.1042 6.63188 15.0345C6.56219 14.9648 6.46877 14.924 6.37029 14.9202C6.2718 14.9164 6.17551 14.9499 6.10066 15.014H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 16.2637H7.38789C7.28411 16.2637 7.18458 16.3049 7.11119 16.3783C7.03781 16.4517 6.99658 16.5512 6.99658 16.655C6.99658 16.7588 7.03781 16.8583 7.11119 16.9317C7.18458 17.0051 7.28411 17.0463 7.38789 17.0463H13.8835C13.9873 17.0463 14.0868 17.0051 14.1602 16.9317C14.2336 16.8583 14.2748 16.7588 14.2748 16.655C14.2748 16.5512 14.2336 16.4517 14.1602 16.3783C14.0868 16.3049 13.9873 16.2637 13.8835 16.2637Z" fill="#92A3BA"/>
                          </svg>            
                        </div>
                
                        <div class="dashboard-planing__item-info">
                          <div class="dashboard-planing__item-info-text"><span class="t-s-medium">23%</span> /текущ.плана | <span class="t-grey">8ч из 35ч</span></div>
                          
                          <div class="js-flatpickr flatpickr-wrapper ">
                            <input type="text" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
                        
                            
                            <a class="dropdown-calendar icon icon-white" data-toggle>
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              </svg>        
                            </a>
                        
                        </div>
                        </div>
                
                      </div>
                      <div class="dashboard-planing__item-body">
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ЧТ</div>
                          <span>12%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПТ</div>
                          <span>11%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПН</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ВТ</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">СР</div>
                          <span>-</span>
                        </div>
                      </div>
                      </div>
                      
                      <div class="dashboard-planing__item">
                
                        <div class="dashboard-planing__item-side">
                
                          <div class="dashboard-planing__item-side__icon">
                            <svg width="33" height="21" viewBox="0 0 33 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19.125L12.2 7.925L18.6 14.325L31.8 1.125" stroke="#92A3BA" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                          </div>
                          <div class="t-big">-13%</div>
                
                        </div>
                        <div class="dashboard-planing__item-side">
                          <div class="t-small">план/факт пред.неделя</div>
                          <div class="t-small t-grey">основной показатель</div>
                        </div>
                
                      </div>
                  </div>
                
                </div>
              </div>

            </div>

            <div class="my-staff__item">

              <div class="my-staff__item-side">
                <div class="my-staff__item-info">
                  <div class="my-staff__item-logo">
                    <img src="https://via.placeholder.com/150 " alt="">
                  </div>
                  <div class="my-staff__item-info-side">
                    <div class="my-staff__item-type">Создание контента</div>
                    <div class="my-staff__item-name">Лариса Филатова</div>
                    <div class="my-staff__item-position">SMM-менеджер</div>
                    <div class="my-staff__item-descr">Способствующие формированию имиджа мероприятия</div>
                  </div>
                </div>
                <div class="my-staff__item-info">
                  <div class="my-staff__plane-title">План на след. неделю (13-17.04)</div>
                  <div class="my-staff__plane-status">Загружено: <span class="green">35ч / 35ч</span> <span class="dashboard-notif__status-item dashboard-notif__status-item-red">
                    не утвержден
                  </span> </div>
                  <div class="my-staff__plane-icons">
                    <a href="" class="icon icon-white">
                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8469 8.61991L11.8459 8.62082C11.7327 8.73055 11.6138 8.83445 11.4898 8.93217C11.268 8.85176 11.0431 8.78049 10.8159 8.71844C11.2494 8.43305 11.6255 8.06824 11.9212 7.64101C12.3755 6.98456 12.6187 6.211 12.6177 5.41829L12.6177 5.4177C12.6152 4.35584 12.1758 3.34216 11.4022 2.59761C10.6292 1.85366 9.58543 1.43838 8.50054 1.43719H8.49999C7.68943 1.43719 6.89564 1.66875 6.21894 2.10453C5.54205 2.54044 5.01167 3.16191 4.69783 3.89252C4.38389 4.62335 4.30166 5.42863 4.46243 6.20563C4.62318 6.98249 5.01895 7.69331 5.5966 8.24924C5.77835 8.42416 5.97555 8.58129 6.18526 8.71924C5.95717 8.78162 5.73239 8.85304 5.51144 8.93321C5.50623 8.92912 5.50103 8.92503 5.49583 8.92093C4.65153 8.25359 4.07701 7.32786 3.86533 6.30362C3.65369 5.27964 3.81673 4.21594 4.32865 3.29267C4.84083 2.36894 5.672 1.64082 6.68421 1.23659C7.69668 0.83226 8.82442 0.778489 9.87406 1.085C10.9235 1.39146 11.8261 2.03784 12.431 2.90955C13.0356 3.78082 13.3064 4.82446 13.2005 5.86316C13.0946 6.90201 12.6178 7.87668 11.8469 8.61991ZM7.00874 9.55288C8.10334 9.33918 9.22541 9.36455 10.2948 9.61749C9.73029 9.84001 9.12562 9.9548 8.51464 9.95505C8.50975 9.95504 8.50487 9.95503 8.49999 9.95503L8.4999 9.95504C7.88095 9.95515 7.27352 9.83864 6.70998 9.61732C6.80892 9.59393 6.90853 9.57244 7.00874 9.55288ZM11.1317 10.4595C11.0854 10.441 11.0388 10.423 10.9921 10.4055C11.2095 10.3038 11.4198 10.1889 11.6217 10.0616C11.752 10.1188 11.8808 10.1798 12.008 10.2444C13.5402 11.0229 14.7418 12.2855 15.4135 13.8146L15.4136 13.8148C15.803 14.7006 16.0023 15.6524 16 16.6132L16 16.6151C16 16.6484 15.9933 16.6818 15.9796 16.7137C15.9659 16.7456 15.9453 16.7758 15.918 16.8021C15.8906 16.8285 15.8572 16.8503 15.819 16.8655C15.7808 16.8807 15.7393 16.8887 15.697 16.8887H15.6964C15.61 16.8887 15.5307 16.8554 15.4751 16.8018C15.4201 16.7488 15.3928 16.681 15.3928 16.6144C15.3928 15.7373 15.2134 14.8692 14.8655 14.0598C14.5176 13.2506 14.0082 12.5165 13.3673 11.899C12.7264 11.2816 11.9666 10.7927 11.1317 10.4595ZM2.6898 12.0601C3.42 11.2001 4.34252 10.5188 5.38105 10.0622L6.01014 10.4046C5.96266 10.4224 5.91536 10.4407 5.86824 10.4595C5.03333 10.7927 4.27354 11.2816 3.63269 11.899C2.9918 12.5165 2.48238 13.2506 2.13447 14.0598C1.78654 14.8692 1.6072 15.7373 1.6072 16.6144C1.6072 16.681 1.57991 16.7488 1.52491 16.8018C1.46928 16.8554 1.39 16.8887 1.3036 16.8887C1.2172 16.8887 1.13792 16.8554 1.08229 16.8018C1.02729 16.7488 1 16.681 1 16.6144C1.00097 14.9566 1.59652 13.3476 2.6898 12.0601Z" fill="#3984EA" stroke="#3984EA"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.19846 9.28878C3.11967 9.29246 3.04238 9.31162 2.971 9.34517M3.19846 9.28878L3.20312 9.38867L3.19844 9.28878C3.19845 9.28878 3.19846 9.28878 3.19846 9.28878ZM3.19846 9.28878C3.21637 9.28794 3.23431 9.2879 3.25222 9.28867H11.7494H11.75V9.38867C11.8163 9.38773 11.882 9.39998 11.9435 9.42468C12.005 9.44939 12.061 9.48607 12.1082 9.53259C12.1553 9.57911 12.1928 9.63455 12.2184 9.69568C12.244 9.75681 12.2571 9.82241 12.2571 9.88867C12.2571 9.95493 12.244 10.0205 12.2184 10.0817C12.1928 10.1428 12.1553 10.1982 12.1082 10.2448C12.061 10.2913 12.005 10.328 11.9435 10.3527C11.882 10.3774 11.8163 10.3896 11.75 10.3887L2.971 9.34517M2.971 9.34517C2.89961 9.37873 2.83554 9.42601 2.78243 9.48433C2.72933 9.54265 2.68823 9.61086 2.66148 9.68506C2.63474 9.75926 2.62288 9.83801 2.62657 9.9168C2.63027 9.99559 2.64944 10.0729 2.68301 10.1443C2.71658 10.2156 2.76387 10.2797 2.8222 10.3328C2.88053 10.3859 2.94875 10.427 3.02296 10.4537C3.0964 10.4801 3.17428 10.492 3.25225 10.4887H11.7494L2.971 9.34517ZM3.19846 11.7888C3.11967 11.7925 3.04238 11.8116 2.971 11.8452M3.19846 11.7888L3.20312 11.8887L3.19844 11.7888C3.19845 11.7888 3.19846 11.7888 3.19846 11.7888ZM3.19846 11.7888C3.21637 11.7879 3.23431 11.7879 3.25222 11.7887H11.7494H11.75V11.8887C11.8163 11.8877 11.882 11.9 11.9435 11.9247C12.005 11.9494 12.061 11.9861 12.1082 12.0326C12.1553 12.0791 12.1928 12.1346 12.2184 12.1957C12.244 12.2568 12.2571 12.3224 12.2571 12.3887C12.2571 12.4549 12.244 12.5205 12.2184 12.5817C12.1928 12.6428 12.1553 12.6982 12.1082 12.7448C12.061 12.7913 12.005 12.828 11.9435 12.8527C11.882 12.8774 11.8163 12.8896 11.75 12.8887L2.971 11.8452M2.971 11.8452C2.89961 11.8787 2.83554 11.926 2.78243 11.9843C2.72933 12.0426 2.68823 12.1109 2.66148 12.1851C2.63474 12.2593 2.62288 12.338 2.62657 12.4168C2.63027 12.4956 2.64944 12.5729 2.68301 12.6443C2.71658 12.7156 2.76387 12.7797 2.8222 12.8328C2.88053 12.8859 2.94875 12.927 3.02296 12.9537C3.0964 12.9801 3.17428 12.992 3.25225 12.9887H11.7494L2.971 11.8452ZM3.19846 14.2888C3.11967 14.2925 3.04238 14.3116 2.971 14.3452M3.19846 14.2888L3.20312 14.3887M3.19846 14.2888C3.19846 14.2888 3.19845 14.2888 3.19844 14.2888L3.20312 14.3887M3.19846 14.2888C3.21637 14.2879 3.23431 14.2879 3.25222 14.2887H11.7494H11.75V14.3887C11.8163 14.3877 11.882 14.4 11.9435 14.4247C12.005 14.4494 12.061 14.4861 12.1082 14.5326C12.1553 14.5791 12.1928 14.6346 12.2184 14.6957C12.244 14.7568 12.2571 14.8224 12.2571 14.8887C12.2571 14.9549 12.244 15.0205 12.2184 15.0817C12.1928 15.1428 12.1553 15.1982 12.1082 15.2448C12.061 15.2913 12.005 15.328 11.9435 15.3527C11.882 15.3774 11.8163 15.3896 11.75 15.3887L2.971 14.3452M2.971 14.3452C2.89961 14.3787 2.83554 14.426 2.78243 14.4843C2.72933 14.5426 2.68823 14.6109 2.66148 14.6851C2.63474 14.7593 2.62288 14.838 2.62657 14.9168C2.63027 14.9956 2.64944 15.0729 2.68301 15.1443C2.71658 15.2156 2.76387 15.2797 2.8222 15.3328C2.88053 15.3859 2.94875 15.427 3.02296 15.4537C3.0964 15.4801 3.17428 15.492 3.25225 15.4887H11.7494L2.971 14.3452ZM3.20312 14.3887C3.13745 14.3917 3.07303 14.4077 3.01354 14.4357C2.95404 14.4636 2.90063 14.5031 2.85637 14.5517C2.81211 14.6003 2.77785 14.6571 2.75556 14.719C2.73327 14.7808 2.72338 14.8464 2.72646 14.9121C2.72954 14.9778 2.74552 15.0422 2.7735 15.1017C2.80148 15.1612 2.8409 15.2146 2.88952 15.2588C2.93814 15.3031 2.99499 15.3373 3.05684 15.3596C3.1187 15.3819 3.18433 15.3918 3.25 15.3887V14.3887C3.23438 14.3879 3.21874 14.3879 3.20312 14.3887ZM14.6 4.88867L14.6 4.88787C14.5987 4.72936 14.5348 4.57779 14.4221 4.46627C14.4221 4.46618 14.422 4.46609 14.4219 4.466L10.4227 0.466797C10.4226 0.466715 10.4225 0.466634 10.4224 0.466552C10.3109 0.353897 10.1593 0.289946 10.0008 0.288675V0.288672H10H2C1.12242 0.288672 0.4 1.01109 0.4 1.88867V16.8887C0.4 17.7663 1.12242 18.4887 2 18.4887H13C13.8776 18.4887 14.6 17.7663 14.6 16.8887L14.6 4.88867ZM2 1.48867H9.4V4.88867C9.40002 5.0478 9.46323 5.2004 9.57575 5.31292C9.68827 5.42544 9.84087 5.48866 9.99999 5.48867H13.4V16.8887C13.4 17.1191 13.2304 17.2887 13 17.2887H2C1.76958 17.2887 1.6 17.1191 1.6 16.8887V1.88867C1.6 1.65825 1.76958 1.48867 2 1.48867ZM10.6 4.28867V2.33322L12.5555 4.28867H10.6Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.2"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.65346 0.484342C0.937576 0.484342 0.296875 1.09896 0.296875 1.78569C0.296875 2.4719 0.937576 3.04997 1.65346 3.04997C2.36907 3.04997 2.97181 2.4719 2.97181 1.78569C2.97181 1.09896 2.36907 0.484342 1.65346 0.484342ZM6.47494 0.59282C5.79682 0.59282 5.23184 1.13492 5.23184 1.78569C5.23184 2.43567 5.79682 2.94149 6.47494 2.94149H17.8894C18.5672 2.94149 19.1321 2.43567 19.1321 1.78569C19.1321 1.13492 18.5672 0.59282 17.8894 0.59282H6.47494ZM1.65346 6.7359C0.937576 6.7359 0.296875 7.31476 0.296875 8.00096C0.296875 8.68716 0.937576 9.26563 1.65346 9.26563C2.36907 9.26563 2.97181 8.68716 2.97181 8.00096C2.97181 7.31476 2.36907 6.7359 1.65346 6.7359ZM6.47494 6.80848C5.79682 6.80848 5.23184 7.35045 5.23184 8.00096C5.23184 8.6512 5.79682 9.19344 6.47494 9.19344H17.889C18.5668 9.19344 19.1325 8.6512 19.1325 8.00096C19.1325 7.35045 18.5668 6.80848 17.889 6.80848H6.47494ZM1.65346 12.9516C0.937576 12.9516 0.296875 13.5295 0.296875 14.2162C0.296875 14.903 0.937576 15.5176 1.65346 15.5176C2.36907 15.5176 2.97181 14.903 2.97181 14.2162C2.97181 13.5295 2.36907 12.9516 1.65346 12.9516ZM6.47494 13.0237C5.79682 13.0237 5.23184 13.5657 5.23184 14.2162C5.23184 14.867 5.79682 15.4087 6.47494 15.4087H17.889C18.5668 15.4087 19.1325 14.867 19.1325 14.2162C19.1325 13.5657 18.5668 13.0237 17.889 13.0237H6.47494Z" fill="#3984EA"/>
                        </svg>

                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="19" fill="black">
                        <rect fill="white" width="19" height="19"/>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z"/>
                        </mask>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z" fill="#3984EA"/>
                        </svg>
                        
                    </a>
                  </div>
                </div>
              </div>

              <div class="my-staff__item-side">
                <div class="dashboard-planing">
                
                  <div class="dashboard-planing__body ">
                      <div class="dashboard-planing__item">
                
                      
                      <div class="dashboard-planing__item-head">
                
                        <div class="dashboard-planing__item-icon">
                          <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M18 5.93217C17.9982 5.88789 17.989 5.84422 17.9726 5.80304C17.9538 5.75949 17.9273 5.71972 17.8943 5.68565L12.3261 0.113478C12.292 0.0804942 12.2522 0.0539762 12.2087 0.0352174C12.1607 0.0133139 12.1088 0.00133488 12.0561 0H0.391304C0.287524 0 0.187994 0.0412266 0.11461 0.11461C0.0412267 0.187994 0 0.287524 0 0.391304V22.3043C0 22.4081 0.0412267 22.5077 0.11461 22.581C0.187994 22.6544 0.287524 22.6957 0.391304 22.6957H17.6087C17.7125 22.6957 17.812 22.6544 17.8854 22.581C17.9588 22.5077 18 22.4081 18 22.3043V5.98304V5.94391V5.93217ZM12.4396 1.33435L16.6578 5.55261H12.4396V1.33435ZM0.782609 21.913V0.782609H11.657V5.94391C11.657 6.04769 11.6982 6.14722 11.7716 6.22061C11.845 6.29399 11.9445 6.33522 12.0483 6.33522H17.2174V21.913H0.782609Z" fill="#92A3BA"/>
                          <path d="M6.09674 6.78159L4.56283 8.3155L3.99544 7.74811C3.92058 7.684 3.82429 7.6505 3.72581 7.65431C3.62733 7.65811 3.53391 7.69894 3.46422 7.76863C3.39453 7.83831 3.35371 7.93173 3.3499 8.03022C3.3461 8.1287 3.37959 8.22499 3.4437 8.29985L4.30457 9.14506C4.37789 9.21794 4.47706 9.25885 4.58044 9.25885C4.68382 9.25885 4.78299 9.21794 4.85631 9.14506L6.6524 7.33724C6.7165 7.26238 6.75 7.16609 6.7462 7.06761C6.74239 6.96913 6.70157 6.87571 6.63188 6.80602C6.56219 6.73633 6.46877 6.6955 6.37029 6.6917C6.2718 6.68789 6.17551 6.72139 6.10066 6.7855L6.09674 6.78159Z" fill="#92A3BA"/>
                          <path d="M13.8835 8.0293H7.38789C7.28411 8.0293 7.18458 8.07052 7.11119 8.14391C7.03781 8.21729 6.99658 8.31682 6.99658 8.4206C6.99658 8.52438 7.03781 8.62391 7.11119 8.69729C7.18458 8.77068 7.28411 8.81191 7.38789 8.81191H13.8835C13.9873 8.81191 14.0868 8.77068 14.1602 8.69729C14.2336 8.62391 14.2748 8.52438 14.2748 8.4206C14.2748 8.31682 14.2336 8.21729 14.1602 8.14391C14.0868 8.07052 13.9873 8.0293 13.8835 8.0293Z" fill="#92A3BA"/>
                          <path d="M6.09674 10.8985L4.56283 12.4324L3.99544 11.865C3.92058 11.8009 3.82429 11.7674 3.72581 11.7712C3.62733 11.775 3.53391 11.8158 3.46422 11.8855C3.39453 11.9552 3.35371 12.0486 3.3499 12.1471C3.3461 12.2456 3.37959 12.3419 3.4437 12.4168L4.30457 13.262C4.37789 13.3349 4.47706 13.3758 4.58044 13.3758C4.68382 13.3758 4.78299 13.3349 4.85631 13.262L6.6524 11.4502C6.69336 11.4152 6.72663 11.372 6.75012 11.3234C6.7736 11.2749 6.7868 11.222 6.78888 11.1681C6.79096 11.1142 6.78188 11.0605 6.76221 11.0103C6.74254 10.9601 6.7127 10.9145 6.67456 10.8763C6.63643 10.8382 6.59082 10.8084 6.54061 10.7887C6.4904 10.769 6.43666 10.7599 6.38277 10.762C6.32888 10.7641 6.276 10.7773 6.22745 10.8008C6.1789 10.8243 6.13574 10.8575 6.10066 10.8985H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 12.1309H7.38789C7.28411 12.1309 7.18458 12.1721 7.11119 12.2455C7.03781 12.3189 6.99658 12.4184 6.99658 12.5222C6.99658 12.6259 7.03781 12.7255 7.11119 12.7989C7.18458 12.8722 7.28411 12.9135 7.38789 12.9135H13.8835C13.9873 12.9135 14.0868 12.8722 14.1602 12.7989C14.2336 12.7255 14.2748 12.6259 14.2748 12.5222C14.2748 12.4184 14.2336 12.3189 14.1602 12.2455C14.0868 12.1721 13.9873 12.1309 13.8835 12.1309Z" fill="#92A3BA"/>
                          <path d="M6.09674 15.014L4.56283 16.5479L3.99544 15.9805C3.92058 15.9164 3.82429 15.8829 3.72581 15.8867C3.62733 15.8905 3.53391 15.9314 3.46422 16.0011C3.39453 16.0707 3.35371 16.1642 3.3499 16.2626C3.3461 16.3611 3.37959 16.4574 3.4437 16.5323L4.30457 17.3736C4.37789 17.4465 4.47706 17.4874 4.58044 17.4874C4.68382 17.4874 4.78299 17.4465 4.85631 17.3736L6.6524 15.5658C6.7165 15.4909 6.75 15.3946 6.7462 15.2961C6.74239 15.1976 6.70157 15.1042 6.63188 15.0345C6.56219 14.9648 6.46877 14.924 6.37029 14.9202C6.2718 14.9164 6.17551 14.9499 6.10066 15.014H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 16.2637H7.38789C7.28411 16.2637 7.18458 16.3049 7.11119 16.3783C7.03781 16.4517 6.99658 16.5512 6.99658 16.655C6.99658 16.7588 7.03781 16.8583 7.11119 16.9317C7.18458 17.0051 7.28411 17.0463 7.38789 17.0463H13.8835C13.9873 17.0463 14.0868 17.0051 14.1602 16.9317C14.2336 16.8583 14.2748 16.7588 14.2748 16.655C14.2748 16.5512 14.2336 16.4517 14.1602 16.3783C14.0868 16.3049 13.9873 16.2637 13.8835 16.2637Z" fill="#92A3BA"/>
                          </svg>            
                        </div>
                
                        <div class="dashboard-planing__item-info">
                          <div class="dashboard-planing__item-info-text"><span class="t-s-medium">23%</span> /текущ.плана | <span class="t-grey">8ч из 35ч</span></div>
                          
                          <div class="js-flatpickr flatpickr-wrapper ">
                            <input type="text" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
                        
                            
                            <a class="dropdown-calendar icon icon-white" data-toggle>
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              </svg>        
                            </a>
                        
                        </div>
                        </div>
                
                      </div>
                      <div class="dashboard-planing__item-body">
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ЧТ</div>
                          <span>12%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПТ</div>
                          <span>11%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПН</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ВТ</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">СР</div>
                          <span>-</span>
                        </div>
                      </div>
                      </div>
                      
                      <div class="dashboard-planing__item">
                
                        <div class="dashboard-planing__item-side">
                
                          <div class="dashboard-planing__item-side__icon">
                            <svg width="33" height="21" viewBox="0 0 33 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19.125L12.2 7.925L18.6 14.325L31.8 1.125" stroke="#92A3BA" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                          </div>
                          <div class="t-big">-13%</div>
                
                        </div>
                        <div class="dashboard-planing__item-side">
                          <div class="t-small">план/факт пред.неделя</div>
                          <div class="t-small t-grey">основной показатель</div>
                        </div>
                
                      </div>
                  </div>
                
                </div>
              </div>

            </div>

            <div class="my-staff__item">

              <div class="my-staff__item-side">
                <div class="my-staff__item-info">
                  <div class="my-staff__item-logo">
                    <img src="https://via.placeholder.com/150 " alt="">
                  </div>
                  <div class="my-staff__item-info-side">
                    <div class="my-staff__item-type">Создание контента</div>
                    <div class="my-staff__item-name">Лариса Филатова</div>
                    <div class="my-staff__item-position">SMM-менеджер</div>
                    <div class="my-staff__item-descr">Способствующие формированию имиджа мероприятия</div>
                  </div>
                </div>
                <div class="my-staff__item-info">
                  <div class="my-staff__plane-title">План на след. неделю (13-17.04)</div>
                  <div class="my-staff__plane-status">Загружено: <span class="red">35ч / 35ч</span> <span class="dashboard-notif__status-item dashboard-notif__status-item-red">
                    не утвержден
                  </span> </div>
                  <div class="my-staff__plane-icons">
                    <a href="" class="icon icon-white">
                      <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.8469 8.61991L11.8459 8.62082C11.7327 8.73055 11.6138 8.83445 11.4898 8.93217C11.268 8.85176 11.0431 8.78049 10.8159 8.71844C11.2494 8.43305 11.6255 8.06824 11.9212 7.64101C12.3755 6.98456 12.6187 6.211 12.6177 5.41829L12.6177 5.4177C12.6152 4.35584 12.1758 3.34216 11.4022 2.59761C10.6292 1.85366 9.58543 1.43838 8.50054 1.43719H8.49999C7.68943 1.43719 6.89564 1.66875 6.21894 2.10453C5.54205 2.54044 5.01167 3.16191 4.69783 3.89252C4.38389 4.62335 4.30166 5.42863 4.46243 6.20563C4.62318 6.98249 5.01895 7.69331 5.5966 8.24924C5.77835 8.42416 5.97555 8.58129 6.18526 8.71924C5.95717 8.78162 5.73239 8.85304 5.51144 8.93321C5.50623 8.92912 5.50103 8.92503 5.49583 8.92093C4.65153 8.25359 4.07701 7.32786 3.86533 6.30362C3.65369 5.27964 3.81673 4.21594 4.32865 3.29267C4.84083 2.36894 5.672 1.64082 6.68421 1.23659C7.69668 0.83226 8.82442 0.778489 9.87406 1.085C10.9235 1.39146 11.8261 2.03784 12.431 2.90955C13.0356 3.78082 13.3064 4.82446 13.2005 5.86316C13.0946 6.90201 12.6178 7.87668 11.8469 8.61991ZM7.00874 9.55288C8.10334 9.33918 9.22541 9.36455 10.2948 9.61749C9.73029 9.84001 9.12562 9.9548 8.51464 9.95505C8.50975 9.95504 8.50487 9.95503 8.49999 9.95503L8.4999 9.95504C7.88095 9.95515 7.27352 9.83864 6.70998 9.61732C6.80892 9.59393 6.90853 9.57244 7.00874 9.55288ZM11.1317 10.4595C11.0854 10.441 11.0388 10.423 10.9921 10.4055C11.2095 10.3038 11.4198 10.1889 11.6217 10.0616C11.752 10.1188 11.8808 10.1798 12.008 10.2444C13.5402 11.0229 14.7418 12.2855 15.4135 13.8146L15.4136 13.8148C15.803 14.7006 16.0023 15.6524 16 16.6132L16 16.6151C16 16.6484 15.9933 16.6818 15.9796 16.7137C15.9659 16.7456 15.9453 16.7758 15.918 16.8021C15.8906 16.8285 15.8572 16.8503 15.819 16.8655C15.7808 16.8807 15.7393 16.8887 15.697 16.8887H15.6964C15.61 16.8887 15.5307 16.8554 15.4751 16.8018C15.4201 16.7488 15.3928 16.681 15.3928 16.6144C15.3928 15.7373 15.2134 14.8692 14.8655 14.0598C14.5176 13.2506 14.0082 12.5165 13.3673 11.899C12.7264 11.2816 11.9666 10.7927 11.1317 10.4595ZM2.6898 12.0601C3.42 11.2001 4.34252 10.5188 5.38105 10.0622L6.01014 10.4046C5.96266 10.4224 5.91536 10.4407 5.86824 10.4595C5.03333 10.7927 4.27354 11.2816 3.63269 11.899C2.9918 12.5165 2.48238 13.2506 2.13447 14.0598C1.78654 14.8692 1.6072 15.7373 1.6072 16.6144C1.6072 16.681 1.57991 16.7488 1.52491 16.8018C1.46928 16.8554 1.39 16.8887 1.3036 16.8887C1.2172 16.8887 1.13792 16.8554 1.08229 16.8018C1.02729 16.7488 1 16.681 1 16.6144C1.00097 14.9566 1.59652 13.3476 2.6898 12.0601Z" fill="#3984EA" stroke="#3984EA"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.19846 9.28878C3.11967 9.29246 3.04238 9.31162 2.971 9.34517M3.19846 9.28878L3.20312 9.38867L3.19844 9.28878C3.19845 9.28878 3.19846 9.28878 3.19846 9.28878ZM3.19846 9.28878C3.21637 9.28794 3.23431 9.2879 3.25222 9.28867H11.7494H11.75V9.38867C11.8163 9.38773 11.882 9.39998 11.9435 9.42468C12.005 9.44939 12.061 9.48607 12.1082 9.53259C12.1553 9.57911 12.1928 9.63455 12.2184 9.69568C12.244 9.75681 12.2571 9.82241 12.2571 9.88867C12.2571 9.95493 12.244 10.0205 12.2184 10.0817C12.1928 10.1428 12.1553 10.1982 12.1082 10.2448C12.061 10.2913 12.005 10.328 11.9435 10.3527C11.882 10.3774 11.8163 10.3896 11.75 10.3887L2.971 9.34517M2.971 9.34517C2.89961 9.37873 2.83554 9.42601 2.78243 9.48433C2.72933 9.54265 2.68823 9.61086 2.66148 9.68506C2.63474 9.75926 2.62288 9.83801 2.62657 9.9168C2.63027 9.99559 2.64944 10.0729 2.68301 10.1443C2.71658 10.2156 2.76387 10.2797 2.8222 10.3328C2.88053 10.3859 2.94875 10.427 3.02296 10.4537C3.0964 10.4801 3.17428 10.492 3.25225 10.4887H11.7494L2.971 9.34517ZM3.19846 11.7888C3.11967 11.7925 3.04238 11.8116 2.971 11.8452M3.19846 11.7888L3.20312 11.8887L3.19844 11.7888C3.19845 11.7888 3.19846 11.7888 3.19846 11.7888ZM3.19846 11.7888C3.21637 11.7879 3.23431 11.7879 3.25222 11.7887H11.7494H11.75V11.8887C11.8163 11.8877 11.882 11.9 11.9435 11.9247C12.005 11.9494 12.061 11.9861 12.1082 12.0326C12.1553 12.0791 12.1928 12.1346 12.2184 12.1957C12.244 12.2568 12.2571 12.3224 12.2571 12.3887C12.2571 12.4549 12.244 12.5205 12.2184 12.5817C12.1928 12.6428 12.1553 12.6982 12.1082 12.7448C12.061 12.7913 12.005 12.828 11.9435 12.8527C11.882 12.8774 11.8163 12.8896 11.75 12.8887L2.971 11.8452M2.971 11.8452C2.89961 11.8787 2.83554 11.926 2.78243 11.9843C2.72933 12.0426 2.68823 12.1109 2.66148 12.1851C2.63474 12.2593 2.62288 12.338 2.62657 12.4168C2.63027 12.4956 2.64944 12.5729 2.68301 12.6443C2.71658 12.7156 2.76387 12.7797 2.8222 12.8328C2.88053 12.8859 2.94875 12.927 3.02296 12.9537C3.0964 12.9801 3.17428 12.992 3.25225 12.9887H11.7494L2.971 11.8452ZM3.19846 14.2888C3.11967 14.2925 3.04238 14.3116 2.971 14.3452M3.19846 14.2888L3.20312 14.3887M3.19846 14.2888C3.19846 14.2888 3.19845 14.2888 3.19844 14.2888L3.20312 14.3887M3.19846 14.2888C3.21637 14.2879 3.23431 14.2879 3.25222 14.2887H11.7494H11.75V14.3887C11.8163 14.3877 11.882 14.4 11.9435 14.4247C12.005 14.4494 12.061 14.4861 12.1082 14.5326C12.1553 14.5791 12.1928 14.6346 12.2184 14.6957C12.244 14.7568 12.2571 14.8224 12.2571 14.8887C12.2571 14.9549 12.244 15.0205 12.2184 15.0817C12.1928 15.1428 12.1553 15.1982 12.1082 15.2448C12.061 15.2913 12.005 15.328 11.9435 15.3527C11.882 15.3774 11.8163 15.3896 11.75 15.3887L2.971 14.3452M2.971 14.3452C2.89961 14.3787 2.83554 14.426 2.78243 14.4843C2.72933 14.5426 2.68823 14.6109 2.66148 14.6851C2.63474 14.7593 2.62288 14.838 2.62657 14.9168C2.63027 14.9956 2.64944 15.0729 2.68301 15.1443C2.71658 15.2156 2.76387 15.2797 2.8222 15.3328C2.88053 15.3859 2.94875 15.427 3.02296 15.4537C3.0964 15.4801 3.17428 15.492 3.25225 15.4887H11.7494L2.971 14.3452ZM3.20312 14.3887C3.13745 14.3917 3.07303 14.4077 3.01354 14.4357C2.95404 14.4636 2.90063 14.5031 2.85637 14.5517C2.81211 14.6003 2.77785 14.6571 2.75556 14.719C2.73327 14.7808 2.72338 14.8464 2.72646 14.9121C2.72954 14.9778 2.74552 15.0422 2.7735 15.1017C2.80148 15.1612 2.8409 15.2146 2.88952 15.2588C2.93814 15.3031 2.99499 15.3373 3.05684 15.3596C3.1187 15.3819 3.18433 15.3918 3.25 15.3887V14.3887C3.23438 14.3879 3.21874 14.3879 3.20312 14.3887ZM14.6 4.88867L14.6 4.88787C14.5987 4.72936 14.5348 4.57779 14.4221 4.46627C14.4221 4.46618 14.422 4.46609 14.4219 4.466L10.4227 0.466797C10.4226 0.466715 10.4225 0.466634 10.4224 0.466552C10.3109 0.353897 10.1593 0.289946 10.0008 0.288675V0.288672H10H2C1.12242 0.288672 0.4 1.01109 0.4 1.88867V16.8887C0.4 17.7663 1.12242 18.4887 2 18.4887H13C13.8776 18.4887 14.6 17.7663 14.6 16.8887L14.6 4.88867ZM2 1.48867H9.4V4.88867C9.40002 5.0478 9.46323 5.2004 9.57575 5.31292C9.68827 5.42544 9.84087 5.48866 9.99999 5.48867H13.4V16.8887C13.4 17.1191 13.2304 17.2887 13 17.2887H2C1.76958 17.2887 1.6 17.1191 1.6 16.8887V1.88867C1.6 1.65825 1.76958 1.48867 2 1.48867ZM10.6 4.28867V2.33322L12.5555 4.28867H10.6Z" fill="#3984EA" stroke="#3984EA" stroke-width="0.2"/>
                        </svg>
                        
                    </a>
                    <a href="" class="icon icon-white">
                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.65346 0.484342C0.937576 0.484342 0.296875 1.09896 0.296875 1.78569C0.296875 2.4719 0.937576 3.04997 1.65346 3.04997C2.36907 3.04997 2.97181 2.4719 2.97181 1.78569C2.97181 1.09896 2.36907 0.484342 1.65346 0.484342ZM6.47494 0.59282C5.79682 0.59282 5.23184 1.13492 5.23184 1.78569C5.23184 2.43567 5.79682 2.94149 6.47494 2.94149H17.8894C18.5672 2.94149 19.1321 2.43567 19.1321 1.78569C19.1321 1.13492 18.5672 0.59282 17.8894 0.59282H6.47494ZM1.65346 6.7359C0.937576 6.7359 0.296875 7.31476 0.296875 8.00096C0.296875 8.68716 0.937576 9.26563 1.65346 9.26563C2.36907 9.26563 2.97181 8.68716 2.97181 8.00096C2.97181 7.31476 2.36907 6.7359 1.65346 6.7359ZM6.47494 6.80848C5.79682 6.80848 5.23184 7.35045 5.23184 8.00096C5.23184 8.6512 5.79682 9.19344 6.47494 9.19344H17.889C18.5668 9.19344 19.1325 8.6512 19.1325 8.00096C19.1325 7.35045 18.5668 6.80848 17.889 6.80848H6.47494ZM1.65346 12.9516C0.937576 12.9516 0.296875 13.5295 0.296875 14.2162C0.296875 14.903 0.937576 15.5176 1.65346 15.5176C2.36907 15.5176 2.97181 14.903 2.97181 14.2162C2.97181 13.5295 2.36907 12.9516 1.65346 12.9516ZM6.47494 13.0237C5.79682 13.0237 5.23184 13.5657 5.23184 14.2162C5.23184 14.867 5.79682 15.4087 6.47494 15.4087H17.889C18.5668 15.4087 19.1325 14.867 19.1325 14.2162C19.1325 13.5657 18.5668 13.0237 17.889 13.0237H6.47494Z" fill="#3984EA"/>
                        </svg>

                    </a>
                    <a href="" class="icon icon-white">
                      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="19" fill="black">
                        <rect fill="white" width="19" height="19"/>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z"/>
                        </mask>
                        <path d="M1.74599 1.00008C1.33279 0.993975 0.995925 1.32992 1.00078 1.74314C0.999678 6.41884 1.00007 11.0962 1.00007 15.7729C1.00007 16.9809 1.99618 17.977 3.20412 17.977C7.88837 17.977 12.5726 17.977 17.2569 17.977C17.6617 17.9817 17.994 17.6581 17.9999 17.2533C18.006 16.8401 17.6701 16.5032 17.2569 16.5081C12.5726 16.5081 7.88837 16.5081 3.20412 16.5081C2.78454 16.5081 2.46968 16.1925 2.46968 15.7729C2.46968 11.0963 2.46968 6.41973 2.46968 1.74314C2.4744 1.33835 2.15076 1.00605 1.74599 1.00008ZM15.5593 1.45194C15.1461 1.44583 14.8093 1.78178 14.8141 2.19499C14.8141 6.30426 14.8141 10.4135 14.8141 14.5228C14.8093 14.936 15.1461 15.2719 15.5593 15.2658C15.9641 15.2599 16.2878 14.9276 16.283 14.5228C16.283 10.4135 16.283 6.30426 16.283 2.19499C16.2878 1.7902 15.9641 1.45791 15.5593 1.45194ZM10.6216 4.38973C10.2084 4.38362 9.87151 4.71957 9.87636 5.13278C9.87636 8.26278 9.87636 11.3928 9.87636 14.5228C9.8715 14.936 10.2084 15.2719 10.6216 15.2658C11.0263 15.2599 11.35 14.9276 11.3452 14.5228C11.3452 11.3928 11.3452 8.26278 11.3452 5.13278C11.35 4.72799 11.0263 4.39569 10.6216 4.38973ZM5.68377 7.92281C5.27058 7.91671 4.93372 8.25266 4.93857 8.66587C4.93857 10.6182 4.93857 12.5705 4.93857 14.5228C4.93371 14.936 5.27058 15.2719 5.68377 15.2658C6.08855 15.2599 6.41221 14.9276 6.40746 14.5228C6.40746 12.5705 6.40746 10.6182 6.40746 8.66587C6.41218 8.26108 6.08855 7.92878 5.68377 7.92281Z" fill="#3984EA"/>
                        </svg>
                        
                    </a>
                  </div>
                </div>
              </div>

              <div class="my-staff__item-side">
                <div class="dashboard-planing">
                
                  <div class="dashboard-planing__body ">
                      <div class="dashboard-planing__item">
                
                      
                      <div class="dashboard-planing__item-head">
                
                        <div class="dashboard-planing__item-icon">
                          <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M18 5.93217C17.9982 5.88789 17.989 5.84422 17.9726 5.80304C17.9538 5.75949 17.9273 5.71972 17.8943 5.68565L12.3261 0.113478C12.292 0.0804942 12.2522 0.0539762 12.2087 0.0352174C12.1607 0.0133139 12.1088 0.00133488 12.0561 0H0.391304C0.287524 0 0.187994 0.0412266 0.11461 0.11461C0.0412267 0.187994 0 0.287524 0 0.391304V22.3043C0 22.4081 0.0412267 22.5077 0.11461 22.581C0.187994 22.6544 0.287524 22.6957 0.391304 22.6957H17.6087C17.7125 22.6957 17.812 22.6544 17.8854 22.581C17.9588 22.5077 18 22.4081 18 22.3043V5.98304V5.94391V5.93217ZM12.4396 1.33435L16.6578 5.55261H12.4396V1.33435ZM0.782609 21.913V0.782609H11.657V5.94391C11.657 6.04769 11.6982 6.14722 11.7716 6.22061C11.845 6.29399 11.9445 6.33522 12.0483 6.33522H17.2174V21.913H0.782609Z" fill="#92A3BA"/>
                          <path d="M6.09674 6.78159L4.56283 8.3155L3.99544 7.74811C3.92058 7.684 3.82429 7.6505 3.72581 7.65431C3.62733 7.65811 3.53391 7.69894 3.46422 7.76863C3.39453 7.83831 3.35371 7.93173 3.3499 8.03022C3.3461 8.1287 3.37959 8.22499 3.4437 8.29985L4.30457 9.14506C4.37789 9.21794 4.47706 9.25885 4.58044 9.25885C4.68382 9.25885 4.78299 9.21794 4.85631 9.14506L6.6524 7.33724C6.7165 7.26238 6.75 7.16609 6.7462 7.06761C6.74239 6.96913 6.70157 6.87571 6.63188 6.80602C6.56219 6.73633 6.46877 6.6955 6.37029 6.6917C6.2718 6.68789 6.17551 6.72139 6.10066 6.7855L6.09674 6.78159Z" fill="#92A3BA"/>
                          <path d="M13.8835 8.0293H7.38789C7.28411 8.0293 7.18458 8.07052 7.11119 8.14391C7.03781 8.21729 6.99658 8.31682 6.99658 8.4206C6.99658 8.52438 7.03781 8.62391 7.11119 8.69729C7.18458 8.77068 7.28411 8.81191 7.38789 8.81191H13.8835C13.9873 8.81191 14.0868 8.77068 14.1602 8.69729C14.2336 8.62391 14.2748 8.52438 14.2748 8.4206C14.2748 8.31682 14.2336 8.21729 14.1602 8.14391C14.0868 8.07052 13.9873 8.0293 13.8835 8.0293Z" fill="#92A3BA"/>
                          <path d="M6.09674 10.8985L4.56283 12.4324L3.99544 11.865C3.92058 11.8009 3.82429 11.7674 3.72581 11.7712C3.62733 11.775 3.53391 11.8158 3.46422 11.8855C3.39453 11.9552 3.35371 12.0486 3.3499 12.1471C3.3461 12.2456 3.37959 12.3419 3.4437 12.4168L4.30457 13.262C4.37789 13.3349 4.47706 13.3758 4.58044 13.3758C4.68382 13.3758 4.78299 13.3349 4.85631 13.262L6.6524 11.4502C6.69336 11.4152 6.72663 11.372 6.75012 11.3234C6.7736 11.2749 6.7868 11.222 6.78888 11.1681C6.79096 11.1142 6.78188 11.0605 6.76221 11.0103C6.74254 10.9601 6.7127 10.9145 6.67456 10.8763C6.63643 10.8382 6.59082 10.8084 6.54061 10.7887C6.4904 10.769 6.43666 10.7599 6.38277 10.762C6.32888 10.7641 6.276 10.7773 6.22745 10.8008C6.1789 10.8243 6.13574 10.8575 6.10066 10.8985H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 12.1309H7.38789C7.28411 12.1309 7.18458 12.1721 7.11119 12.2455C7.03781 12.3189 6.99658 12.4184 6.99658 12.5222C6.99658 12.6259 7.03781 12.7255 7.11119 12.7989C7.18458 12.8722 7.28411 12.9135 7.38789 12.9135H13.8835C13.9873 12.9135 14.0868 12.8722 14.1602 12.7989C14.2336 12.7255 14.2748 12.6259 14.2748 12.5222C14.2748 12.4184 14.2336 12.3189 14.1602 12.2455C14.0868 12.1721 13.9873 12.1309 13.8835 12.1309Z" fill="#92A3BA"/>
                          <path d="M6.09674 15.014L4.56283 16.5479L3.99544 15.9805C3.92058 15.9164 3.82429 15.8829 3.72581 15.8867C3.62733 15.8905 3.53391 15.9314 3.46422 16.0011C3.39453 16.0707 3.35371 16.1642 3.3499 16.2626C3.3461 16.3611 3.37959 16.4574 3.4437 16.5323L4.30457 17.3736C4.37789 17.4465 4.47706 17.4874 4.58044 17.4874C4.68382 17.4874 4.78299 17.4465 4.85631 17.3736L6.6524 15.5658C6.7165 15.4909 6.75 15.3946 6.7462 15.2961C6.74239 15.1976 6.70157 15.1042 6.63188 15.0345C6.56219 14.9648 6.46877 14.924 6.37029 14.9202C6.2718 14.9164 6.17551 14.9499 6.10066 15.014H6.09674Z" fill="#92A3BA"/>
                          <path d="M13.8835 16.2637H7.38789C7.28411 16.2637 7.18458 16.3049 7.11119 16.3783C7.03781 16.4517 6.99658 16.5512 6.99658 16.655C6.99658 16.7588 7.03781 16.8583 7.11119 16.9317C7.18458 17.0051 7.28411 17.0463 7.38789 17.0463H13.8835C13.9873 17.0463 14.0868 17.0051 14.1602 16.9317C14.2336 16.8583 14.2748 16.7588 14.2748 16.655C14.2748 16.5512 14.2336 16.4517 14.1602 16.3783C14.0868 16.3049 13.9873 16.2637 13.8835 16.2637Z" fill="#92A3BA"/>
                          </svg>            
                        </div>
                
                        <div class="dashboard-planing__item-info">
                          <div class="dashboard-planing__item-info-text"><span class="t-s-medium">23%</span> /текущ.плана | <span class="t-grey">8ч из 35ч</span></div>
                          
                          <div class="js-flatpickr flatpickr-wrapper ">
                            <input type="text" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
                        
                            
                            <a class="dropdown-calendar icon icon-white" data-toggle>
                              <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H15V2C15 1.73478 14.8946 1.48043 14.7071 1.29289C14.5196 1.10536 14.2652 1 14 1C13.7348 1 13.4804 1.10536 13.2929 1.29289C13.1054 1.48043 13 1.73478 13 2V3H7V2C7 1.73478 6.89464 1.48043 6.70711 1.29289C6.51957 1.10536 6.26522 1 6 1C5.73478 1 5.48043 1.10536 5.29289 1.29289C5.10536 1.48043 5 1.73478 5 2V3H3C2.46957 3 1.96086 3.21071 1.58579 3.58579C1.21071 3.96086 1 4.46957 1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21ZM3 19V9H17V19H3ZM17 5V7H3V5H17Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 11H9V13H11V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 11H5V13H7V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M15 11H13V13H15V11Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M11 15H9V17H11V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              <path d="M7 15H5V17H7V15Z" fill="#3984EA" stroke="white" stroke-width="0.7"/>
                              </svg>        
                            </a>
                        
                        </div>
                        </div>
                
                      </div>
                      <div class="dashboard-planing__item-body">
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ЧТ</div>
                          <span>12%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПТ</div>
                          <span>11%</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ПН</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">ВТ</div>
                          <span>-</span>
                        </div>
                
                        <div class="dashboard-planing__item-date">
                          <div class="dashboard-planing__item-date-name">СР</div>
                          <span>-</span>
                        </div>
                      </div>
                      </div>
                      
                      <div class="dashboard-planing__item">
                
                        <div class="dashboard-planing__item-side">
                
                          <div class="dashboard-planing__item-side__icon">
                            <svg width="33" height="21" viewBox="0 0 33 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19.125L12.2 7.925L18.6 14.325L31.8 1.125" stroke="#92A3BA" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                          </div>
                          <div class="t-big">-13%</div>
                
                        </div>
                        <div class="dashboard-planing__item-side">
                          <div class="t-small">план/факт пред.неделя</div>
                          <div class="t-small t-grey">основной показатель</div>
                        </div>
                
                      </div>
                  </div>
                
                </div>
              </div>

            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>


{% endblock %}
