---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

{% include "partials/_left-menu.html" %}

<ul class="example-sort">
  <li>232</li>
  <li>343254</li>
  <li>435435</li>
  <li>2321</li>
  <li>345345</li>
</ul>


{% endblock %}
