
.active_general {
  background-color: rgba(255, 129, 0, 0.18);
}
.table-respons .nav-task .play,
.table-respons .nav-task .pause {
  display: flex;
}

.hide-regular-action {
  display: none !important;
}

.label-right{
  margin-left: 0 !important;
  margin-top: 8px;
}

.td-top {
  align-items: flex-start;
}
.label-def {
  background-color: #8C9EFF;
  color: #fff;
  min-width: 82px ;
  width: auto ;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 20px;
}
.label-mt {

}
.small-input {
  padding-left: 2px !important;
  padding-right: 2px !important;
  max-width: 100% !important;
  min-width: unset !important;
  width: auto !important;
}

.paused {
  font-size: 13px;
  line-height: 16px;
  font-family: 'Intermedium',sans-serif;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5C677D;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto;
  white-space: normal;
  
}

.paused p {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}

.current-time-dark {
  font-family: 'Intermedium',sans-serif;
  font-weight: 400;
color: #001233 !important;
}


.drop-select {
  position: relative;
  width: 100%;
}

.drop-select__wrapper {
  z-index: 15;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: translateY(100%);
  background: #FFFFFF;

  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38);
  border-radius: 4px;
  padding: 8px;
  padding-bottom: 15px;
  width: 100%;
  z-index: -1500;
  opacity: 0;
  transition: all .2s ease;
}
.drop-select__wrapper.is-active {
  opacity: 1;
  z-index: 15;
}
.drop-select__wrapper input[type="text"].drop-select__input {
  flex: 1 0 calc(100% - 26px);
  max-width: calc(100% - 26px) !important;
  border: 1px solid #EDF1FD !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  padding: 8px !important;
  min-width: unset !important;
  margin-right: 8px;
  width: auto !important;
}
.drop-select__enter {
  display: flex;
  align-items: center;
  white-space: normal;
  flex-wrap: wrap
}
.drop-select__enter .js-drop-select-add {
  margin-left: auto;
  width: 18px;
  height: 18px;
  display: flex;
}
.js-drop-select-confim {
  position: absolute;
  right: 8px;
  top: 5px;
  z-index: 10;
  cursor: pointer;
  opacity: 0
}
.drop-select.is-active .js-drop-select-confim {
  opacity: 1;
}
.drop-select.is-active > .drop-select__input{
  background: #edf1fd !important;
}

.drop-select__item {
  margin-top: 16px;
  font-size: 12px;
  line-height: 100%;
  color: #31456A;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}


.top-info__wrapper .detail-info__item {
  flex: 1;
  padding-left: 32px;
  padding-right: 32px;
  border-right: 1px solid #7D8597;
  
}
.top-info__wrapper .detail-info__item:last-of-type {
  border-right: none;
}
.top-info__wrapper .accordeon-title {
  color: #171725;
  font-family: 'Intersemibold',sans-serif;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 17px !important;
margin-bottom: 20px;
}
.top-info__wrapper .accordeon-title h3 {
  font-size: 17px;
}
h2.main-title-bigs {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: 'Interbold',sans-serif;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

/* Main Blue / Oxford Blue 3 */

color: #001233;
margin-bottom: 20px;
}
.top-info__wrapper .accordeon-title h3 {
  margin-bottom: 0;
}
.top-info__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title-info-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-info-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  padding-bottom: 41px;
}

.top-info__wrapper .title-info-wrap .title-info__item {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 38px;
  padding-left: 32px;
  padding-right: 32px;
}
.top-info__wrapper .info {
display: flex;
justify-content: flex-start;
align-items: flex-start;
  margin-right: 20px;
  margin-bottom: auto;
}

.top-info__wrapper .info .img {
position: relative;
min-width: 52px;
max-width: 52px;
height: 52px;
border-radius: 50%;
margin-right: 20px;
}

.top-info__wrapper .info .img img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}

.top-info__wrapper .info .img .phone {
position: absolute;
bottom: 0;
right: -3px;
background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7;
box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38);
width: 20px;
height: 20px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.top-info__wrapper .info .img .phone img {
width: 12px;
height: 12px;
}

.top-info__wrapper .detail .department {
text-transform: uppercase;
letter-spacing: 1.5px;
color: #33415C;
font-weight: 600;
margin-bottom: 6px;
font-size: 12px;
}

.top-info__wrapper .detail .flex-wrap {
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
margin-bottom: 8px;
}

.top-info__wrapper .detail .flex-wrap .name {
position: relative;
font-size: 14px;
color: #171725;
font-weight: 600;
letter-spacing: 0.1px;
padding-right: 8px;
margin-right: 8px;
}

.top-info__wrapper .detail .flex-wrap .name::after {
    /* content: ''
                  position: absolute
                  top: 50%
                  right: 0
                  width: 3px
                  height: 3px
                  border-radius: 50%
                  background: #023E7D*/;
}

.top-info__wrapper .detail .flex-wrap .position {
font-size: 13px;
color: #171725;
letter-spacing: 0.1px;
}

.top-info__wrapper .detail .text {
font-size: 13px;
color: #696974;
letter-spacing: 0.1px;
}


.top-info__wrapper .contact-list .l-section .grey-text-info {
  color: #5C677D;
  font-size: 13px;
  margin-right: 20px;
  width: 90px;
}
.detail-info-wrap .detail-info__item .contact-list__item .l-section a {
  font-size: 13px; 
  color: #171725;
  font-family: 'Intermedium',sans-serif;
font-weight: 400;
font-display: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
.top-info__wrapper .contact-list__item {
  margin-bottom: 20px;
  
}
.top-info__wrapper .contact-list__item:last-of-type {
  margin-bottom: 0;
}

.icons-show-info a {
  margin-right: 16px;
}
.icons-show-info a:hover {
  text-decoration: none;
}
.icons-show-info a:last-of-type {
  margin-right: 0;
}


.dflex-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
.dflex-icons .type-view-function {
  display: flex;
  flex-wrap: wrap;
}
.dflex-icons .type-view-function LI {
  margin-left: 12px;
}

.dflex-icons .type-view-function {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
}
.dflex-icons .type-view-function a {
  width: 28px;
  height: 28px;
  margin-left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quantity-full {
  width: 100%;
  max-width: 100% !important;
  margin-right: 0 !important;
  flex: 1 0 100% !important;
  margin-top: 0 !important;
}
.preview-position {
  flex-wrap: wrap;
}
.info-post-wrap {
  width: 100%;
  max-width: 100% !important;
  margin-right: 0 !important;
  flex: 1 0 100% !important;
  margin-top: 24px;
}

.detail-info-wrap .detail-info__item.contact::after, .detail-info-wrap .detail-info__item.contact::before {
  display: none !important;
}


.swiper-slide .info-post  {
  background: radial-gradient(100% 296.24% at 100% 0%, #585858 0%, #434343 40.63%, #2B2B2B 100%);
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(161, 161, 161, 0.38), inset 4px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 0px;
  color: #fff;
}

.preview-position .info-post .name-function {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
}
.preview-position .worker-info p {
  font-size: 14px;
  line-height: 17px;
  font-family: 'Interbold',sans-serif;
  font-weight: 400;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.preview-position .info-post {
  padding: 22px 32px;
}
.info-post-wrap .swiper-slide {
  min-width: 346px;
  max-width: 346px;
  margin-right: 16px !important;
}

.info-post-wrap .swiper-slide > a {
  width: 100%;
  display: block;
}
.info-post-wrap .swiper-slide > a:hover {
  text-decoration: none;
}
.preview-position .info-post {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.preview-position .quantity .value {
font-size: 13px;
      line-height: 16px;
      /* identical to box height */

      letter-spacing: 1.5px;
      text-transform: uppercase;

      /* Main Blue / Manatee */

      color: #979DAC;
      margin-bottom: 10px;
}

.preview-position .quantity p {
  font-size: 13px;
  line-height: 140%;
  color: #171725 !important;
}

.swiper-container-free-mode > .swiper-wrapper {
  margin-left: 54px;
  margin-right: 54px;
  width: calc(100% - 109px);
}
.swiper-button-next, .swiper-button-prev {
position: absolute;
top: -8px !important;
width: 28px;
height: calc(100% - 15px);
margin-top: -0px;
z-index: 10;
cursor: pointer;
background-size: 27px 44px;
background-position: center;
  background-repeat: no-repeat;
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7;
box-shadow: -3.28446px -1.64223px 13.1378px rgba(255, 255, 255, 0.7), 3.28446px 1.64223px 13.1378px rgba(136, 165, 191, 0.38);
border-radius: 6px 0px 0px 6px
}
.swiper-button-next {
  border-radius: 0 6px 6px 0;
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7;
box-shadow: -3.28446px -1.64223px 13.1378px rgba(255, 255, 255, 0.7), 3.28446px 1.64223px 13.1378px rgba(136, 165, 191, 0.38);
}
.info-post-wrap .swiper-button {
  height: 100% !important;
  width: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-slide-choise {
  position: relative;
}
.current-slide-choise:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='16' fill='%23C4C4C4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.47139 9.52864L12.6667 3.33337L13.6095 4.27618L6.47139 11.4143L2.66666 7.60952L3.60947 6.66671L6.47139 9.52864Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  background-size: 16px 16px;
  background-position: right top;
}
.drag{
  cursor: all-scroll;
}
.load-this{
  visibility: hidden;
}


.draggable--original {
  cursor: grab
}
.draggable-source--is-dragging {
  cursor: grab;
  background: #fff;
}

.accordeon-wrap .flex-summ-nav {
position: absolute;
  right: 0;
  top: 50px;
}

.accordeon-wrap .accordeon-content table thead tr td input, .accordeon-wrap .accordeon-content table thead tr th input {
  display: none;
}
.d-column {
  flex-direction: column;
}
/* .bordered-top .nav-table-tr .nav-table__item {
  display: none !important;
}
.bordered-top .nav-table__item:not(.js-sortable-count-number) {
  display: inline-flex;
  margin: 0 !important;
  padding: 0 !important;
    
}


.bordered-top .nav-table__item:not(.js-sortable-count-number) .drag {
  position: absolute;
  left: -18px;
} */



.pause-title {
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  /* Main Blue / Manatee */

  color: #979DAC;
  margin-bottom: 15px;
}
.dashboard-tasks__label {
  font-family: 'Inter',sans-serif !important;
  font-weight: 400;
  margin-bottom: 18px;
}

.modal-content input[type="text"].dashboard-tasks__input {
border: 0px solid #c0cfe4 !important;
border-radius: 4px;
width: 100%;
font-size: 14px;
color: rgba(43,54,68,.8);
  padding: 8px 10px;
  background-color: #fff;
  width: 191px !important;
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 8px rgba(136, 165, 191, 0.1);
  max-width: 191px !important;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 4H4V3H2V6H18V3H16V4H14V3H6V4ZM18 8H2V18H18V8ZM14 1H6V0H4V1H2C0.89543 1 0 1.89543 0 3V18C0 19.1046 0.89543 20 2 20H18C19.1046 20 20 19.1046 20 18V3C20 1.89543 19.1046 1 18 1H16V0H14V1ZM5 12V10H7V12H5ZM9 12H11V10H9V12ZM13 12V10H15V12H13ZM5 14V16H7V14H5ZM11 16H9V14H11V16Z' fill='%230466C8'/%3E%3C/svg%3E%0A") no-repeat calc(100% - 11px) 8px  !important;
}

.dashboard-tasks__modal-title {
  font-size: 16px;
line-height: 19px;
text-align: center;

/* #2B3644 */

color: rgba(43, 54, 68, 0.8);
}

.dashboard-tasks__modal .modal-footer .btn-primary {
color: #fff;
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #004E9C 11.1%, #0368CD 85.21%), #004E9C;
  border-radius: 6px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.dashboard-tasks__modal .modal-footer .btn-transparent {
background: #fff;
  border: 1px solid #004E9C;
  border-radius: 6px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color:  #004E9C;
}

#modalDeleteTask .modal-dialog {
  width: 464px;
  min-width: 464px;
  max-width: 464px;
}

tr.bordered-top {
  position: relative;
}
tr.bordered-top::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  transform: translateX(-100%);
}
  

.drop-select__input {
  background: #ffffff !important;
}
