html
  &.locked-page 
    position: fixed
    overflow: hidden
    width: 100vw
    height: 100vh
    pointer-events: none

@import planing
@import responsibility
@import my-profile
@import my-staff
@import efficiency/_index
@import groups-users/_index
// @import custom-page