.my-profile
  &__header
    display: flex
    flex-wrap: wrap
    align-items: center
    .edit
      margin-left: 50px
      font-size: 12px
      +r(540)
        margin-left: auto
      +r(360)
        font-size: 10px
    .t-grey
      color: #92A3BA
  &__wrapper
    .edit
      display: flex
      align-items: center
      span
        padding-left: 9px
        +r(350)
          padding-left: 4px
  &__body
    background: #FFFFFF
    margin-top: 17px
    padding: 24px 31px

    box-shadow: 0px 2px 5px rgba(206, 208, 210, 0.6)
    border-radius: 5px
    display: flex
    flex-wrap: wrap
    +r(640)
      padding: 24px 10px
    &-photo
      width: 80px
      height: 80px
      border-radius: 50%
      overflow: hidden
      margin-right: 20px
      +r(350)
        width: 60px
        height: 60px
        margin-right: 0
      img
        object-fit: cover
        width: 100%
        height: 100%
    &-head
      padding-left: 0px
      width: 100%
      margin-bottom: 40px
      display: flex
      align-items: center
      flex-wrap: wrap
      .upload-btn-wrapper
        +r(350)
          margin-left: auto
      .btn
        font-size: 11px
        line-height: 13px
        padding: 9px 24px
        +r(350)
          margin-left: auto
          padding: 9px 15px
    &-item
      padding-left: 33px
      padding-right: 33px
      +r(991)
        padding-left: 5px
        padding-right: 5px
      &:first-of-type
        padding-left: 0
      &:last-of-type
        border-left: 1px solid rgba(206, 208, 210, 0.6)
        +r(991)
          border-left: none
      tr
        +r(540)
          display: flex
          flex-wrap: wrap
          padding-bottom: 10px
      td
        line-height: 1
        padding-bottom: 18px
        &:first-of-type
          padding-right: 15px
        +r(540)
          width: 100%
          display: flex
          flex-wrap: wrap
          padding-bottom: 3px

        .icons
          margin-left: 22px
          display: inline-flex
          align-items: center
          flex-wrap: wrap
          +r(330)
            margin-left: 8px
        .icon
          padding-right: 13px
        .password-user
          margin-right: 28px
          span
            font-size: 14px
            color: rgba(43, 54, 68, 0.8)
            letter-spacing: 0.2em
        .js-show-pass
          cursor: pointer