.my-staff
  display: flex
  flex-wrap: wrap
  &__header
    display: flex
    align-items: center
    margin-bottom: 20px
    .switch
      margin-left: 6px
      margin-bottom: 0
  &__item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 21px
    +r(1024)
      margin-bottom: 20px
      padding-bottom: 20px
      border-bottom: 1px solid rgba(206, 208, 210, 1)
      &:last-of-type
        border-bottom: none
    &-side
      width: calc(50% - 10px)
      display: flex
      flex-wrap: wrap
      +r(1024)
        width: 100%
      &:first-of-type
        background: #FFFFFF
        box-shadow: 0px 2px 5px rgba(206, 208, 210, 0.6)
        border-radius: 5px
        padding: 15px 10px
        padding-right: 5px
        display: flex
        flex-wrap: wrap
        +r(1024)
          margin-bottom: 10px
      
      .dashboard-planing
        display: flex
        flex-wrap: wrap
        +r(767)
          margin-top: 10px
      
    &-logo
      width: 40px
      height: 40px
      border-radius: 40px
      overflow: hidden
      img
        object-fit: cover
        width: 100%
        height: 100%
    &-info
      display: flex
      flex-wrap: wrap
      flex: 1
      +r(640)
        flex: 1 0 100%
        max-width: 100%
        width: 100%
      &:last-of-type
        padding-left: 20px
        border-left: 1px solid rgba(206, 208, 210, 0.6)
        max-width: 45%
        +r(640)
          flex: 1 0 100%
          max-width: 100%
          width: 100%
          padding-left: 0
          padding-top: 10px
          margin-top: 10px
          border-top: 1px solid rgba(206, 208, 210, 0.6)
          border-left: 0
      &-side
        display: flex
        flex-wrap: wrap
        padding-left: 13px
        flex: 1
    &-type
      width: 100%
      +rb-b
      font-size: 12px
      line-height: 14px
      color: rgba(43, 54, 68, 0.8)
      margin-bottom: 6px
    &-name
      font-size: 12px
      line-height: 14px
      color: rgba(43, 54, 68, 0.8)
      padding-right: 8px
    &-position
      font-size: 12px
      line-height: 14px
      color: rgba(43, 54, 68, 0.8)
    &-descr
      margin-top: 4px
      font-size: 13px
      line-height: 15px
      color: rgba(43, 54, 68, 0.8)
      width: 100%
  
  &__plane
    &-title
      width: 100%
      font-size: 12px
      line-height: 14px
      +rb-b
      color: rgba(43, 54, 68, 0.8)
      margin-bottom: 10px
    &-status
      display: flex
      flex-wrap: wrap
      font-size: 13px
      line-height: 15px
      width: 100%
      align-items: center

      color: rgba(43, 54, 68, 0.8)
      .green
        color: #24B70C
        padding-left: 6px
      .red
        color: #ED2454
        padding-left: 6px
      .dashboard-notif__status-item
        margin-left: auto
    &-icons
      display: flex
      flex-wrap: wrap
      width: 100%
      margin-top: 8px
      > a
        margin-right: 10px
        &:last-of-type
          margin-right: 0