.accordeon-wrap
    .accordeon-title
        background: #fff
        img
            transition: all 0.3s
        &.close
            .title-arrow
                transform: rotate(180deg)
                transition: all 0.3s
    &.edit
        .accordeon-title
            .l-section
                .edit
                    display: none
                .close
                    display: flex
                    align-items: center
                    img
                        margin-right: 5px
    
.nav-row
    padding-bottom: 30px
    .type-view
        display: flex
        justify-content: flex-start
        align-items: center
        margin-bottom: 0
        padding-left: 0
        &__item
            display: flex
            justify-content: center
            align-items: center
            margin-right: 15px
            &:last-child
                margin-right: 0        
            a
                line-height: 1
                width: 33px
                height: 33px
                display: flex
                justify-content: center
                align-items: center
                box-shadow: 0px 0px 4px 0px #5667DE                
                border-radius: 5px
            &.active
                a
                    background: linear-gradient(0deg, rgba(86,102,222,1) 0%, rgba(94,204,248,1) 100%)
                    box-shadow: 0px 0px 2px 0px #5667DE  
    .type-time
        display: flex
        justify-content: flex-start
        align-items: center
        flex-wrap: wrap
       
    .plan-time
        color: #2B3644
        color: rgba(43, 54, 68, 0.8)
        margin-left: 20px
        font-size: 12px
    .nav-btn
        .btn
            color: rgba(43, 54, 68, 0.8)
            font-size: 12px
            box-shadow: 0px 0px 3px rgba(160, 166, 174, 0.7)
            border-radius: 6px
            margin-right: 20px
            padding-left: 10px
            padding-right: 10px
            &:last-child
                margin-right: 0
            &:hover
                border: 1px solid #004E9C

.accordeon-wrap
    background: #FFFFFF
    // overflow: hidden
    border-radius: 8px
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    margin-bottom: 40px
    &:last-of-type
        margin-bottom: 0
    .accordeon-title 
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 32px
        padding-bottom: 0px
        padding-left: 26px
        padding-right: 26px
        .l-section
            display: flex
            justify-content: space-between
            align-items: center
            padding-left: 17px
            .toggle-accordion
                margin-right: 23px
            h3
                margin-bottom: 0
                color: $black
                margin-right: 20px
                min-width: 250px
                font-size: 17px
                +rb-sb
                +r(640)
                    min-width: 40px
            .edit
                img
                    margin-right: 5px
            .close
                display: none
    .accordeon-content
        width: 100%
        padding-bottom: 32px
        table
            margin-bottom: 0
            overflow-x: auto
            white-space: nowrap
            color: rgba(43, 54, 68, 0.8)
            &.table-respons,
            &.table-planing-week
                tbody
                    tr
                        &:first-child
                            background: transparent
                             
            tr
                
                &.two-line
                    border-top: 0
                    textarea
                        width: 100%
                        margin-bottom: 20px
                        &:read-only
                            
                    td
                        padding-top: 0
                        padding-bottom: 0
                td
                    border-top: 0
               
                td,th
                    border: 0
                    padding-top: 20px
                    padding-bottom: 20px
                    font-size: 13px
                    +rb
                    color: #212121
                &.edit
                    .js-datepicker
                        border: 1px solid #c0cfe3 !important
                        background: url(../img/icon/line-group.svg)
                        background-repeat: no-repeat
                        background-position: 90% center
                    .time
                        border: 1px solid #c0cfe3
                        .nav-arrow
                            display: flex
                    .unit-list
                        .view
                            border: none
                            padding: 5px 10px
                        .list-hidden
                            &.open
                                opacity: 1
                                height: auto
                                visibility: visible
                        textarea,
                        input[type=text]
                            border: none      
                            color: #212121 
                            &:disabled
                                background: rgba(206, 208, 210, 0)
                                border: none
                                
                        textarea
                            &:read-only
                                resize: vertical
            thead
                ont-size: 13px
                +rb
                color: #979DAC
                text-transform: uppercase
                tr
                    th, td
                        font-size: 13px
                        +rb
                        color: #979DAC
                        &.text-center
                            text-align: left !important
            tbody
                .label
                    display: none
                tr
                    &:first-child

                        .label
                            display: block
                    td
                        font-size: 14px
            .name-wrap
                display: flex
                justify-content: flex-start
                align-items: flex-start
                .label
                    margin-left: 20px
                    background: rgba(#33A8A4, 0.1)
                    border-radius: 4px
                    font-size: 12px
                    color: #36B1AD
                    padding: 4px 10px
                    min-width: 120px
                    text-align: center
                    margin-left: auto
            input[type=checkbox]
                margin-top: 0px
            textarea
                // min-width: 310px
                &:read-only
                    padding-left: 0
            textarea,
            input[type=text]
                background: #fff
                box-sizing: border-box
                border-radius: 4px
                padding: 7px 15px
                display: block   
                width: 100%
                color: #212121
                border: none
                box-sizing: border-box
                &:read-only
                    border: 1px solid transparent
                    resize: none
                    background: transparent
                &:disabled
                    background: rgba(206, 208, 210, 0)
                    border: none
            .js-datepicker
                
                &:disabled
                    background: transparent !important
                    border: 0 !important
                    text-align: center
            
            .unit-list
                position: relative
                .view
                    
                .list-hidden
                    position: absolute
                    top: 100%
                    left: 0
                    background: #fff
                    box-shadow: 0 0 3px rgba(160,166,174,.7)
                    opacity: 0
                    height: 0
                    visibility: hidden
            .flex-summ
                display: flex
                align-items: center
                @media screen and ( max-width: 1400px )
                    min-width: 180px
                .icon-data-picker
                    margin-left: 15px
                    line-height: 1
                    width: 33px
                    height: 33px
                    max-width: 33px
                    flex: 1 0 33px
                    box-shadow: 0 0 4px 0 #5667de
                    border-radius: 5px
                    justify-content: center
                    display: flex
                    align-items: center
                    cursor: pointer
                    &.hidden
                        display: none
                &-nav
                    justify-content: flex-end
            .time
                
                border-radius: 5px
                padding: 3px 5px
                display: flex
                align-items: center
                .nav-arrow
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-left: 5px
                    display: none
                    a
                        line-height: 1
                &:hover
                    border-color: #468ef0
                    cursor: pointer
                &.hidden
                    display: none
            &.table-other
                .name-wrap
                    flex-direction: column
                .edit
                    .unit-list
                        margin-bottom: 15px
                        width: 100%
       
        
            
     
.created
    display: inline-block
    min-width: 82px 
    width: auto 
    border-radius: 4px
    font-size: 12px
    +rb-m
    padding: 4px 20px
    &.orange
        background: #FFF3E0
        color:  #FF9800 
    &.green
        background:  #E3F2FD
        color: #2196F3

.add-btn
    display: inline-block
    font-size: 12px
    border: 1px solid #468ef0
    border-radius: 10px
    text-decoration: none
    padding: 5px 10px
    color: #004E9C
    &:hover
        text-decoration: none
        color: #468ef0
.border-none
    border-top: 0

.nav-task
    padding-left: 0
    margin-bottom: 0
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: 10px
    a
        // margin-left: 15px
        // line-height: 1
        // width: 33px
        // height: 33px
        // box-shadow: 0 0 4px 0 #5667de
        // border-radius: 5px
        // justify-content: center
        // display: flex
        // align-items: center
        // cursor: pointer
        // background: #FFF
    &-left
        width: 0
        opacity: 0
        visibility: hidden
        transition: all 0.3s
        &.open
            width: auto
            opacity: 1
            visibility: visible
            transition: all 0.3s

.table-wrap
    // overflow-x: auto
    // overflow-y: hidden

.line-red
    width: 100%
    position: relative
    margin-left: 13px
    height: 1px    
    flex-direction: column-reverse
    display: flex
    justify-content: flex-end
    align-items: center
    span
        color: #FC5A5A
        display: inline-block
        margin-top: -12px
        font-size: 13px
        margin-left: -55px
    svg
        transform: rotate(0deg)
        position: absolute
        right: 0
        top: 10px
    &::after
        content: ''
        position: absolute
        width: 99%
        height: 2px
        background: #FC5A5A
        right: 15px
        top: 14px


.text-center
    text-align: center

.title-block
    background: transparent
    font-size: 14px
    margin-bottom: 0
    +rb-b
p.title-block
    margin-top: 20px

.bold
    +rb-b
    
.red
    background: rgba(237, 36, 84, 0.2)

.flatpickr-input
    min-width: 85px

.table-planing-week
    .flatpickr-wrapper input
        height: 0

.flatpickr-calendar
    //width: 120px

.over
    position: relative   
    &.over-prev-week
        .line-red
            &::before
                content: ''
                width: 2px
                height: 10px
                background-image: url("data:image/svg+xml,%3Csvg width='2' height='7' viewBox='0 0 2 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='7' fill='%23FC5A5A'/%3E%3C/svg%3E%0A")
                display: flex
                position: absolute
                left: -17px
                top: 10px
                opacity: 1
    &.over-first
        .line-red
            &::before
                content: ''
                width: 14px
                height: 14px
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 3.5H6.125V7.875H9.625V7H7V3.5Z' fill='%23FC5A5A'/%3E%3Cpath d='M14 6.125V2.625L13.0375 3.5875C11.9 1.4 9.625 0 7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C9.1 14 11.025 13.0375 12.25 11.55L10.9375 10.4125C9.975 11.55 8.575 12.25 7 12.25C4.1125 12.25 1.75 9.8875 1.75 7C1.75 4.1125 4.1125 1.75 7 1.75C9.1 1.75 10.9375 3.0625 11.8125 4.8125L10.5 6.125H14Z' fill='%23FC5A5A'/%3E%3C/svg%3E%0A")
                display: flex
                position: absolute
                left: -21px
                top: 6px
                opacity: 1
            &::after
                right: 0
    &.over-last
        .line-red
            left: 0
            width: 45%
            svg
                display: block   
                right: 10px
    &.over-last-week       
        .line-red
            left: 0
            width: 45%
    .line-red
        position: absolute
        left: 50%
        right: 0
        top: 60px
        opacity: 1
        overflow: visible
        display: flex

        &::after
            width: 100%
        svg
            display: none
        span
            transform: translateX(25%)
.line-red
    overflow: hidden
    opacity: 0
    display: none
td
    position: relative
.comment
    position: absolute
    bottom: -40px

.accordeon-wrap .accordeon-content table textarea.comment
    min-width: 645px
.table-planing-week
    tr.edit
        textarea
            margin-bottom: 60px
        

.nav-btn 
	display: flex
	flex-wrap: wrap


