.nav-row
    .type-view-function
        display: flex
        justify-content: flex-start
        align-items: center
        margin-right: 20px
        padding-right: 20px
        border-right: 1px solid #DDEBFF
        &:first-child
            
        &:last-child
            margin-right: 0
            padding-right: 0
        a
            box-shadow: 0 0 4px 0 #C0CFE4

.preview-position
    display: flex
    justify-content: flex-start
    align-items: center
    font-size: 12px
    margin-bottom: 40px
    +r(767)
        flex-wrap: wrap
    p
        font-size: 12px
        margin-bottom: 0
    .quantity
        max-width: 250px
        margin-right: 50px
        margin-top: -15px
        +r(767)
            margin-bottom: 25px
        .value
            text-transform: uppercase
            font-weight: 600
            font-size: 12px
        p
            font-size: 13px
            color: #5D6C80
    .info-post
        background: #DCF4FF
        min-height: 110px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
        max-width: 320px
        min-width: 320px
        margin-right: 50px
        border-radius: 15px
        padding: 15px 30px
        color: #2B3644
        box-shadow: 0 3px 6px -2px #c0cfe4
        cursor: pointer
        box-sizing: border-box
        &:last-child
            margin-right: 0
        +r(640)
            min-width: 260px
        .worker-info
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 4px
            width: 100%
            p:last-child
                font-size: 13px
        .name-function
            +rb-b
            margin-bottom: 4px

.title-info-wrap
    display: flex
    justify-content: space-between
    align-items: center
    .title-info__item
        flex: 1
        padding-top: 30px
        margin-bottom: 30px
        p
            margin-bottom: 0
            color: #92A3BA
            font-size: 12px
            text-transform: uppercase
.detail-info-wrap
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
    @media(max-width: 1200px)
        flex-direction: column
    .detail-info__item
        flex: 1
        display: flex
        justify-content: center
        @media(max-width: 1200px)
            margin-bottom: 15px
        &.contact
            //border-right: 1px solid #C0CFE4
            //border-left: 1px solid #C0CFE4
            position: relative
            @media(max-width: 1200px)
                margin-top: 30px
                margin-bottom: 30px
            &::before,
            &::after
                content: ''
                position: absolute
                top: -50%
                width: 1px
                height: 150px
                background: #C0CFE4
                @media(max-width: 1200px)
                    display: none
            &::before
                left: 0
            &::after
                right: 0
        &.preview-position
            margin-bottom: 0
        .contact-list
            width: 100%
            &__item
                display: flex
                justify-content: space-between
                .l-section
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    .icon
                        margin-right: 10px
                    a
                        color: #5D6C80
                        font-size: 12px
                .r-section
                    .copy
                        margin-left: 5px
        .structure-list
            &__item
                text-align: center
                width: 100%
                padding: 10px 0
                color: #2B3644
                position: relative
                margin-bottom: 13px
                font-size: 12px
                background: #dcf4ff
                border-radius: 5px   
                padding-left: 20px
                padding-right: 20px
                &::before
                    content: ''
                    height: 13px
                    width: 1px
                    background: #C0CFE4
                    position: absolute
                    left: 50%
                    top: 100%
                    transform: translateX(-50%)                    
                &:nth-of-type(1),
                &:nth-of-type(2)
                    box-shadow: 0 0 3px 0 #c0cfe4                       
                    background: #fff
                &:last-child
                    +rb-b
                    &::before
                        display: none          
                    

.info-post-wrap
    padding-bottom: 15px         
    .swiper-slide
        min-height: 110px
        max-width: 320px
        min-width: 320px
    .swiper-button
        width: 18px
        height: 25px
        background-size: contain
        transition: opacity .2s ease
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
        opacity: 0
        cursor: auto
        pointer-events: none


.tooltip
    position: relative
    display: inline-block
    cursor: pointer
    line-height: 1
    margin-left: 5px
    top: 3px
    .tooltiptext
        visibility: hidden      
        text-align: center
        padding: 5px 0
        position: absolute
        z-index: 1
        background: rgba(206,208,210,.6)
        border-radius: 4px
        font-size: 12px
        color: #5d6c80
        padding: 5px 10px
        padding-bottom: 8px
        left: 130%
        top: -7px
        &::after            
            content: " "
            position: absolute
            top: 50%
            right: 100%
            margin-top: -5px
            border-width: 5px
            border-style: solid
            border-color: transparent rgba(206,208,210,.6) transparent transparent

    &:hover .tooltiptext
        visibility: visible

.table-planing-week,
.table-indicator
    .nav-table-tr
        display: flex
        align-content: center
        input[type=checkbox].input-checkbox
            margin-top: 0
        .nav-table__item
            display: none
            margin-right: 10px
            &:last-child
                display: block
                margin-right: 0
    .nav-task
        justify-content: flex-end
        &__item
            display: none
            &:last-child
                display: block
    .add,
    .edit
        .nav-task
            &__item
                display: block
        .nav-table-tr
            .nav-table__item
                display: block
    

.select2
    width: 100%

.table-respons
    .nav-task
        display: none
        .play
            display: none
    .edit
        .nav-task
            display: flex
    .pause
        color: #92A3BA
        textarea.input-text
            color: #92A3BA
            display: inline-block
        .nav-task
            .play
                display: flex
            .pause
                display: none
        .date-pause
            color: #92A3BA
            font-size: 12px
            display: inline-block
            margin-bottom: 0
            vertical-align: top   
            @media (max-width: 1400px)
                display: block
                padding-left: 0px 

.table-suc
    thead
        tr
            td
                &:nth-of-type(2)                    
                    width: 55%

.nice-select
    background: transparent

#cumulativeStatistics
    .modal-dialog
        max-width: 700px
        thead
            tr
                
            th
                color: #92A3BA
                font-size: 12px
                font-weight: 500
                text-transform: uppercase
                padding-bottom: 7px
    input[type=text]
        color: rgba(43, 54, 68, 0.8)
        font-size: 14px
        border: 1px solid #C0CFE4
        border-radius: 4px
        max-width: 35px
        padding-top: 5px
        padding-bottom: 5px
        &:read-only
            border: 0    
    span
        color: rgba(43, 54, 68, 0.8)
        font-size: 14px
    table
        margin-bottom: 30px
        &:last-child
            margin-bottom: 10px
    .value
        display: flex
        align-items: center
        justify-content: flex-start
    .edit
        .value
            input
                width: 67px
                max-width: 65px
                padding-left: 10px
            span
                display: none
    .modal-header
        margin-bottom: 25px
        padding-top: 30px
        border-bottom: 0
        .modal-title
            width: 100%
            text-align: center
            color: rgba(43, 54, 68, 0.8)
            font-size: 14px
            font-weight: bold
        .close
            background: transparent
    .modal-footer
        border-top: 0
        text-align: center
        justify-content: center
        margin-bottom: 20px

.btn-blue
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #004E9C 11.1%, #0368CD 85.21%), #004E9C
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38) 
    border: 1px solid #004E9C
    border-radius: 7px
    font-size: 11px
    color: #fff
    margin-left: 20px
.btn-blue-border
    border: 1px solid #004E9C
    background: #fff
    color: #004E9C
    border-radius: 7px
    font-size: 11px

.btn-wrap 
    text-align: right

@media (max-width: 1024px)
    .btn-blue
        margin-left: 0
        margin-top: 15px
    .header
        padding-bottom: 15px
    .btn-wrap
        margin-left: 15px
    .nav-row .type-time
        margin-bottom: 15px
    .nav-row .nav-btn .btn
        margin-bottom: 10px
    .accordeon-wrap .accordeon-title .l-section
        font-size: 12px
        a
            display: flex

.all-time
    min-width: 75px
    max-width: 90px
    padding-right: 0 !important
    &:read-only
        padding-left: 0 !important
.all-time-big
    max-width: 110px
    padding-ridth: 10px 

.all-name
    min-width: 135px
    max-width: 170px
.all-time-input    
    min-width: 75px
    max-width: 90px
    padding: 7px 15px
    padding-right: 0 !important
    padding-left: 0 !important

.text-small-td
    padding-top: 14px !important
    padding-bottom: 14px !important


.mt-30-neg
    +rmin(1199)
        margin-top: -30px