<header class="header">
    <div class="container">
        <div class="row">
            {% include "partials/nav/_main-nav.html" %}
            <div class="js-show-nav nav-hamburg">
                <span>
                    <svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.185059" y="0.0410156" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                        <rect x="0.185059" y="7.61914" width="20.6526" height="3" rx="1.5" fill="#3984EA"/>
                        </svg>
                        
                </span>
            </div>
        </div>
    </div>
</header>