<div id="left-menu" class="left-menu open" style="width: 55px;">
    <div class="logo">
        <div class="logo_img"></div>
    </div>
    <div class="line mt20"></div>

    <div class="user_icon mt20">
        <div class="user_img "></div>
    </div>

    <div class="nmenu mt20">

        <div class="m-row">
            <div class="h-lnk">
                <div class="icon_orgchart icon"></div>
                <div class="link"><a href="#">Оргструктура</a></div>
            </div>
        </div>

        <div class="m-row">
            <div class="h-lnk">
                <div class="icon_cabinet icon"></div>
                <div class="link sub"><a data-toggle="collapse" class="collapsed" href="#submenu1" aria-expanded="false">
                        Личный кабинет                                </a></div>
            </div>
            <div class="submenu collapse" id="submenu1" style="">
                <div class="subm-body sl" style="max-height: 0px;">
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon icon_dashb"></div>
                            <div class="link"><a href="#">Дэшбоард</a>
                            </div>
                        </div>
                    </div>
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon icon_board"></div>
                            <div class="link"><a href="#">Планирование</a></div>
                        </div>
                    </div>
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon icon_staff"></div>
                            <div class="link"><a href="#">Мои сотрудники</a></div>
                        </div>
                    </div>
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon icon_job_descr"></div>
                            <div class="link"><a href="#">Описание должности</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="m-row">
            <div class="h-lnk">
                <div class="icon_chart icon"></div>
                <div class="link"><a href="#">Статистики</a></div>
            </div>
        </div>

        <div class="m-row">
            <div class="h-lnk">
                <div class="icon_setting icon"></div>
                <div class="link sub"><a data-toggle="collapse" class="sl collapsed" href="#submenu2" aria-expanded="false">Панель
                        управления</a></div>
            </div>

            <div class="submenu collapse" id="submenu2" style="">
                <div class="subm-body sl" style="max-height: 0px;">
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon"></div>
                            <div class="link"><a href="#">Настройки компании</a></div>
                        </div>
                    </div>
                    <div class="m-row h-lnk">
                        <div class="icon"></div>
                        <div class="link"><a href="#">Настройки оргструктуры</a></div>
                    </div>
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon"></div>
                            <div class="link"><a href="#">Настройки показателей<br>эффективности</a></div>
                        </div>
                    </div>
                    <div class="m-row">
                        <div class="h-lnk">
                            <div class="icon"></div>
                            <div class="link"><a href="/control/users">Все сотрудники</a></div>
                        </div>
                    </div>
                    <div class="m-row h-lnk">
                        <div class="icon"></div>
                        <div class="link"><a href="#">Настройки планирования</a></div>
                    </div>
                    <div class="m-row h-lnk">
                        <div class="icon"></div>
                        <div class="link"><a href="#">Обучение</a></div>
                    </div>
                    <div class="m-row h-lnk">
                        <div class="icon"></div>
                        <div class="link"><a href="#">Уведомления</a></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="mbt d-flex align-items-end">
        <div class="mbt-r w100pr mb40">
            <div class="line mt20"></div>
            <div class="nmenu mt20">
                <div class="m-row">
                    <div class="h-lnk">
                        <div class="icon_ring icon"></div>
                        <div class="link"><a href="#">Уведомления</a></div>
                    </div>
                </div>
                <div class="m-row">
                    <div class="h-lnk">
                        <div class="icon_teach icon"></div>
                        <div class="link"><a href="#">Обучение</a></div>
                    </div>
                </div>
                <div class="m-row">
                    <div class="h-lnk">
                        <div class="icon_logout icon"></div>
                                                            <div class="link">
                            <form action="/site/logout" method="post">
<input type="hidden" name="_csrf" value="1mVsuclW-J7_8cFQ3IHuoE-fjZn9LpUiGE0TGJDWAc6MIQPVnDfJzbnHlhGtsKTaGMi_3bIWpRJXP0tCxeNvhw=="><button type="submit" class="btn btn-link logout">Выйти</button></form>                                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>