<!-- begin not-wrapper dashboard-planing -->
<div class="notiff-wrapper dashboard-planing">

  <div class="dashboard-planing__header">
    <div class="header-small">Последние уведомления</div>
    <a href="" class="header-more-link">Показать все</a>
  </div>
  <div class="dashboard-planing__body ">

    <div class="notiff-item">
      <div class="notiff-item__side"> <a href="">Михаил Антоненко</a> утвердил(а)  <a href="">ваш план</a> </div>
      <div class="notiff-item__time">37 минут назад</div>
    </div>
    <div class="notiff-item">
      <div class="notiff-item__side"> <a href="">Анна Николаева</a> добавил(а)  <a href="">новый показатель работы</a> </div>
      <div class="notiff-item__time">1 час назад</div>
    </div>
    <div class="notiff-item">
      <div class="notiff-item__side"> <a href="">Василий Беляев</a> добавил(а)  <a href="">новый показатель работы</a> </div>
      <div class="notiff-item__time">2 часа назад</div>
    </div>
    <div class="notiff-item">
      <div class="notiff-item__side"> <a href="">Михаил Антоненко</a> согласовал(а)  <a href="">план на 13-17.04 </a> </div>
      <div class="notiff-item__time">Сегодня 11:34</div>
    </div>
    <div class="notiff-item">
      <div class="notiff-item__side"> <a href="">Михаил Антоненко</a> согласовал(а)  <a href="">план на 13-17.04 </a> </div>
      <div class="notiff-item__time">Понедельник 22:01</div>
    </div>

  </div>
</div>
<!-- end not-wrapper dashboard-planing -->