<!-- begin .dashboard-notif__item -->

<div class="dashboard-notif__item">

  <div class="dashboard-notif__icon">

    
  {% if item.icon === 'list' %}
  <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.80908 4.09588H16.679C16.9215 4.09588 17.1196 3.89832 17.1196 3.65545C17.1196 3.41258 16.9219 3.21484 16.679 3.21484H6.80908C6.56621 3.21484 6.36865 3.41258 6.36865 3.65545C6.36865 3.89832 6.56621 4.09588 6.80908 4.09588Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    <path d="M2.10692 4.6196C2.24089 4.80516 2.43881 4.91173 2.6498 4.91173L2.67254 4.91137C2.89213 4.90349 3.09004 4.78259 3.21524 4.57948L5.01116 1.67201C5.13833 1.4655 5.07421 1.19362 4.8677 1.06591C4.79784 1.02275 4.71796 1 4.63629 1C4.48225 1 4.34183 1.07827 4.26123 1.2092L2.6335 3.8437L1.79778 2.68666C1.66094 2.49699 1.37347 2.4497 1.1829 2.58726C1.08743 2.65604 1.02457 2.75813 1.00576 2.87419C0.986954 2.99043 1.01454 3.10703 1.08349 3.20232L2.10692 4.6196Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    <path d="M16.679 8.75781H6.80908C6.56621 8.75781 6.36865 8.95555 6.36865 9.19824C6.36865 9.44111 6.56621 9.63903 6.80908 9.63903H16.679C16.9215 9.63903 17.1196 9.44129 17.1196 9.19824C17.1196 8.95555 16.9219 8.75781 16.679 8.75781Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    <path d="M4.86752 6.61083C4.79784 6.56785 4.71796 6.54492 4.63629 6.54492C4.48225 6.54492 4.34183 6.62337 4.26123 6.75412L2.6335 9.38845L1.79778 8.23141C1.66094 8.04155 1.37347 7.99445 1.1829 8.132C1.08743 8.20078 1.02457 8.30287 1.00576 8.41893C0.986954 8.53517 1.01454 8.65177 1.08349 8.74706L2.1071 10.1643C2.24107 10.3499 2.43881 10.4565 2.6498 10.4565L2.67236 10.4561C2.89231 10.4482 3.09004 10.3273 3.21542 10.124L5.01116 7.21694C5.13851 7.01042 5.07421 6.73836 4.86752 6.61083Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    <path d="M16.679 14.3027H6.80908C6.56621 14.3027 6.36865 14.5005 6.36865 14.7432C6.36865 14.986 6.56621 15.1839 6.80908 15.1839H16.679C16.9215 15.1839 17.1196 14.9862 17.1196 14.7432C17.1196 14.5005 16.9219 14.3027 16.679 14.3027Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    <path d="M4.86752 12.1536C4.79784 12.1108 4.71796 12.0879 4.63629 12.0879C4.48225 12.0879 4.34183 12.1663 4.26123 12.2971L2.6335 14.9314L1.79778 13.7744C1.66076 13.5843 1.37311 13.5378 1.1829 13.675C1.08743 13.7439 1.02439 13.8458 1.00576 13.9623C0.986954 14.078 1.01454 14.1947 1.08349 14.29L2.1071 15.7073C2.24107 15.8929 2.43881 15.9994 2.6498 15.9994L2.67254 15.9991C2.89213 15.9912 3.09004 15.8701 3.21524 15.6676L5.01116 12.7599C5.13851 12.5534 5.07421 12.2813 4.86752 12.1536Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.25"/>
    </svg>    
  {% elseif item.icon === 'check'  %}
  <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.36634 7.64674C5.50965 7.50982 5.60589 7.41842 5.74063 7.29045C5.83966 7.1964 5.95948 7.0826 6.13408 6.91645L5.36634 7.64674ZM5.36634 7.64674L1.65865 4.44466C1.55909 4.3584 1.4435 4.29263 1.31849 4.25108L5.36634 7.64674ZM13.7719 0.150394L13.7724 0.150381C13.9436 0.145252 14.1123 0.192033 14.2564 0.284577C14.4005 0.377121 14.5133 0.511104 14.5799 0.668913C14.6464 0.826721 14.6637 1.00097 14.6294 1.16878C14.5951 1.33658 14.5108 1.49008 14.3877 1.60911L14.3859 1.6109C14.2867 1.71007 14.0485 1.93595 13.6906 2.27523C13.482 2.473 13.2327 2.70931 12.9467 2.98151C12.6373 3.27588 12.2926 3.6047 11.9265 3.95389C11.3752 4.47963 10.7756 5.05157 10.1754 5.62175C9.6983 6.07496 9.22058 6.52737 8.76739 6.95655C8.27276 7.42497 7.80735 7.86572 7.40389 8.24965C6.63076 8.98536 6.0394 9.55791 5.9968 9.6005L5.99666 9.60064C5.84503 9.75266 5.64142 9.84155 5.42684 9.84943C5.21226 9.8573 5.00268 9.78357 4.84031 9.64307L4.8402 9.64298L0.445924 5.84791L0.44582 5.84782C0.360974 5.77468 0.291379 5.68554 0.241014 5.58548C0.190648 5.48542 0.160499 5.37642 0.152291 5.2647C0.144083 5.15299 0.157978 5.04074 0.193179 4.9344C0.228381 4.82805 0.2842 4.72969 0.357444 4.64494C0.430688 4.56018 0.519921 4.4907 0.62004 4.44045C0.720162 4.39021 0.829203 4.36019 0.940926 4.35212C1.05265 4.34405 1.16487 4.35809 1.27118 4.39342C1.37748 4.42875 1.47577 4.48469 1.56044 4.55803L1.56061 4.55818L5.2683 7.76026L5.37144 7.84933L5.46997 7.7552C5.61318 7.61837 5.70918 7.52719 5.84376 7.39937C5.94275 7.30536 6.06261 7.19152 6.23749 7.02512L6.23749 7.02511C6.9939 6.30528 7.96367 5.38399 8.93896 4.45745L9.00879 4.39112C10.0075 3.44237 11.0067 2.49306 11.7803 1.75696C12.5534 1.02125 13.1448 0.448717 13.1874 0.406131L13.1885 0.405008C13.3426 0.247653 13.5518 0.156353 13.7719 0.150394ZM4.74216 9.7565C4.93322 9.92183 5.17985 10.0086 5.43234 9.99933C5.68483 9.99006 5.92443 9.88546 6.10287 9.70657C6.14389 9.66554 6.73382 9.09435 7.5073 8.35831C7.91087 7.97427 8.3759 7.53388 8.87025 7.06573C9.32335 6.63664 9.80108 6.18423 10.2787 5.7305C10.8788 5.16034 11.4788 4.58811 12.0302 4.06224C12.3963 3.71305 12.741 3.38429 13.0501 3.09017C13.3338 2.82013 13.5819 2.58494 13.7902 2.3875C14.1503 2.04606 14.3914 1.81753 14.4919 1.71696C14.6369 1.5769 14.736 1.39627 14.7764 1.19881C14.8167 1.00136 14.7964 0.79631 14.7181 0.610615C14.6397 0.42492 14.5071 0.267259 14.3375 0.15836C14.1679 0.0494609 13.9693 -0.00558701 13.7679 0.000448083L4.74216 9.7565Z" fill="#8099D0" stroke="#CADCFE" stroke-width="0.3"/>
    </svg>
    
  {% else %}
  <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.2818 16.0005H2.71886C1.77068 16.0005 1 15.2299 1 14.2817V3.96875C1 3.02056 1.77068 2.25 2.71886 2.25H14.2818C15.23 2.25 16.0006 3.02056 16.0006 3.96875V14.2817C16.0006 15.2299 15.23 16.0005 14.2818 16.0005ZM2.71886 3.18754C2.2882 3.18754 1.93754 3.53809 1.93754 3.96875V14.2817C1.93754 14.7123 2.2882 15.063 2.71886 15.063H14.2818C14.7124 15.063 15.0631 14.7123 15.0631 14.2817V3.96875C15.0631 3.53809 14.7124 3.18754 14.2818 3.18754H2.71886Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.2"/>
    <path d="M15.5319 6.93754H1.46877C1.21001 6.93754 1 6.72753 1 6.46877C1 6.21001 1.21001 6 1.46877 6H15.5319C15.7906 6 16.0006 6.21001 16.0006 6.46877C16.0006 6.72753 15.7906 6.93754 15.5319 6.93754Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.2"/>
    <path d="M4.59377 4.75016C4.33501 4.75016 4.125 4.54015 4.125 4.28139V1.46877C4.125 1.21001 4.33501 1 4.59377 1C4.85253 1 5.06254 1.21001 5.06254 1.46877V4.28139C5.06254 4.54015 4.85253 4.75016 4.59377 4.75016Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.2"/>
    <path d="M12.4068 4.75016C12.148 4.75016 11.938 4.54015 11.938 4.28139V1.46877C11.938 1.21001 12.148 1 12.4068 1C12.6655 1 12.8755 1.21001 12.8755 1.46877V4.28139C12.8755 4.54015 12.6655 4.75016 12.4068 4.75016Z" fill="#8099D0" stroke="#8099D0" stroke-width="0.2"/>
    </svg>
    
  {% endif %}

  </div>

  <div class="dashboard-notif__info">
    <div class="dashboard-notif__info-title">
      {{ item.title | safe }}
    </div>

    {% if item.text %}
      <div class="dashboard-notif__info-text">
        {{ item.text }}
      </div>
    {% endif %}

  </div>

  <div class="dashboard-notif__time">{{item.time}}</div>

  {% if item.status %}

  <div class="dashboard-notif__status">

    {% if item.statusred %}
  <div class="dashboard-notif__status-item-wrapper">
    <span class="dashboard-notif__status-item dashboard-notif__status-item-red">
      {{item.statusred}}
    </span>
  </div>
    {%endif%}

    {% if item.statusgreen %}

    <div class="dashboard-notif__status-item-wrapper">
    <span class="dashboard-notif__status-item dashboard-notif__status-item-green">
      {{item.statusgreen}}
    </span>
  </div>
    {%endif%}


  </div>

  
  {% endif %}

  
  <div class="dashboard-notif__eye">
    
  {% if item.eye %}
  
    <a class="icon icon-white" href="">
      <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.5835 7.66572C1.5835 7.66572 4.93198 0.96875 10.7918 0.96875C16.6517 0.96875 20.0002 7.66572 20.0002 7.66572C20.0002 7.66572 16.6517 14.3627 10.7918 14.3627C4.93198 14.3627 1.5835 7.66572 1.5835 7.66572Z" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10.7916 10.177C12.1786 10.177 13.303 9.05265 13.303 7.66566C13.303 6.27867 12.1786 5.1543 10.7916 5.1543C9.40465 5.1543 8.28027 6.27867 8.28027 7.66566C8.28027 9.05265 9.40465 10.177 10.7916 10.177Z" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
    
  {% endif %}
  </div>


</div>

<!-- end .dashboard-notif__item -->