.efficiency-chart
  padding: 16px
  background: #FFFFFF
  box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
  border-radius: 5px
  margin-bottom: 30px
  height: 342px
  display: flex
  flex-direction: column
  +r(640)
    height: auto
  &__clear
    background: transparent
    box-shadow: 0px 0px 0px rgba(168, 195, 234, 0)
    border-radius: 0
    padding: 0
    &-body
      border: 1px dashed #CADCFE
      display: flex
      justify-content: center
      flex-wrap: wrap
      align-items: center
      min-height: 342px
      border-radius: 0px
    &-header
      display: flex
      flex-wrap: wrap
      align-items: center
      width: 100%
      margin-bottom: 28px
      &__item
        font-size: 12px
        line-height: 14px
        color: #92A3BA
        display: flex
        align-items: center
        margin-right: 18px
        padding-right: 18px
        position: relative
        &::before
          content: ''
          width: 1px
          height: 21px
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          background: #CADCFE
        &:last-of-type
          margin-right: 0
          padding-left: 0
          &::before
            display: none
        span
          font-size: 18px
          line-height: 21px
          color: #ED2454
          +rb-b
          font-weight: 500
          margin-left: 15px
          &.green
            color: #38EF7D
    &-search
      display: flex
      flex-direction: column
      font-size: 12px
      line-height: 14px
      color: #7B8492
      width: 344px
      +r(991)
        width: 90%
      > div
        margin-bottom: 3px
      .select2
        width: 100% !important
      .select2-selection.select2-selection--single
        border: 1px solid #C0CFE4
        box-sizing: border-box
        border-radius: 4px
        font-size: 12px
        line-height: 14px
      .select2-container--default .select2-selection--single .select2-selection__placeholder
        color: #92A3BA
      .select2-container .select2-selection--single .select2-selection__rendered
        padding-left: 36px
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.72724 1C5.5945 1 4.4872 1.3359 3.54536 1.96521C2.60352 2.59453 1.86944 3.489 1.43596 4.53552C1.00248 5.58204 0.889063 6.73359 1.11005 7.84457C1.33104 8.95554 1.8765 9.97604 2.67747 10.777C3.47844 11.578 4.49894 12.1234 5.60991 12.3444C6.72089 12.5654 7.87245 12.452 8.91896 12.0185C9.96548 11.585 10.86 10.851 11.4893 9.90912C12.1186 8.96728 12.4545 7.85998 12.4545 6.72724C12.4544 5.20831 11.8509 3.75162 10.7769 2.67758C9.70286 1.60353 8.24617 1.0001 6.72724 1V1Z' stroke='%23468EF0' stroke-miterlimit='10'/%3E%3Cpath d='M11 11L14.9998 14.9998' stroke='%23468EF0' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: 10px center
        line-height: 35px
      .select2-container .select2-selection--single
        height: 35px
      .select2-container--default .select2-selection--single .select2-selection__arrow
        height: 100%
        width: 30px
      .select2-container--classic .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b
        border-color: transparent transparent transparent
        border-style: solid
        border-width: 0px 0px 0
        height: 8px
        left: 50%
        margin-left: -4px
        margin-top: -5px
        position: absolute
        top: 50%
        width: 12px
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1574 1.03756C11.0649 0.944858 10.955 0.87131 10.834 0.821129C10.7131 0.770947 10.5834 0.745117 10.4524 0.745117C10.3214 0.745117 10.1918 0.770947 10.0708 0.821129C9.94981 0.87131 9.83992 0.944858 9.74741 1.03756L5.86741 4.91756L1.98741 1.03756C1.80043 0.850583 1.54684 0.74554 1.28241 0.74554C1.01798 0.74554 0.764386 0.850583 0.577409 1.03756C0.390431 1.22454 0.28539 1.47813 0.28539 1.74256C0.28539 2.00699 0.390431 2.26058 0.577409 2.44756L5.16741 7.03756C5.25992 7.13026 5.36981 7.20381 5.49079 7.25399C5.61176 7.30418 5.74144 7.33 5.87241 7.33C6.00338 7.33 6.13306 7.30418 6.25403 7.25399C6.37501 7.20381 6.4849 7.13026 6.57741 7.03756L11.1674 2.44756C11.5474 2.06756 11.5474 1.42756 11.1574 1.03756Z' fill='%2392A3BA'/%3E%3C/svg%3E%0A")
      .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
        border-color: transparent transparent transparent
        border-width: 0 0px 0px
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.578919 7.03763C0.671432 7.13034 0.781321 7.20389 0.902294 7.25407C1.02327 7.30425 1.15295 7.33008 1.28392 7.33008C1.41489 7.33008 1.54457 7.30425 1.66554 7.25407C1.78652 7.20389 1.8964 7.13034 1.98892 7.03763L5.86892 3.15763L9.74892 7.03763C9.9359 7.22461 10.1895 7.32965 10.4539 7.32965C10.7183 7.32965 10.9719 7.22461 11.1589 7.03763C11.3459 6.85066 11.4509 6.59706 11.4509 6.33263C11.4509 6.06821 11.3459 5.81461 11.1589 5.62763L6.56892 1.03763C6.4764 0.944931 6.36652 0.871383 6.24554 0.821201C6.12457 0.77102 5.99489 0.745191 5.86392 0.745191C5.73295 0.745191 5.60327 0.77102 5.48229 0.821201C5.36132 0.871383 5.25143 0.944931 5.15892 1.03763L0.568918 5.62763C0.188918 6.00763 0.188919 6.64763 0.578919 7.03763Z' fill='%2392A3BA'/%3E%3C/svg%3E%0A")
        


  &__header
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 10px
    position: relative
    &-sort
      cursor: pointer
      position: absolute
  &__title
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    max-width: 340px
    flex: 1
    padding-left: 32px
    +r(458)
      width: 100%
      max-width: 100% 
      flex: 1 0 auto
  &__infochart
    flex: 1
    padding-left: 32px
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    &-item
      display: flex
      align-items: center
      margin-bottom: 4px
      &:last-of-type
        margin-bottom: 0
      span
        display: flex
        align-items: center
        margin-right: 10px
  &__status
    +rb-m
    font-size: 24px
    line-height: 28px
    margin-left: auto
    margin-right: 15px
    +r(458)
      margin-left: 38px
    &-red
      color: #ED2454
    &-green
      color: #38EF7D
  &__icons
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    padding-left: 17px
    +r(640)
      flex-direction: row
      width: 100%
      padding-left: 0
      margin-top: 10px
    .icon
      width: 32px
      height: 32px
      margin-bottom: 10px
      +r(640)
        margin-bottom: 0
        margin-right: 14px
      &:last-of-type
        margin-bottom: 0
        +r(640)
          margin-right: 0
    .icon-delete
      margin-top: 6px
      +r(640)
        margin-top: 0
  &__body
    min-height: 235px
    display: flex
    flex-wrap: wrap
    height: 100%
    +r(640)
    
  &__item
    height: 100%
    flex: 1 0  calc(100% - 52px)
    width: calc(100% - 52px)
    max-width: calc(100% - 52px)
    +r(640)
      flex: 1 0 100%
      width: 100%
      max-width: 100%
    canvas
      width: 100% 
      height: 100%