.efficiency-header
  display: flex
  flex-wrap: wrap
  width: 100%
  margin-top: 47px
  margin-bottom: 21px
  &__item
    display: flex
    flex-wrap: wrap
    align-items: center
    padding-right: 30px
    margin-right: 30px
    position: relative
    margin-bottom: 15px
    +r(640)
      padding-right: 0px
      margin-right: 8px
    &::before
      content: ''
      width: 1px
      height: 30px
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      background: #CADCFE
      +r(640)
        display: none
    &:last-of-type
      margin-right: 0
      padding-left: 0
      &::before
        display: none
    .nice-select
      margin-right: 12px
      min-width: 177px
      &.niceselect-autowidth
        min-width: 20px

.efficiency-period
  display: flex
  flex-wrap: wrap
  align-items: center
  font-size: 12px
  line-height: 14px
  color: rgba(43, 54, 68, 0.8)
  cursor: pointer
  &:first-of-type
    padding-right: 10px
    .icon
      margin-right: 10px
  &:last-of-type
    padding-left: 10px
    .icon
      margin-left: 10px