.efficiency-chart
  &__modal
    &-item
      height: 432px
    &-title
      text-align: center
      color: #2B3644
      opacity: 0.8
      font-size: 14px
      +rb-b
      margin: 0 auto
    .modal-footer
      border-top: 0
      display: flex
      justify-content: center
      padding-top: 0
      padding-bottom: 35px
      .btn-primary
        color: #fff
        background: #004E9C
    .modal-header
      border-bottom: 0 !important
      padding-top: 41px
      border-radius: 0 !important
    .close
      position: absolute
      top: 40px
      right: 28px
      padding: 0
      margin: 0
      background: transparent
    .modal-dialog
      width: 100%
      max-width: 1056px
    .efficiency-header
      margin-top: 0
      margin-bottom: 5px
    .efficiency-header__item
      margin-bottom: 15px
    .efficiency-chart__modal-item
      background: #FFFFFF
      box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
      border-radius: 5px
      padding: 18px 25px
      position: relative
    .efficiency-chart__status
      position: absolute
      right: 35px
      top: 18px
      margin-right: 0
      margin-bottom: 5px
      margin-top: 0
    .modal-footer
      display: flex
      font-size: 14px
      line-height: 16px
      color: rgba(43, 54, 68, 0.8)
      padding-left: 50px
      padding-right: 50px
      padding-bottom: 50px
      +r(640)
        padding-left: 0
        padding-right: 0
      p
        font-size: 14px
        line-height: 16px
        color: rgba(43, 54, 68, 0.8)
        &:last-of-type
          padding-bottom: 0
    .modal-header
      padding-left: 50px
      padding-right: 50px
      +r(640)
        padding-left: 10px
        padding-right: 10px
    .modal-body
      padding-left: 50px
      padding-right: 50px
      +r(640)
        padding-left: 10px
        padding-right: 10px