.user-info-line
  &__wrapper
    display: flex
    width: 100%
    flex-wrap: wrap
    align-items: baseline
  &__item
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    margin-right: 17px
    &:last-of-type
      margin-right: 0
    &-big
      font-size: 18px
      line-height: 21px
      +rb-b
    &-small
      font-size: 10px
      line-height: 12px