<!-- MODALL ADD TASK -->
<div class="modal fade dashboard-tasks__modal" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="modalAddTaskTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title dashboard-tasks__modal-title" id="modalAddTaskTitle">Добавить внеплановую задачу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.26398 6.70898L12.4539 2.51909C12.6527 2.32059 12.7646 2.05123 12.7648 1.77026C12.7651 1.48929 12.6537 1.21972 12.4552 1.02087C12.2567 0.822021 11.9873 0.710168 11.7064 0.70992C11.4254 0.709672 11.1558 0.821049 10.957 1.01955L6.76709 5.20944L2.5772 1.01955C2.37834 0.820698 2.10864 0.708984 1.82743 0.708984C1.54621 0.708984 1.27651 0.820698 1.07766 1.01955C0.878804 1.2184 0.76709 1.4881 0.76709 1.76932C0.76709 2.05054 0.878804 2.32024 1.07766 2.51909L5.26755 6.70898L1.07766 10.8989C0.878804 11.0977 0.76709 11.3674 0.76709 11.6486C0.76709 11.9299 0.878804 12.1996 1.07766 12.3984C1.27651 12.5973 1.54621 12.709 1.82743 12.709C2.10864 12.709 2.37834 12.5973 2.5772 12.3984L6.76709 8.20853L10.957 12.3984C11.1558 12.5973 11.4255 12.709 11.7068 12.709C11.988 12.709 12.2577 12.5973 12.4565 12.3984C12.6554 12.1996 12.7671 11.9299 12.7671 11.6486C12.7671 11.3674 12.6554 11.0977 12.4565 10.8989L8.26398 6.70898Z" fill="#2B3644" fill-opacity="0.8" />
            </svg>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="dashboard-tasks__group">
          <div class="dashboard-tasks__label">внеплановая задача:</div>
          <input type="text" class="dashboard-tasks__input" />
        </div>
        <div class="dashboard-tasks__group">
          <div class="dashboard-tasks__label">Продукт:</div>
          <input type="text" class="dashboard-tasks__input" />
        </div>
        <div class="dashboard-tasks__group dashboard-tasks__group-center">
          <div class="dashboard-tasks__label dashboard-tasks__label-line"> фактическое время: </div>
          <div class="dashboard-tasks__timepick">
            <input type="text" class="js-datepicker flatpickr-input">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>
