
 <nav class="menu col-12">
  <ul class="menu__list ">
    {% for item in mainNav %}
    <li class="menu__item">
        <a href="{{item.link}}" class="menu__link {% if item.isActive %} is-active {% endif %}">{{item.name}}</a>
    </li>
    {% endfor %}
  </ul>
 </nav>
 