.toggle-accordion
  color: #0466C8
  font-size: 14px
  +rb-m
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  svg
    fill: #0466C8
    width: 24px
    height: 24px
    margin-right: 10px
    position: relative
    transform: rotate(180deg)
  .show-in
    display: none
  &.is-active
    .hide-in
      display: none
    .show-in
      display: inline-flex
    svg
      transform: rotate(0deg)


.table-sub
  &__header
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    background: #F7FAFC
    padding: 10px 17px
    padding-right: 23px
    border-radius: 4px
    margin-top: 20px
    &-title
      font-size: 16px
      +rb-sb
      color: $darkblue
    .btn-circle
      &.is-active
        transform: rotate(180deg)

.accordeon
  &-content
    padding-left: 26px
    padding-right: 26px

.t-small-table
  display: flex
  flex-wrap: wrap
  font-size: 11px
  +rb-m
  color: #979DAC
  width: 100%
  text-transform: none