.btn
  color: #004E9C
  font-size: 12px
  padding: 10px 20px
  border-radius: 6px
  &-transparent
    background: #ffffff
    border: 1px solid #004E9C
  &-small
    padding: 9px 9px
  &-grey
    background: #FFFFFF
    color: rgba(43, 54, 68, 0.8)
    box-shadow: 0px 0px 3px rgba(160, 166, 174, 0.7)
    border-radius: 6px
    border: 1px solid #fff
    &.active
      border: 1px solid #004E9C
  &-blue
    display: inline-flex
    align-items: center
    color: $white
    border-radius: 6px
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #004E9C 11.1%, #0368CD 85.21%), #004E9C
    font-size: 14px !important
    +rb-m
    padding: 9px 20px
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    &:hover
      background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #0466C8 11.1%, #0353A4 85.21%), #023E7D;
      color: $white
    &:active
      background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #0466C8 11.1%, #0353A4 85.21%), #023E7D
      box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
      color: $white


[data-set-date]
  padding: 6px 20px
  &.active
      border: 1px solid #004E9C

.upload-btn-wrapper
  position: relative
  overflow: hidden
  display: inline-block

.upload-btn-wrapper input[type=file] 
  font-size: 100px
  position: absolute
  left: 0
  top: 0
  opacity: 0
  display: block


.btn-gradient
  display: inline-flex
  justify-content: center
  align-items: center
  width: 36px
  height: 36px
  border-radius: 10px
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #e3edf7
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
  transition: all .2s ease
  cursor: pointer
  position: relative
  &::before
    content: ''
    position: absolute
    left: -1px
    top: -1px
    bottom: -1px
    right: -1px
    z-index: 2
    border: 1px solid #fff
    
    border-radius: 10px
    opacity: 0
  &::after
    border-radius: 10px
    content: ''
    position: absolute
    left: -2px
    top: -2px
    right: -2px
    bottom: -2px
    z-index: 1
    background: linear-gradient(130.96deg, rgba(255, 255, 255, 0.755208) 32.76%, rgba(55, 83, 111, 0.4) 192.4%)
    opacity: 0.6
    opacity: 0
  &:hover
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0)
  &:active
    background: #E3EDF7
    box-shadow: inset -2.58065px -2.58065px 10.3226px rgba(255, 255, 255, 0.8), inset 2.58065px 2.58065px 7.74194px rgba(136, 165, 191, 0.4)
    &::before
      opacity: 1
    &::after
      opacity: 1
  svg
    position: relative
    z-index: 5


.btn-arrow
  display: inline-flex
  justify-content: center
  align-items: center
  width: 28px
  height: 28px
  border-radius: 50%
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #e3edf7
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
  transition: all .2s ease
  cursor: pointer
  position: relative
  &::before
    content: ''
    position: absolute
    left: -1px
    top: -1px
    bottom: -1px
    right: -1px
    z-index: 2
    border: 1px solid #fff
    
    border-radius: 50%
    opacity: 0
  &::after
    border-radius: 50%
    content: ''
    position: absolute
    left: -2px
    top: -2px
    right: -2px
    bottom: -2px
    z-index: 1
    background: linear-gradient(130.96deg, rgba(255, 255, 255, 0.755208) 32.76%, rgba(55, 83, 111, 0.4) 192.4%)
    opacity: 0.6
    opacity: 0
  &:hover
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
    // box-shadow: 0px 0px 0px rgba(255, 255, 255, 0)
    svg
      fill: #023E7D
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5)
  &:active
    background: #E3EDF7
    box-shadow: inset -2.58065px -2.58065px 10.3226px rgba(255, 255, 255, 0.8), inset 2.58065px 2.58065px 7.74194px rgba(136, 165, 191, 0.4)
    &::before
      opacity: 1
    &::after
      opacity: 1
    svg
      fill: #0353A4
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5);
  svg
    position: relative
    z-index: 5
    fill: #023E7D
    width: 12px
    height: 12px

.btn-circle
  display: inline-flex
  justify-content: center
  align-items: center
  width: 28px
  height: 28px
  border-radius: 50%
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #e3edf7
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
  transition: all .2s ease
  cursor: pointer
  position: relative
  &::before
    content: ''
    position: absolute
    left: -1px
    top: -1px
    bottom: -1px
    right: -1px
    z-index: 2
    border: 1px solid #fff
    
    border-radius: 50%
    opacity: 0
  &::after
    border-radius: 50%
    content: ''
    position: absolute
    left: -2px
    top: -2px
    right: -2px
    bottom: -2px
    z-index: 1
    background: linear-gradient(130.96deg, rgba(255, 255, 255, 0.755208) 32.76%, rgba(55, 83, 111, 0.4) 192.4%)
    opacity: 0.6
    opacity: 0
  &:hover
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
    // box-shadow: 0px 0px 0px rgba(255, 255, 255, 0)
    svg
      fill: #023E7D
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5)
  &:active
    background: #E3EDF7
    box-shadow: inset -2.58065px -2.58065px 10.3226px rgba(255, 255, 255, 0.8), inset 2.58065px 2.58065px 7.74194px rgba(136, 165, 191, 0.4)
    &::before
      opacity: 1
    &::after
      opacity: 1
    svg
      fill: #0353A4
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5);
  svg
    position: relative
    z-index: 5
    fill: #023E7D
    width: 15px
    height: 15px


.btn-rounded
  display: inline-flex
  justify-content: center
  align-items: center
  width: 36px
  height: 36px
  border-radius: 4.8px
  background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #e3edf7
  box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
  transition: all .2s ease
  cursor: pointer
  position: relative
  &::before
    content: ''
    position: absolute
    left: -1px
    top: -1px
    bottom: -1px
    right: -1px
    z-index: 2
    border: 1px solid #fff
    border-radius: 4.8px
    opacity: 0
  &::after
    border-radius: 4.8px
    content: ''
    position: absolute
    left: -2px
    top: -2px
    right: -2px
    bottom: -2px
    z-index: 1
    background: linear-gradient(130.96deg, rgba(255, 255, 255, 0.755208) 32.76%, rgba(55, 83, 111, 0.4) 192.4%)
    opacity: 0.6
    opacity: 0
  &:hover
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7
    // box-shadow: 0px 0px 0px rgba(255, 255, 255, 0)
    svg
      fill: #023E7D
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5)
  &:active
    background: #E3EDF7
    box-shadow: inset -2.58065px -2.58065px 10.3226px rgba(255, 255, 255, 0.8), inset 2.58065px 2.58065px 7.74194px rgba(136, 165, 191, 0.4)
    &::before
      opacity: 1
    &::after
      opacity: 1
    svg
      fill: #0353A4
      path
        box-shadow: 0px 0px 2.8px rgba(2, 62, 125, 0.5);
  svg
    position: relative
    z-index: 5
    fill: #023E7D
    width: 16px
    height: 16px
  &.grid-icon
    svg
      width: 18px
      height: 18px


.btn-small
  width: 30px !important
  height: 30px !important
  &.btn-circle
    padding: 0 !important
    border-radius: 50% !important
    display: inline-flex
    justify-content: center
    align-items: center
    &:hover
      background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #0466C8 11.1%, #0353A4 85.21%), #023E7D
    &:active
      background: #0353A4 !important
      box-shadow: inset -2.58065px -2.58065px 10.3226px #023E7D, inset 2.58065px 2.58065px 7.74194px rgba(136, 165, 191, 0.4) !important
    svg
      width: 14px
      height: 14px
    &::before
      display: none !important
    &::after
      display: none !important