.calendar-select
  &__wrapper
    display: flex
    flex-wrap: wrap
    input
      width: 0
      height: 0
      position: absolute
      z-index: -1
      opacity: 0
      cursor: none
    
  &__slider
    display: flex
    cursor: pointer
    align-items: center
    margin-right: 25px
  &__selected
    font-size: 12px
    color: $blue-d2
    margin: 0 20px