.dropdown-select
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    .nice-select
      display: flex
      align-items: center
      flex-wrap: wrap
      min-width: 177px
      font-size: 12px
      line-height: 14px
      color: rgba(43, 54, 68, 0.8)
      border: 1px solid #C0CFE4
      border-radius: 4px
      padding-left: 9px
      height: 39px
      &:after
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.99933 5L8.99862 1' stroke='%235D6C80' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        width: 10px
        height: 6px
        border: none
        transform: rotate(0deg)
        transform-origin: center
      .list
        width: 100%
  &__name
    font-size: 12px
    line-height: 14px
    color: #92A3BA
    margin-right: 18px


.nice-select.disabled
  color: #212121