.dropdown-icons
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: flex-end
  .js-dropdown-icon
    cursor: pointer
    box-shadow: 0 0 4px 0 #5667de
    margin-left: 25px
  &__body
    display: none !important
    position: absolute
    right: 44px
    top: 0
    &.isActive
      display: flex !important