input[type=checkbox]
  display: inline-block
  height: 17px
  width: 16px
  overflow: hidden
  margin-top: -4px
  vertical-align: middle
  -webkit-appearance: none
  -moz-appearance: none
  background-color: transparent
  background-repeat: no-repeat
  background-position: 50% 50%
  border: 1px solid $grey2
  border-radius: 4px
  transition: .2s ease-in-out
  transition-property: background-color,border
  cursor: pointer
  &:checked
    border: 1px solid #0466C8
    background-color: #0466C8
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.70251 3.26635C1.30947 2.85412 0.676317 2.85847 0.28833 3.27608C-0.0996578 3.69369 -0.095558 4.36641 0.297487 4.77865L2.83844 7.44368C3.25647 7.88211 3.93843 7.84513 4.31227 7.36375L8.43799 2.05126C8.78949 1.59864 8.7291 0.928972 8.30311 0.555503C7.87713 0.182033 7.24685 0.246191 6.89535 0.698803L3.46543 5.11535L1.70251 3.26635Z' fill='white'/%3E%3C/svg%3E%0A")
    background-position: center


.switch
  position: relative
  display: inline-block
  width: 38px
  height: 19px
  flex: 1 0 38px
  max-width: 38px


.switch input
  opacity: 0
  width: 0
  height: 0


.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #C0CFE4

  -webkit-transition: .4s
  transition: .4s


.slider:before
  position: absolute
  content: ""
  height: 19px
  width: 19px
  left: 0px
  bottom: 0px
  background: #92A3BA
  -webkit-transition: .4s
  transition: .4s


input:checked + .slider
  background-color: #468ef0


input:focus + .slider
  box-shadow: 0 0 1px #468ef0

input:checked + .slider:before
  background: #fff

input:focus + .slider:before
  background: #fff


input:checked + .slider:before
  -webkit-transform: translateX(19px)
  -ms-transform: translateX(19px)
  transform: translateX(19px)


/* Rounded sliders */
.slider.round
  border-radius: 34px


.slider.round:before
  border-radius: 50%
 


.flatpickr-wrapper
  position: relative
  input
    position: absolute
    opacity: 0
    width: 100%
    height: 100%
    min-width: 10px

.flatpickr-calendar.open.showTimeInput.timeSelect
  max-width: 115px


.labels-input
  display: flex
  align-items: center
  flex-wrap: wrap


  label
    display: flex
    flex-wrap: wrap
    align-items: center
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    margin-right: 29px
    margin-bottom: 0
    cursor: pointer
    &:last-of-type
      margin-right: 0
    svg
      margin-left: 7px
      margin-right: 7px


.nice-select.disabled
  color: rgba(43,54,68,.8)
  border: none
  &::after
    display: none

.table-disabled-input
  margin-right: 18px
  &.hidden
    display: none !important
  &.p-tot-bot
    height: 37px
    display: flex
    padding: 7px 15px

.icon-data-picker
  &.hidden
    display: none !important

.js-flatpickr.flatpickr-wrapper.hidden
  display: none !important


.input-fix-small
  &.d-flex
    &.align-items-center
      .input-text
        width: 115px


.w100 
  width: 100% !important
  min-width: 100px


.textarea-small
  width: 490px !important
  min-width: 150px !important
  
  position: static !important
.textarea-exsmall
  width: 240px !important
  min-width: 150px !important
  position: static !important

.table-clear
  
  border: 0 !important
  padding: 0 !important
  margin: 0 !important
  tr
    border-top: 0 !important
  td
    border: 0 !important
    margin: 0 !important
    padding-bottom: 0 !important
    padding-left: 5px !important
    padding-right: 5px !important
    padding-top: 10px !important
    textarea
      margin-bottom: 0 !important

.td-sm-w
  width: 308px

.td-xsm-w
  width: 290px
.td-xsm-w-min
  min-width: 290px

.td-thead
  color: #92a3ba
  font-size: 12px !important
  font-family: 'Robotomedium',sans-serif
  font-weight: 400
  text-transform: uppercase
  white-space: normal
  text-align: center

.td-small-namew-s
  width: 55px
  box-sizing: content-box
  input[type="text"]
    width: 55px
    min-width: 100%
    padding-left: 3px !important
    padding-right: 3px !important
.td-small-namew
  min-width: 65px


.td-w-240
  width: 240px

.td-w-100
  width: 100px
  min-width: 100px

.all-time.hidden
  display: none !important

.td-centering
  vertical-align: middle !important
  text-align: center !important


.pause-modal
  .modal-body
    padding-left: 50px
    padding-right: 50px
    +r(991)
      padding-left: 20px
      padding-right: 20px


.uderline-input
  width: 100%
  padding: 10px 0
  font-size: 12px
  +rb-m 
  border-bottom: 1px solid #C0CFE4
  margin-bottom: 10px
  &::placeholder
    text-transform: uppercase
    opacity: 1
    color: #92A3BA

.pause-text
  font-size: 14px
  color: rgba(#2B3644, 0.8)
  margin-bottom: 36px

.date-bg
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 20H16C16.5304 20 17.0391 19.7893 17.4142 19.4142C17.7893 19.0391 18 18.5304 18 18V4C18 3.46957 17.7893 2.96086 17.4142 2.58579C17.0391 2.21071 16.5304 2 16 2H14V1C14 0.734784 13.8946 0.48043 13.7071 0.292893C13.5196 0.105357 13.2652 0 13 0C12.7348 0 12.4804 0.105357 12.2929 0.292893C12.1054 0.48043 12 0.734784 12 1V2H6V1C6 0.734784 5.89464 0.48043 5.70711 0.292893C5.51957 0.105357 5.26522 0 5 0C4.73478 0 4.48043 0.105357 4.29289 0.292893C4.10536 0.48043 4 0.734784 4 1V2H2C1.46957 2 0.960859 2.21071 0.585786 2.58579C0.210714 2.96086 0 3.46957 0 4V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20ZM2 18V8H16V18H2ZM16 4V6H2V4H16Z' fill='%2392A3BA'/%3E%3Cpath d='M10 10H8V12H10V10Z' fill='%2392A3BA'/%3E%3Cpath d='M6 10H4V12H6V10Z' fill='%2392A3BA'/%3E%3Cpath d='M14 10H12V12H14V10Z' fill='%2392A3BA'/%3E%3Cpath d='M10 14H8V16H10V14Z' fill='%2392A3BA'/%3E%3Cpath d='M6 14H4V16H6V14Z' fill='%2392A3BA'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: 98% 7px