.icon
  &-white
    background: #FFFFFF
    box-shadow: 0px 0px 3px rgba(160, 166, 174, 0.7)
    border-radius: 6px
    display: flex
    align-items: center
    justify-content: center
    width: 32px
    height: 32px
  &-white-circle
    display: flex
    justify-content: center
    align-items: center
    +rb-b
    font-size: 9.6px
    line-height: 12px
    text-align: center
    color: #468EF0
    background: #FFFFFF
    border: 1px solid #FFFFFF
    box-sizing: border-box
    box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8) 
    border-radius: 50%
    min-width: 20px
    min-height: 20px
  &-chev-bottom
    fill: transparent !important
    stroke: #023E7D
  &-calendar-dates
    width: 18px
    height: 18px
    cursor: pointer
    fill: #023E7D
  &-data-picker
    display: inline-flex
    align-items: center
    justify-content: center
    .icon
      display: flex
      justify-content: center
      align-items: center
  &-people
    width: 24px
    height: 24px
    fill: transparent
    stroke: #0466C8
    stroke-width: 2px
  &-del
    fill: #0466C8

.icon-carbon_add
  fill: $darkblue
  filter: drop-shadow(0px 0px 4px rgba(2, 62, 125, 0.5))