.menu
  &.active 
    transform: translateX(0%)
  +r(1024)
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: #ffffff
    z-index: 150 
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    transform: translateX(-100%)
    transition: all .2s ease
  &__list
    display: flex
    flex-wrap: wrap
    +r(1024)
      flex-direction: column
      align-items: center
      justify-content: center
  &__item
    margin-right: 40px
    &:last-of-type
      margin-right: 0
    
    +r(1024)
      margin-right: 0
      margin-bottom: 25px
  &__link
    color: rgba(#2B3644, .8)
    text-transform: uppercase
    &:hover
      color: #004E9C
      text-decoration: none
    &.is-active
      color: #004E9C
      position: relative
      &::before
        content: ''
        position: absolute
        bottom: -7px
        left: 0
        background: #468EF0
        width: 100%
        height: 1px