.draggable-container
  &--is
    &-dragging

.js-sortable-item
  &.draggable-source--is-dragging
    background: #fff
    width: 100%
  &.draggable-mirror
    background: #ffffff
    width: 100%
    display: flex
    justify-content: space-between
    .name-wrap
      min-width: 570px