.table-grid
  &__flex-top
    align-items: flex-start !important
    > *:not(.nav-table-tr)
      flex: 1
    .nav-table-tr
      margin-right: 6px
      display: flex
      flex-wrap: wrap
      .drag
        margin-right: 5px
  &__wrapper
    padding-left: 17px
    padding-right: 17px
    .icon
      &:hover
        color: #023E7D !important
    thead, tbody
      display: flex
      flex-wrap: wrap
      width: 100%
      tr
        width: 100%
        display: flex
        flex-wrap: wrap
        &.bordered-top
          border-top: 1px solid rgba(#D2D4DB, 0.3)
          .icon
            opacity: 0
          .drag
            opacity: 0
          &:last-of-type
            border-bottom: 1px solid rgba(#D2D4DB, 0.3)
          &:hover
            background: #F8F9FC
            .drag
              opacity: 1
            .icon
              opacity: 1
              pointer-events: auto
            input[type="text"], textarea
              background: transparent
              &:disabled
                background: transparent
          input[type="text"]
            // padding-left: 3px !important
            // padding-right: 3px !important
            &:not(.js-datepicker)
              cursor: default
              &:focus
                background: #EDF1FD !important
                pointer-events: auto
                cursor: text
                &:disabled
                  cursor: default
                  background: transparent !important
                &:readonly
                  cursor: default
                  background: transparent !important
          textarea
            cursor: default
            &:focus
              cursor: text
              background: #EDF1FD !important
              pointer-events: auto
              &:readonly
                cursor: default
                background: transparent !important
              &:disabled
                cursor: default
                background: transparent !important
              
  &-item
    display: flex
    flex-wrap: wrap
    align-items: center
    box-sizing: border-box !important
    input[type=text]
      min-width: 100%
      max-width: 100%
      width: 100%
    .nav-task
      margin-left: auto
    &:first-of-type
      padding-left: 17px
    &__column
      flex-direction: column
    &__6
      width: 46.59%
      flex: 1 0 46.59%
      max-width: 46.59%
      min-width: 46.59%
    &__5
      width: 50%
      flex: 1 0 50%
      max-width: 50%
      min-width: 50%
    &__4
      width: 23%
      flex: 1 0 23%
      max-width: 23%
      min-width: 23%
      &-big
        width: 35%
        flex: 1 0 35%
        max-width: 35%
        min-width: 35%
    &__2
      width: 16.3%
      min-width: 16.3%
      max-width: 16.3%
      flex: 1 0 16.3%
    &__1
      width: 8.3%
      min-width: 8.3%
      max-width: 8.3%
      flex: 1 0 8.3%
      box-sizing: border-box !important
      &-big
        width: 14.3%
        min-width: 14.3%
        max-width: 14.3%
        flex: 1 0 14.3%
      &-small
        width: 64px
        min-width: 64px
        max-width: 64px
        flex: 1 0 64px
      input[type=text]
        width: 100% !important
        min-width: 100% !important
        max-width: 100% !important
        box-sizing: border-box
    &__auto
      flex: 1

.js-sortable-count-number
  margin-right: 6px

#scheme_table .modal-dialog
  width: 880px
  min-width: 880px !important
.modal-content
  // .statistics tbody, .statistics thead
  //   display: table-row-group
  // .statistics tbody tr, .statistics thead tr
  //   display: table-row
  .statistics thead tr th
    width: 90px
    flex: 1 0 90px
    max-width: 90px
    &:first-of-type
      width: 173px
      flex: 1 0 173px
      max-width: 173px
  .statistics tbody tr td
    width: 90px
    &:first-of-type
      width: 173px
  .statistics
    input[type="text"]
      background: #FFFFFF !important
      box-sizing: border-box
      border-radius: 4px
      border: 1px solid #EAEAEA !important
      &:focus
        filter: drop-shadow(-2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7)), drop-shadow(2.58065px 1.29032px 8px rgba(136, 165, 191, 0.2))
        
        background: #fff !important
        border: 1px solid #0466C8
  input[type="text"]
    width: 88px
    min-width: 88px
    max-width: 88px
    background: #fff !important
    padding-left: 12px !important
    padding-right: 12px !important

    &:not(.js-datepicker)
      pointer-events: auto
      cursor: text
      &:disabled
        cursor: default
        background: transparent !important
      &:readonly
        cursor: default
        background: transparent !important
  textarea
    cursor: text
    background: #EDF1FD !important
    pointer-events: auto
    &:readonly
      cursor: default
      background: transparent !important
    &:disabled
      cursor: default
      background: transparent !important
.accordeon-wrap .accordeon-content table tr td .modal-content .price
    +rb-b
    font-size: 16px
    color: #EB5757
.accordeon-wrap .accordeon-content table tr td .modal-content .price-oldd
    +rb-b
    font-size: 16px
    color: rgba(43, 54, 68, 0.8) !important


.complete_task
  position: relative
  border-radius: 4px 0 0 4px
  overflow: hidden
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 4px
    background: $green
    height: 100%
  &_fail
    position: relative
    border-radius: 4px 0 0 4px
    overflow: hidden
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 4px
      height: 100%
      background: $red

.text-center-flex-all
  align-items: center !important
  text-align: center !important
  justify-content: center !important

.current-time-dark
  color: #001233
  font-size: 13px

.total-time
  width: 24.27%
  display: flex
  justify-content: center
  font-size: 12px
  color: #33415C
  +rb-m
  align-items: center
  .icon-add-time
    margin-left: 30px
  &__current
    padding-left: 8px
    +rb-sb
    svg
      width: 14px
      height: 14px

.l-section__big
  width: 25%

.small-top-adding
  td, th
    padding-top: 5px !important


.table-sub
  &__name
    display: flex
    flex-wrap: wrap   
    align-items: center 
    height: 48px
    padding-left: 17px
    padding-right: 17px
    width: 100%
    ~ table.table
      margin-top: 0
    .table-sub__title
      width: 46.9%
      font-size: 14px
      text-transform: uppercase
      color: #002855
      display: flex
      flex-wrap: wrap
      align-items: center
      .add-btn-js
        margin-left: 12px
        display: inline-flex
        align-items: center

.accordeon-wrap
  .accordeon-content 
    table 
      .flex-summ-nav
        width: 100%
        padding-right: 11px
        .icon
          margin-left: 12px

.accordeon-wrap .accordeon-content table.table-grid__wrapper thead tr td.center-main,
.accordeon-content table.table-grid__wrapper thead tr td.center-main
  text-align: center !important
  justify-content: center !important


.nav-row, .accordeon-wrap 
  min-width: 1150px

.table-header-main + .table-sub__header
  margin-top: 0 !important

#scheme_table.accordeon-content table .unit-list.left-select
  text-align: left !important
  padding-left: 0 !important

.d-f-sb
  justify-content: space-between

.modal-footer
  justify-content: center
  border-top: none
  .btn-blue
    background: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #004E9C 11.1%, #0368CD 85.21%), #004E9C
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    color: #fff
    border-radius: 8px
    +rb-m
    font-size: 14px
    border: 1px solid #004E9C
  .btn-blue-border
    border-radius: 8px
    +rb-m
    font-size: 14px
    background: #ffffff
    box-shadow: -2.58065px -1.29032px 10.3226px rgba(255, 255, 255, 0.7), 2.58065px 1.29032px 10.3226px rgba(136, 165, 191, 0.38)
    color: #0466C8
    border-color: #004E9C


.modal-header
  border-bottom: none
  padding-top: 32px
  .modal-title
    font-size: 16px
    line-height: 19px
    color: rgba(43, 54, 68, 0.8)
    +rb-sb


.modal-header .close
	padding: 10px
	margin: 0
	margin-top: 0
	display: flex
	margin-top: -10px



.tooltip-inner
	max-width: 200px
	padding: 3px 16px
	color: #fff
	text-align: center
	background-color: #33415C
	border-radius: .25rem
	padding-bottom: 6px
  +rb
  font-size: 12px

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before
	top: 0
	border-width: .4rem .4rem 0
	border-top-color: #33415C


.blue-link
  color: #0466C8
  display: inline-flex
  align-items: center
  margin-top: 24px
  margin-bottom: 4px
  &:hover
    text-decoration: none
    color: #0466C8
  svg
    margin-right: 10px


.table-grid__wrapper tbody tr.bordered-top
  &:hover
    .nav-table__item:not(.js-sortable-count-number)
      display: inline-flex
      margin: 0 !important
      padding: 0 !important
      .drag
        position: absolute
        left: -18px
      .input-checkbox
        display: none


.plane-wrapp
  .table-grid__wrapper tbody tr.bordered-top
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 30px
      height: 100%
      transform: translateX(-100%)
    &:hover
      .nav-table__item:not(.js-sortable-count-number)
        display: inline-flex
        margin: 0 !important
        padding: 0 !important
        .drag
          position: absolute
          left: -10px
        .input-checkbox
          display: none
      

// .nav-table__item
//   &:not(.js-sortable-count-number)
//     display: none

// tr:hover
//   .nav-table__item
//     &:not(.js-sortable-count-number)
//       display: inline-flex
//       margin: 0
//       padding: 0
//       .drag
//         position: absolute
//         left: -11px
//       .input-checkbox
//         display: none