.control {
    margin: 33px 0 0 22px;
    color: rgba(43, 54, 68, 0.8);
}

.control .header {
    font-weight: 500;
    font-size: 18px;
    padding-top: 9px;
}

.control .detail {
    margin-left: 27px;
    background-color: white;
    padding: 12px 20px 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    color: #92A3BA;
}

.control .detail .delim {
    font-size: 18px;
    border-right: 1px #ced0d2 solid;
    opacity: 0.6;
    line-height: 18px;
    margin: 0 13px;
}

.control .detail .value {
    font-size: 14px;
    font-weight: bold;
    color: #2B3644;
    opacity: 0.8;
    padding-left: 11px;
    line-height: 17px;
}

.control .header-menu {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 27px;
}

.control .header-menu .item {
    margin-right: 36px;
}

.control .filters {
    margin-top: 45px;
    padding: 25px 25px 0 25px;
    background-color: white;
    color: #92A3BA;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.control .users {
    background-color: white;
    font-size: 12px;
    line-height: 14px;
    color: #2B3644;
}

.control .users .user-row {
    margin-top: 17px;
    text-align: left;
}

.control .users .user_info {
    margin: 0px 0 0 20px;
}

.control .users .user_info .u-id {
    margin-right: 10px;
}

.control .users .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(319.78deg, #2DC58E 7.49%, #38EF7D 99.57%);
}

.control .users .user_info .fio {
    margin-left: 15px;
}

.control .users .user_icon {
    width: 30px;
}

.control .users .line {
    border-bottom: 1px #C0CFE4 solid;
    padding-bottom: 19px;
}

.control .users .position .item:before {
    content: "";
    display: block;
    width: 20px;
    position: relative;
    left: -7px;
    float: left;
    border-radius: 3px;
    height: 20px;
    top: -3px;
}

.control .pink:before {
    background-color: #FA9AC6;
}

.control .green:before {
    background-color: #BAF1A1;
}

.control .dgreen:before {
    background-color: #9DE3D0;
}

.control .contact .mail:before,
.control .contact .telega:before,
.control .contact .phone:before {
    display: block;
    content: ' ';
    background-size: 18px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 22px;
    float: left;
    position: relative;
    top: -3px;
}


.control .contact .mail:before {
    background-image: url(../icon/mail.svg);
}

.control .contact .telega:before {
    background-image: url(../icon/telega.svg);
}

.control .contact .phone:before {
    background-image: url(../icon/phone.svg);
}

.control .user-row:last-child .users {
    padding-bottom: 15px;
}

.control .user-row .item {
    clear: both;
    min-height: 23px;
    display: table;
}
.control .role-list{

}
.control .role-list .btn{
    color: #5D6C80;
    border: 1px #C0CFE4 solid;
    border-radius: 5px;
    font-size: 12px;
}
.control .role-list .dropdown-menu{
    font-size: 12px;
    color: #5D6C80;
    line-height: 14px;
    padding: 3px 15px 13px 26px;
}
.control .role-list .dropdown-menu label{
    font-weight: normal;
}
.control .role-list .custom-checkbox{
    padding: 1px;
    margin-top: 5px;
}
.control #pagination{
    text-align: center;
}
.control .pagination > .active > a{
    background-color: #004E9C;
    border-color: #004E9C;
}
.control .btn-row{
    margin: 0 10px 27px;
}
.control .btn-row .btn{
    margin-right: 20px;
}

.modal .modal-body {
    padding: 16px 30px;

}

.modal-content label,
.modal-content select{
    font-size: 13px;
    color: #7B8492;
}
.modal-content .file-value{
    display: inline-block;
    font-size: 13px;
}
.modal-content .btn-empty {
    color: #2F80ED;
}
.modal-content .modal-header{
    padding-left: 30px;
}