.df{display:flex;}
.br{border:1px red solid;}
.bg{border:1px green solid;}
.dn{display: none;}
.cp{cursor:pointer;}
.fl{float: left;}
.b{font-weight:bold !important;}
.fr{float: right;}
.inline{white-space: nowrap; }
.dline{display: inline;}
.cl{clear:both;}
.pr{position: relative;}

.h0{height:0px;}
.h1{height:1px;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}

.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}

.mw35{max-width: 35px;}

.mb0{margin-bottom: 0px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mt40{margin-top:40px;}
.mb40{margin-bottom:40px;}
.mt50{margin-top:50px;}
.mb50{margin-bottom:50px;}
.mt60{margin-top:60px;}
.mb60{margin-bottom:60px;}
.mt70{margin-top:70px;}
.mb70{margin-bottom:70px;}
.mt80{margin-top:80px;}
.mb80{margin-bottom:80px;}
.mt90{margin-top:90px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}
.mt200{margin-top:200px;}

.pl0{padding-left: 0px;}
.pb0{padding-bottom: 0px;}
.pb10{padding-bottom: 10px;}

.pr0{padding-right: 0px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}

.mc{margin-left:auto; margin-right:auto;}
.p0{padding: 0px;}
.m0{margin: 0px!important;}
.w100pr{width:100%;}
.w50pr{width:50%;}
.h100pr{height:100%;}
.h100v{height: 100vh;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}

.bg-c-1{
    background-color: #f6f6f6;
    padding: 15px;
}
.bg-c-2{
    background-color: #eaeaea;
    padding: 15px;
}