body {
    background-color: #DDEBFF;
    color: #21272F;
    font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    padding: 5px 21px;
    border-radius: 6px;
    text-transform: capitalize;
    background-color: #2F80ED;
    border: 1px #2F80ED solid;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #3d75ce;
    border: 1px #3d75ce solid;
}

.btn-empty {
    display: inline-block;
    font-weight: 400;
    color: #2F80ED;
    text-align: center;
    vertical-align: middle;
    padding: 6px 16px;
    user-select: none;
    border-radius: 6px;
    border: 1px #2F80ED solid;
    background-color: transparent;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

#pagination .file-value {
    margin-top: 40px;
    margin-bottom: 50px;
}

#pagination .pagination {
    display: inline-flex;
}

/****
***** login form
****/
#content {
    transition: margin-left .5s;
    margin-left: 55px;
}

#login-form .uform {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    border: 0px;
    background: transparent;
    padding: 0 5px;
    outline: none;
    font-family: inherit;
}

#login-form .help-block {
    display: none;
}

#login-form .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#login-form .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

#login-form .focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#login-form .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

#login-form .form-group {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#login-form .focus-input100.top:after {
    top: -15px;
}

#login-form .has-error + .focus-input100:after {
    color: #ec4302;
}

#login-form .has-val + .focus-input100:after {
    top: -15px;
}

/****
***** Menu
****/

.left-menu {
    height: 100%;
    position: fixed;
    width: 55px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5667DE;
    background: linear-gradient(to bottom, #5667DE, #5990E9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.left-menu .mbt {
    flex-grow: 2;
    flex-wrap: wrap;
}

.left-menu a,
.left-menu .logout {
    padding: 12px 8px 12px 6px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    line-height: 17px;
}

.left-menu .btn:active,
.left-menu .btn:focus {
    outline: none;
    border: 0px;
}

.left-menu .btn::-moz-focus-inner {
    border: 0;
}

#left-menu::-webkit-scrollbar {
    display: none;
}

#left-menu {
    -ms-overflow-style: none;
}

@media screen and (max-height: 450px) {
    .left-menu {
        padding-top: 15px;
    }

    .left-menu a {
        font-size: 18px;
    }
}

/*  !Menu */

/****
***** Nav
****/

#left-menu .ico {
    width: 18px;
    height: 20px;
    display: inline-flex;
    background-color: #d2d2d2;
    position: relative;
    cursor: pointer;
}

#left-menu .logo_img,
#left-menu .user_img {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: white;
    margin-left: 10px;
}

#left-menu .line {
    color: white;
    height: 1px;
    width: 100%;
    border-top: 2px white solid;
    opacity: 0.2;
}

#left-menu .link.sub a:after {
    content: "";
    display: inline-block;
    background: url(../icon/up.svg) no-repeat center center;
    left: 8px;
    position: relative;
    width: 14px;
    top: 2px;
    height: 12px;
    transition: transform 0.4s ease;
}

#left-menu .sub a:not(.collapsed):after {
    transform: rotate(180deg);
}

#left-menu .h-lnk:hover {
    background-color: #4B5EDA;
    transition: 0.5s ease;
}

#left-menu #submenu1.submenu .h-lnk {
    padding: 0 0 0 10px;
}

#left-menu .sl {
    transition-duration: 1s;
    -webkit-transition: max-height .5s, padding .5s;
    transition: max-height .5s, padding .5s;
}

#left-menu .nmenu {
    height: 100%;
    border: 1px #ff000000 solid;
}

#left-menu .nmenu .m-row {
    white-space: nowrap;
}

#left-menu .icon_orgchart {
    background: url(../icon/orgchrt.svg);
}

#left-menu .icon_chart {
    background: url(../icon/chart.svg);
}

#left-menu .icon_cabinet {
    background: url(../icon/cabinet.svg);
}

#left-menu .icon_dashb {
    background: url(../icon/dashb.svg);
}

#left-menu .icon_board {
    background: url(../icon/board.svg);
}

#left-menu .icon_setting {
    background: url(../icon/setting.svg);
}

#left-menu .icon_staff {
    background: url(../icon/staff.svg);
}

#left-menu .icon_job_descr {
    background: url(../icon/job_descr.svg);
}

#left-menu .icon_ring {
    background: url(../icon/ring.svg);
}

#left-menu .icon_teach {
    background: url(../icon/teach.svg);
}

#left-menu .icon_logout {
    background: url(../icon/logout.svg);
    left: -1px;
    position: relative;
}

#left-menu .icon_ring {
    background: url(../icon/ring.svg);
}

#left-menu .icon {
    display: inline;
    padding: 10px 15px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 12px;
    border: 1px #ffffff00 solid;
}

#left-menu .link {
    padding-left: 5px;
    display: inline-block;
    font-size: 15px;
    transition: .55s opacity, .55s visibility;
    transition-delay: .15s;
    color: white;
    opacity: 0;
    visibility: hidden;
}

#left-menu .subm-body {
    overflow: hidden;
}

#left-menu .subm-body .link {
    font-size: 13px;
}

#left-menu.open .nmenu .link {
    opacity: 0.87;
    visibility: visible;
}

#left-menu .nmenu > .icon, #left-menu .nmenu > .link {
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
    min-width: 0;
    max-width: 100%;
}

#left-menu .mbt {
    height: 100%;
}

/* display: none;
}
/*  !Nav */

.error {
    border: 1px #a94442 solid;
}

.help-block {
    color: #a94442;
    font-size: 12px;
    font-weight: 600;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}