
<div class="nav-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header-mid">Мое планирование</div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 header-top-page">
        

                <div class="sub-header">План на неделю 11</div>

                <div class="calendar-select__wrapper js-flatpickr-range-week" data-def-date='["2020-07-15", "2020-07-21"]' data-start-week="3">
                    <input type="date" placeholder="Select Date.." data-input  /> <!-- input is mandatory -->
                    <div class="calendar-select__slider">
                        <div class="calendar-select__arrow btn-arrow js-calendar-select-prev">
                            {{mixins.icon('mdi_arrow-left')}} 
                        </div>
                        <div class="calendar-select__selected">
                            <span class="js-calendar-select__selected">27.07.2020 – 02.08.2020 </span>
                        </div>
                        <div class="calendar-select__arrow btn-arrow js-calendar-select-next">
                            {{mixins.icon('mdi_arrow-right')}} 
                        </div>
                    </div>
                    
                     
                    <a class="btn-circle" data-toggle>
                        {{mixins.icon('calendar-solid')}} 
                        </a>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xl-6 header-top-page">
                <div class="header-top-page__buttons">
                    <a href="" class="btn btn-blue">Отправить на удтверждение</a>
                    <a href="" class="btn-rounded">
                        {{mixins.icon('list-grid')}} 
                    </a>
                    <a href="" class="btn-rounded grid-icon">
                        {{mixins.icon('card-grid')}} 
                    </a>
                </div>
               
            </div>
        </div> 
    </div>
</div>