
<div class="nav-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 type-time">
                <ul class="type-view-function">
                    <li class="type-view__item ">
                        <a href="#">
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.2266 14.0078H16.3047C16.7808 14.0065 17.237 13.8249 17.5737 13.5029C17.9104 13.1809 18.1001 12.7445 18.1016 12.2891V5.41406C18.1001 4.95864 17.9104 4.52226 17.5737 4.20023C17.237 3.87819 16.7808 3.69667 16.3047 3.69531H2.64844C2.17231 3.69667 1.7161 3.87819 1.37943 4.20023C1.04275 4.52226 0.852984 4.95864 0.851562 5.41406V12.2891C0.852984 12.7445 1.04275 13.1809 1.37943 13.5029C1.7161 13.8249 2.17231 14.0065 2.64844 14.0078H3.72656" stroke="#3984EA" stroke-linejoin="round"/>
                                <path d="M14.1341 8.50781H4.81906C4.21569 8.50781 3.72656 8.97568 3.72656 9.55281V16.4003C3.72656 16.9774 4.21569 17.4453 4.81906 17.4453H14.1341C14.7374 17.4453 15.2266 16.9774 15.2266 16.4003V9.55281C15.2266 8.97568 14.7374 8.50781 14.1341 8.50781Z" stroke="#3984EA" stroke-linejoin="round"/>
                                <path d="M15.2266 3.69531V2.66406C15.2251 2.20864 15.0354 1.77226 14.6987 1.45023C14.362 1.12819 13.9058 0.946673 13.4297 0.945312H5.52344C5.04731 0.946673 4.5911 1.12819 4.25443 1.45023C3.91775 1.77226 3.72798 2.20864 3.72656 2.66406V3.69531" stroke="#3984EA" stroke-linejoin="round"/>
                                <path d="M16.1641 6.10156C16.1641 6.37425 15.9264 6.63281 15.5859 6.63281C15.2455 6.63281 15.0078 6.37425 15.0078 6.10156C15.0078 5.82887 15.2455 5.57031 15.5859 5.57031C15.9264 5.57031 16.1641 5.82887 16.1641 6.10156Z" stroke="#3984EA"/>
                            </svg>                                
                        </a>
                    </li>
                    <li class="type-view__item">
                       <a href="#">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.72656 0.695312H16.7266C17.5222 0.695312 18.2853 1.01138 18.8479 1.57399C19.4105 2.1366 19.7266 2.89966 19.7266 3.69531V12.6953C19.7266 13.491 19.4105 14.254 18.8479 14.8166C18.2853 15.3792 17.5222 15.6953 16.7266 15.6953H3.72656C2.93091 15.6953 2.16785 15.3792 1.60524 14.8166C1.04263 14.254 0.726563 13.491 0.726562 12.6953V3.69531C0.726563 2.89966 1.04263 2.1366 1.60524 1.57399C2.16785 1.01138 2.93091 0.695313 3.72656 0.695312ZM3.72656 1.69531C3.23856 1.69531 2.79056 1.87031 2.44356 2.16131L10.2266 7.21531L18.0096 2.16131C17.6501 1.85973 17.1958 1.6947 16.7266 1.69531H3.72656ZM10.2266 8.40731L1.86056 2.97531C1.77185 3.20499 1.72642 3.4491 1.72656 3.69531V12.6953C1.72656 13.2257 1.93728 13.7345 2.31235 14.1095C2.68742 14.4846 3.19613 14.6953 3.72656 14.6953H16.7266C17.257 14.6953 17.7657 14.4846 18.1408 14.1095C18.5158 13.7345 18.7266 13.2257 18.7266 12.6953V3.69531C18.7266 3.44131 18.6796 3.19831 18.5926 2.97531L10.2266 8.40631V8.40731Z" fill="#3984EA"/>
                            </svg>                            
                       </a>
                    </li>
                    <li class="type-view__item ">
                        <a href="#">
                            <img src="img/icon/time.png" alt="">                              
                        </a>
                    </li>
                    <li class="type-view__item">
                       <a href="#">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.2295 6.85547H2.10744C1.21954 6.85547 0.509216 7.56579 0.509216 8.45369V18.598C0.509216 19.4637 1.21954 20.1962 2.10744 20.1962H12.2517C13.1174 20.1962 13.8499 19.4859 13.8499 18.598V8.45369C13.8278 7.56579 13.1174 6.85547 12.2295 6.85547ZM12.4959 18.5758C12.4959 18.709 12.3849 18.82 12.2517 18.82H2.10744C1.97426 18.82 1.86327 18.709 1.86327 18.5758V8.45369C1.86327 8.32051 1.97426 8.20952 2.10744 8.20952H12.2517C12.3849 8.20952 12.4959 8.32051 12.4959 8.45369V18.5758Z" fill="#3984EA"/>
                                <path d="M17.5569 0.195312H7.43483C6.54693 0.195312 5.83661 0.905634 5.83661 1.79354V5.52273H7.16846V1.79354C7.16846 1.66035 7.27945 1.54936 7.41264 1.54936H17.5569C17.6901 1.54936 17.8011 1.66035 17.8011 1.79354V11.9378C17.8011 12.071 17.6901 12.182 17.5569 12.182H15.1596V13.5138H17.5569C18.4226 13.5138 19.1551 12.8035 19.1551 11.9156V1.79354C19.1551 0.905634 18.4448 0.195312 17.5569 0.195312Z" fill="#3984EA"/>
                            </svg>                            
                       </a>
                    </li>
                </ul>

                <ul class="type-view-function ">
                    <li class="type-view__item showAll">
                        <a href="#">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.832031 8.19531L5.83203 13.1953L10.832 8.19531" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M0.832031 1.19531L5.83203 6.19531L10.832 1.19531" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </a>
                    </li>
                    <li class="type-view__item hideAll">
                       <a href="#">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.832 6.19531L5.83203 1.19531L0.832031 6.19531" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.832 13.1953L5.83203 8.19531L0.832031 13.1953" stroke="#3984EA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                       </a>
                    </li>
                </ul>

            </div>

           
        </div>
    </div>
</div>