.icon-calendar-dates {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar-solid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-carbon_add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card-grid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checklist {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-chev-bottom {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-chevrons-top {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-del {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list-grid {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mdi_arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mdi_arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mdi_calendar-today {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-mdi_calendar-week {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-people {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-time-forward {
  width: 1em;
  height: 1em;
  fill: initial;
}
