.groups-users
  &__clear
    background: transparent
    box-shadow: 0px 0px 0px rgba(168, 195, 234, 0)
    border: 1px dashed #CADCFE
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 16px
    margin-top: 30px
    min-height: 138px
    padding-left: 57px
    padding-right: 36px
    +r(991)
      padding-left: 15px
      padding-right: 15px
  &__form
    width: 100%
    &-title
      font-size: 12px
      line-height: 14px
      color: #7B8492
    &-row
      width: 100%
      display: flex
      flex-wrap: wrap
      align-items: center
      margin-top: 3px
      input
        padding-left: 13px
        padding-right: 13px
        background: #FFFFFF
        border: 1px solid #C0CFE4
        box-sizing: border-box
        border-radius: 4px
        line-height: 35px
        flex: 1
        margin-right: 9px
        font-size: 12px
        &::placeholder
          color: #92A3BA
          opacity: 1
          line-height: 35px
  &__wrapper
    background: #FFFFFF
    box-shadow: 0px 1px 4px rgba(168, 195, 234, 0.8)
    border-radius: 5px
    margin-top: 30px
    padding: 16px
    display: flex
    flex-wrap: wrap
    position: relative
    
    &-edit
      position: absolute
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: #ffffff
      z-index: 150
      left: 0
      top: 0
      padding: 16px
      padding-left: 57px
      padding-right: 36px
      +r(640)
        padding-left: 15px
        padding-right: 15px
  &__header
    display: flex
    flex-wrap: wrap
    align-items: center
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    +rb-b
    margin-bottom: 12px
    width: 100%
    span
      margin-left: auto
      color: #92A3BA
  &__item
    font-size: 12px
    line-height: 14px
    color: rgba(43, 54, 68, 0.8)
    margin-bottom: 7px
    display: flex
    align-items: center
    flex-wrap: wrap
    &:last-of-type
      margin-bottom: 0
    &-text
      flex: 1
  &__side
    display: flex
    flex-wrap: wrap
    
    flex: 1 0  calc(100% - 52px)
    width: calc(100% - 52px)
    max-width: calc(100% - 52px)
    +r(640)
      flex: 1 0 100%
      width: 100%
      max-width: 100%
  &__body
  &__icons
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    padding-left: 17px
    +r(640)
      flex-direction: row
      width: 100%
      margin-top: 10px
    .icon
      width: 32px
      height: 32px
      margin-bottom: 5px
      +r(640)
        margin-bottom: 0
        margin-right: 10px
      &:last-of-type
        margin-bottom: 0
        +r(640)
          margin-right: 0
    .icon-delete
      margin-top: 6px
      +r(640)
        margin-top: 0